.content-wrapper {
  background: transparent;
  --background: transparent;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

.camera-preview {
  flex: 2;

  &.capture-img {
    overflow: hidden;

    ion-text {
      position: absolute;
      width: 100%;
      text-align: center;
      background: var(--ion-color-step-600);
      opacity: 0.5;
      color: var(--ion-color-primary-contrast);
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      display: block;
      margin: auto;
      width: 100%;
    }
  }
}

.action-wrap {
  flex: 1;
  background: var(--ion-color-white);
  align-items: center;
}
.action-wrap-content {
  padding-left: 15px;
  padding-right: 15px;
}
.action-stat-col {
  h5 {
    // font-family: var(--ion-font-family-bold);
    // font-size: 20px;
    // color: --ion-border-color;
    // margin-bottom: -10px;

    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--ion-border-color);
    font-style: var(--ion-font-family-medium);

    span {
      // font-family: var(--ion-font-family-book);
      // color: var(--ion-color-step-400);
      // font-size: 16px;
      display: block;
      margin-top: 7px;

      font-size: 14px;
      color: var(--ion-border-color);
      line-height: 17px;
      font-style: var(--ion-font-family-book);
    }
  }
}
.action-log-row {
  margin: 20px 0 30px;
  .action-log-col {
    &.first {
      border-right: 2px solid var(--ion-color-light);
      padding: 0 20px 0 5px;
    }
    &.second {
      padding: 0 5px 0 20px;
    }
    p {
      margin: 0;
      &.label {
        font-family: var(--ion-font-family-book);
        margin: 0 0 15px 0;
        color: var(--ion-color-step-600);
      }
    }
  }
}
.action-btn-row {
  .action-btn-col {
    ion-button {
      --border-radius: 0;
    }
  }
}
.action-rbtn-wrap {
  display: flex;
  flex-direction: row;
}
.rbtn-title {
  margin: 0 0 0 15px;
  font-weight: bold;
}

.noti-badge {
  position: absolute;
  top: 0px;
  left: 15px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: normal;
  z-index: 1;
}

.noti-icon {
  font-size: 26px;
}

.noti-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}

.top-text {
  background: var(--ion-color-step-600);
  opacity: 0.5;
  color: var(--ion-color-primary-contrast);
  min-height: 50px;
  ion-col {
    display: block;
    margin: auto;
    text-align: center;
  }
}

.customer-details {
  ion-item {
    --padding-start: 0px;
  }
  ion-label {
    font-family: var(--ion-font-family-book);
    color: var(--ion-color-step-400);
    margin-bottom: 10px;
  }
  ion-text {
    font-weight: 900;
    font-size: 16px;
  }

  .action-stat-col {
    padding-top: 0;
    &:first-child {
        padding-left : 0;
    }
  }
}

.width-100 {
  width: 100%;
}