<ion-content [ngClass]="{'content-wrapper': cameraPreviewCompleted}">
  <ion-grid class="wrapper">
    <ng-container *ngIf="!capturedImage">
      <ion-row class="top-text">
        <ion-col size="12">
          <ion-text>
            Camera will capture your image
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="camera-preview">
        <ion-col></ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="capturedImage">
        <div class="camera-preview capture-img">
          <ion-text>
            Camera will capture your image
          </ion-text>
          <img [src]="capturedImage" />
        </div>
    </ng-container>
    <ion-row class="action-wrap">
      <ion-col class="action-wrap-content">
        <ion-row
          class="action-stat-row"
          *ngIf="attendanceStatusList&&attendanceStatusList.length"
        >
          <ion-col size="12" class="action-stat-col" *ngIf="punchStatus===1">
            <h5>
              {{'Log In'}}
              <span *ngIf="punchInDetails && punchInDetails.TimeStamp"
                >{{punchInDetails.TimeStamp | dateTimeFormat: 'dateTime'}}</span
              >
            </h5>
          </ion-col>
          <ion-col size="12" class="action-stat-col" *ngIf="punchStatus===3">
            <h5>
              {{'Check In'}}
              <span *ngIf="checkInDetails && checkInDetails.TimeStamp"
                >{{checkInDetails.TimeStamp | dateTimeFormat: 'dateTime'}}</span
              >
            </h5>
          </ion-col>
          <ion-col size="12" class="customer-details">
            <ion-row *ngIf="punchStatus===3">
              <ion-col size="6" class="action-stat-col">
                <ion-item class="customer-det-item" lines="none">
                  <ion-label position="stacked">Customer Name</ion-label>
                  <ion-text color="dark">
                    {{ checkInDetails.CustomerName &&
                    checkInDetails.CustomerName.length > 40 ?
                    checkInDetails.CustomerName.substr(0, 40) + '...' :
                    checkInDetails.CustomerName }}
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="action-stat-col">
                <ion-item class="customer-det-item" lines="none">
                  <ion-label position="stacked">Customer Adderss</ion-label>
                  <ion-text color="dark">
                    {{ checkInDetails.CustomerAddress &&
                    checkInDetails.CustomerAddress.length > 40 ?
                    checkInDetails.CustomerAddress.substr(0, 40) + '...' :
                    checkInDetails.CustomerAddress }}
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-row *ngIf="punchStatus===2" class="width-100">
            <ion-col size="6" class="action-stat-col">
              <h5>
                {{'Log In'}}
                <span *ngIf="punchInDetails && punchInDetails.TimeStamp"
                  >{{punchInDetails.TimeStamp | dateTimeFormat:
                  'dateTime'}}</span
                >
              </h5>
            </ion-col>
            <ion-col size="6" class="action-stat-col">
              <h5>
                {{'Log Out'}}
                <span *ngIf="punchOutDetails && punchOutDetails.TimeStamp"
                  >{{ punchOutDetails.TimeStamp | dateTimeFormat:
                  'dateTime'}}</span
                >
              </h5>
            </ion-col>
          </ion-row>
        </ion-row>
        <ion-row class="action-btn-row">
          <ion-col size="6" class="action-btn-col">
            <!-- (click)="confirmAttendance('attendance-in',false)" -->
            <ion-button
              (click)="handlePunch(1)"
              mode="ios"
              expand="block"
              [disabled]="punchStatus!==0 || btnsDisabel?.login"
            >
              Log In
            </ion-button>
          </ion-col>
          <ion-col size="6" class="action-btn-col">
            <!-- (click)="confirmAttendance('attendance-out',false)" -->
            <ion-button
              (click)="handlePunch(2)"
              mode="ios"
              color="btn-cancel"
              expand="block"
              [disabled]="[0,2].includes(punchStatus) || btnsDisabel?.logout"
            >
              Log Out
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="action-btn-row">
          <ion-col size="6" class="action-btn-col">
            <ion-button
              (click)="confirmAttendance('attendance-in',true)"
              mode="ios"
              expand="block"
              [disabled]="punchStatus!==1"
            >
              Check In
            </ion-button>
          </ion-col>
          <ion-col size="6" class="action-btn-col">
            <ion-button
              (click)="confirmAttendance('attendance-out',true)"
              mode="ios"
              color="btn-cancel"
              expand="block"
              [disabled]="punchStatus!==3"
            >
              Check Out
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
