<ion-content>
  <ion-row>
    <ion-col>
      <app-calendar [customerVisitData]="customerVisitData" [componentType]="calendarComponentTypeTeam"
        [getTeamCountActionCallback]="handleTeamCountActionCallback">
      </app-calendar>
    </ion-col>
  </ion-row>
  <div [ngClass]='screenType!=="landscape"?"sticky-content":""'>
    <ion-row class="time-sec main-row">
      <ion-col size="12">
        <span>
          {{ body.FromDate |date: 'dd-MM-yyyy' }}
        </span>
      </ion-col>
    </ion-row>
  </div>
  <ng-container *ngIf="isLeavesListReadyToRender && (visits && visits.length)">
    <ng-container>
      <ion-row class="contents attend-hist-info">
        <ng-container>
          <ion-col class="padding-non" size="12">
            <ion-row class="header-row">
              <ion-col size="3"> Names </ion-col>
              <ion-col size="2"> Total visits </ion-col>
              <ion-col size="2"> Pending Approval </ion-col>
              <ion-col size="4"> Spent </ion-col>
              <ion-col size="1"> </ion-col>
            </ion-row>
            <ion-row class="table-content" *ngFor="let data of visits[0].employeeVisitDetails"
              (click)="navigate(data.visitDetails)">
              <ion-col size="3"> {{data.employeeName}} </ion-col>
              <ion-col size="2"> {{data.visits}} </ion-col>
              <ion-col size="2"> {{data.pendingApproval}} </ion-col>
              <ion-col size="4"> {{data.spentTime}} </ion-col>
              <ion-col size="1">
                <ion-icon name="chevron-forward-outline" class="chevron-forward-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ng-container>
      </ion-row>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isLeavesListReadyToRender && (!visits || !visits.length)">
    <ion-col size="12" sizeMd="12">
      <ion-card class="no-record">
        <ion-card-content> No Visits Recorded </ion-card-content>
      </ion-card>
    </ion-col>
  </ng-container>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="filter-btn" (click)="handleFilter()">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>