.main-row {
  padding: 0;

  ion-col.main-col {
    padding: 0;
  }

  ion-col {
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-book);

    &:last-child {
      padding: 10px;
    }
  }
}

.user-details {
  text-transform: capitalize;
  font-size: 18px;
  padding: 20px;
  background: var(--ion-grey-bg);
  font-weight: bolder;
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
    font-family: var(--ion-font-family-book);
    color: var(--ion-color-step-600);
    display: block;
    margin: 8px 0 0;
  }

  ion-img {
    margin: auto;
    width: 70%;
  }

  ion-col {
    padding: 0;
  }

  ion-text {
    font-size: 18px;
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-bold);
    font-weight: 400;
  }

  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
}

.header-row {
  font-weight: bolder;
  background: var(--ion-color-step-950);
  min-height: 40px;

  ion-col {
    margin: auto;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-family: var(--ion-font-family-bold);

    &:first-child {
      justify-content: flex-start;
      padding-left: 15px;
    }
  }
}

.table-content {
  border-bottom: 1px solid var(--ion-table-border-color);
  background: var(--ion-color-light-tint-ex);
  min-height: 46px;

  & ion-col {
    padding: 0 10px;
    text-align: center;
    margin: auto;
  }

  & ion-col:first-child {
    display: flex;
    text-align: left;
    padding-left: 15px;
  }

  ion-col:last-child {
    display: flex;
  }

  ion-icon {
    margin: auto;
    color: var(--ion-color-light-gr);
  }
}

.header-info .table-content:last-child {
  border-bottom: 1px solid var(--ion-color-step-400);
}

.chevron-forward-outline {
  font-size: 16px;
  font-weight: bold;
}

.table-content {
  font-size: 12px;

  &.add-error {
    background-color: var(--ion-color-danger-shade-rgb);

    ion-icon {
      color: var(--ion-color-danger);
    }
  }

  &.add-success {
    background-color: var(--ion-color-success-shade-rgb);

    ion-icon {
      color: var(--ion-color-success);
    }
  }
}

.team-filter-info-row {
  background: var(--ion-color-primary-contrast);
}

.team-filter-info {
  // padding: 15px;
  text-align: center;

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-medium);
    color: var(--ion-border-color);
    margin: 0;

    em {
      font-style: normal;
      color: var(--ion-color-step-600);
    }
  }
}

ion-row.attend-collapsed {
  height: 41px;
  overflow: hidden;
}

ion-row.attend-hist-info {
  ion-col.group-date {
    padding: 10px;

    ion-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;

      .team-visit-date-txt {
        font-size: 16px;
        font-family: var(--ion-font-family-medium);
        color: var(--ion-border-color);
        margin-bottom: 0;
        position: relative;

        &::after {
          content: "";
          width: 50px;
          height: 1px;
          display: inline-block;
          background: var(--ion-color-border);
          position: absolute;
          left: -70px;
          top: 10px;
        }

        &::before {
          content: "";
          width: 50px;
          height: 1px;
          display: inline-block;
          background: var(--ion-color-border);
          position: absolute;
          right: -70px;
          top: 10px;
        }
      }

      .rgt-dwn-arrow {
        position: absolute;
        right: 10px;
      }
    }
  }

  ion-icon {
    color: var(--ion-color-light-gr);
  }
}

ion-icon.attend-collapsed {
  transition: all 0.5s;
}

.time-sec {
  padding: 15px 0px;
  text-align: center;

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-medium);
    color: var(--ion-border-color);
    margin-bottom: 0;

    em {
      font-style: normal;
      color: var(--ion-color-step-600);
    }
  }
}

.team-top-date-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  position: relative;

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-medium);
    color: var(--ion-border-color);
    margin-bottom: 0;
    position: relative;

    &::after {
      content: "";
      width: 50px;
      height: 1px;
      display: inline-block;
      background: var(--ion-color-border);
      position: absolute;
      left: -70px;
      top: 10px;
    }

    &::before {
      content: "";
      width: 50px;
      height: 1px;
      display: inline-block;
      background: var(--ion-color-border);
      position: absolute;
      right: -70px;
      top: 10px;
    }
  }

  .rgt-dwn-arrow {
    position: absolute;
    right: 10px;
  }
}

ion-icon.ion-color-light {
  --ion-color-base: #d1d1d1 !important;
}

.month-changer {
  text-align: center;

  ion-col {
    font-size: 20px;
    font-family: var(--ion-font-family-bold);
  }
}

ion-icon.attend-expanded {
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.sticky-content {
  position: sticky;
  top: 0px;
  z-index: 99;
  background: var(--ion-color-primary-contrast);
}

ion-fab-list {
  .filter-btn {
    position: absolute;
    top: -60px;
    left: 30px;
    width: 52px;
    height: 52px;
  }

  ion-fab-button {
    --background: var(--ion-color-dark);
    width: 52px;
    height: 52px;
  }

  ion-icon {
    color: var(--ion-color-primary-contrast);
    font-size: 24px;
  }
}

ion-fab-button.fab-button-close-active {
  --ion-color-base: var(--ion-color-primary) !important;
}