<ion-header translucent>
  <ion-toolbar>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button role="close" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="visitFilterForm" (ngSubmit)="onSubmit()">
    <ng-container>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Cities</ion-label>
            <ion-select placeholder="Select cities" formControlName="Cities" multiple
              (ionChange)="onCityChange($event)">
              <ion-select-option *ngFor="let city of cityList" [value]="city.Id">
                {{ city.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Regions</ion-label>
            <ion-select placeholder="Select regions" formControlName="Regions" multiple
              (ionChange)="onRegionChange($event)">
              <ion-select-option *ngFor="let region of regionList" [value]="region.Id">
                {{ region.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Projects</ion-label>
            <ion-select placeholder="Select Projects" formControlName="Projects" multiple
              (ionChange)="onProjectChange($event)">
              <ion-select-option *ngFor="let project of projectList" [value]="project.Id">
                {{ project.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Team Members</ion-label>
            <ion-select placeholder="Select user" formControlName="User" multiple>
              <ion-select-option *ngFor="let user of userList" [value]="user.EmployeeId">
                {{ user.FirstName }} {{ user.LastName}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col size="12" class="filter-btn-row">
        <ion-button (click)="resetValue()" color="dark" expand="block">Clear</ion-button>
        <ion-button type="submit" color="primary" expand="block">Apply</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>