<div class="leave-list-item" *ngIf="componentType === componentTypeTeam">
  <ion-card>
    <ion-card-content class="leaves-card-content">
      <ion-row class="wrapper-row custom-wrapper">
        <ion-col class="wrapper-col left-col leave-blk-col" size="auto">
          <span class="label">Applied on: </span>
          <span class="value" *ngIf="data && data.AppliedDate">
            {{ data.AppliedDate | dateTimeFormat: "date" }}
          </span>
        </ion-col>
        <ion-col class="wrapper-col right-col" size="auto">
          <ion-chip [color]="data.chipColor">
            <ion-label [color]="data.chipColor">{{
              data.StatusName
            }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row class="wrapper-row custom-wrapper">
        <ion-col class="profile-col" size="12">
          <div class="profile-pic">
            <ion-avatar class="avatar">
              <img [src]="data.ProfilePic" (load)="handleLoad()" [hidden]="showProfilePicPlaceHolder"
                (error)="showProfilePicPlaceHolder = true" />
              <img [src]="defaultProfileImg" [hidden]="!showProfilePicPlaceHolder" />
            </ion-avatar>
          </div>
          <div class="profile-details">
            <h5 class="profile-name">
              <strong>{{ data.EmployeeName }}</strong>
            </h5>
            <h6>
              {{ data.Pin }}
            </h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="wrapper-col left-col" size="12">
          <span class="label">Type of Leave: </span>
          <span class="value">{{ data.LeaveType }}</span>
        </ion-col>
        <ion-col class="wrapper-col" size="4">
          <span class="label">Leaves: </span>
          <span class="value">{{ +data.LeaveCount }} </span>
        </ion-col>
      </ion-row>
      <ion-row class="wrapper-row">
        <ion-col class="wrapper-col left-col" size="12">
          <span class="label">From: </span>
          <span class="value" *ngIf="data && data.FromDate">{{
            data.FromDate | dateTimeFormat: "date"
          }}</span>
          <span class="margin-left label to">To: </span>
          <span class="value" *ngIf="data && data.ToDate">{{
            data.ToDate | dateTimeFormat: "date"
          }}</span>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <ion-row class="reason-row">
        <ion-col class="wrapper-col left-col reason-col" size="12">
          <span class="label">Reason: </span>
          <span class="value">{{ data.Reason ? data.Reason : "---" }}</span>
        </ion-col>
        <ion-col class="wrapper-col left-col reason-col" size="12" *ngIf="data.Comments">
          <span class="label">Supervisor Comment: </span>
          <span class="value" [innerHTML]="data.Comments"></span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row class="actions" [ngClass]="
      (!cancelBtn && editBtn) || (cancelBtn && !editBtn)
        ? 'center-btn'
        : !cancelBtn && !editBtn
        ? 'hide-sector'
        : ''
    ">
    <ion-col size="auto">
      <ion-button *ngIf="cancelBtn" (click)="handleAction(teamActionReject)" color="dark" expand="full">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button *ngIf="editBtn" (click)="handleAction(teamActionApprove)" color="primary" expand="full">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>
<div class="leave-list-item" *ngIf="componentType === componentTypeMy">
  <ion-card>
    <ion-card-content class="leaves-card-content">
      <ion-row class="wrapper-row custom-wrapper">
        <ion-col class="wrapper-col left-col" size="auto">
          <span class="label">Applied on: </span>
          <span class="value"><strong *ngIf="data && data.AppliedDate">{{
              data.AppliedDate | dateTimeFormat: "date"
            }}</strong></span>
        </ion-col>
        <ion-col class="wrapper-col right-col" size="auto">
          <ion-chip [color]="data.chipColor">
            <ion-label [color]="data.chipColor">{{
              data.StatusName
            }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row class="wrapper-row">
        <ion-col class="wrapper-col left-col" size="12">
          <span class="label">Type of Leave: </span>
          <span class="value">{{ data.LeaveType }}</span>
        </ion-col>
        <ion-col class="wrapper-col" size="4">
          <div class="right-items">
            <span class="label">Leaves: </span>
            <span class="value">{{ data.LeaveCount }}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="wrapper-row">
        <ion-col class="wrapper-col left-col" size="12">
          <span class="label">From: </span>
          <span class="value" *ngIf="data && data.FromDate">{{
            data.FromDate | dateTimeFormat: "date"
          }}</span>
          <span class="margin-left label to">To: </span>
          <span class="value" *ngIf="data && data.ToDate">{{
            data.ToDate | dateTimeFormat: "date"
          }}</span>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <ion-row>
        <ion-col class="wrapper-col left-col reason-col" size="12">
          <span class="label">Reason: </span>
          <span class="value" [innerHTML]="data.Reason ? data.Reason : '---'"></span>
        </ion-col>
        <ion-col class="wrapper-col left-col reason-col" size="12" *ngIf="data.Comments">
          <span class="label">Supervisor Comment: </span>
          <span class="value" [innerHTML]="data.Comments"></span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row class="actions center-btn" [ngClass]="
      ((!cancelBtn && editBtn) || (cancelBtn && !editBtn)) && componentType === componentTypeTeam
        ? 'center-btn'
        : !cancelBtn && !editBtn
        ? 'hide-sector'
        : ''
    ">
    <ion-col size="auto" *ngIf="componentType !== componentTypeTeam">
      <ion-button *ngIf="cancelBtn" (click)="handleCancel(data.EmpLeaveId)" color="dark" expand="full">
        <ion-icon src="/assets/images/crosswhite.svg"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button *ngIf="editBtn && false" (click)="handleMyAction(data)" color="primary" expand="full">
        <ion-icon src="/assets/images/editwhite.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>