ion-card {
  z-index: 1;
}

.wrapper {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;

  .wrapper-col {
    &.left-col {
      text-align: left;
    }

    &.right-col {
      text-align: right;

      &.border-seperator {
        border-left: 2px solid #ccc;
      }
    }

    .label {
      font-weight: bold;
    }
  }

  .profile-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .profile-pic {
      .avatar {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;

  .profile-name {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    margin-right: 6px;
  }
}

.profile-col {
  display: flex;

  .profile-pic {
    ion-avatar {
      display: flex;
      align-items: center;
      width: 45px;
      height: 45px;
    }

    ion-avatar img {
      width: 35px;
      height: 35px;
    }
  }
}

.custom-wrapper {
  @media screen and (max-width: 320px) {
    font-size: 12px;
  }

  display: flex;
  justify-content: space-between;

  ion-col {
    display: flex;
    align-items: center;

    span.value {
      margin-left: 6px;
    }
  }
}

.leaves-card-content {
  padding: 15px;

  .wrapper-col {
    padding: 0 0 7px;

    &.reason-col {
      padding: 10px 0 0;

      span.label {
        display: block;
      }
    }
  }

  ion-row ion-col {
    @media screen and (max-width: 320px) {
      font-size: 12px;
    }

    span.to {
      min-width: auto;
    }

    span.label {
      font-size: 14px;
      font-family: var(--ion-font-family-book);
      color: var(--ion-color-step-600);
      margin-right: 5px;
    }

    span.value {
      font-family: var(--ion-font-family-bold);
      font-size: 14px;
      color: var(--ion-border-color);
      margin-right: 5px;
    }
  }
}

ion-card {
  .card-content-md {
    font-size: 16px;
  }

  box-shadow: 1px 1px 24px #aba9a96e;
  margin-bottom: 0;
  border-radius: 12px;
  margin: 0;
}

ion-row.actions {
  ion-col {
    align-self: flex-end;
  }

  ion-button {
    letter-spacing: 0.05em;
    margin: 0 8px;
    --box-shadow: none;

    button.button-native {
      padding: 10px;
      min-width: 68px;
      line-height: 45px;
    }
  }

  margin: 0 16px 0 16px;
  background: #eee;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 7px;

  &.center-btn {
    justify-content: center;
  }

  &.hide-sector {
    display: none;
  }
}

div.divider {
  height: 1px;
  border-bottom: 1px solid #eee;
}

ion-col.right-col {
  justify-content: flex-end;
  text-align: end;
}

.margin-left {
  margin-left: 8px;
}

.label-stacked.sc-ion-label-md-h,
.label-floating.sc-ion-label-md-h {
  font-size: 18px;
  color: #717070;
  letter-spacing: 0.05em;
}

.ion-action-icons {
  font-size: 25px;
}

.leave-list-item {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  background: #eee;
  border-radius: 12px;
  margin-bottom: 9px;
}