<ion-content>
  <ion-row class="ion-justify-content-between add-visit">
    <ion-col>
      <button role="close" class="export-btn" (click)="addSales()">Add a visit</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-calendar [salesVisitData]="salesVisitData" [componentType]="calendarComponentTypeMy"
        [getMyCountActionCallback]="handleMyCountActionCallback">
      </app-calendar>
    </ion-col>
  </ion-row>
  <div class="leave-sec">
    <div class="cmn-dashbrd-hdr">
      <h3>Sales Visits</h3>
    </div>
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col class="border-col" size="4">
          <ion-label>Dealer Name</ion-label>
        </ion-col>
        <ion-col class="border-col" size="6">
          <ion-label>Checkin - Checkout Time</ion-label>
        </ion-col>
        <ion-col class="border-col" size="2">
          <ion-label>Action</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="visits && visits.length ">
        <ion-row class="body-row upcoming-leaves" *ngFor="let visit of visits">
          <ion-col class="border-col" size="4">
            <ion-text *ngIf="visit.NameofSIorDealer">{{ visit.NameofSIorDealer }}</ion-text>
            <ion-text *ngIf="!visit.NameofSIorDealer">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="6">
            <ion-text *ngIf="visit.CheckIn && visit.CheckOut">{{ visit.CheckIn | date: 'HH:mm' }} -
              {{ visit.CheckOut | date: 'HH:mm' }}</ion-text>
            <ion-text *ngIf="!visit.CheckIn && !visit.CheckOut">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="2" *ngIf="isVisible(visit.CheckIn)">
            <ion-icon name="create-outline" (click)="handleEdit(visit)"></ion-icon>
            <ion-icon name="trash-outline" (click)="handleDelete(visit.ID)"></ion-icon>
          </ion-col>
          <ion-col class="border-col" style="padding-left: 20px;" size="2" *ngIf="!isVisible(visit.CheckIn)">
            <ion-icon name="eye-outline" (click)="handleView(visit)"></ion-icon>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="visits && !visits.length">
        <ion-row class="body-row">
          <ion-col size="12" class="nodata-label">
            <ion-label>No sales visits</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>