:host {
  // top: auto;
  // bottom: 0;
  // min-height: 35%;
  // max-height: 100%;
}

.wrap {
  --padding-start: 0px;
  --padding-end: 0px;
  .btn-row {
    .btn-col {
      ion-button {
        --border-radius: 0;
      }
    }
  }
  .first {
    color: var(--ion-color-step-600);
    margin-bottom: 10px;
    font-family: var(--ion-font-family-book);
  }
  .second {
    font-family: var(--ion-font-family-bold);
    margin-top: 5px;
    margin-bottom: 25px;
    color: var(--ion-border-color);
  }
}

.error-msg {
  color: var(--ion-color-danger);
}

.lbl-customer {
  // font-size: 16px;
  // margin-bottom: 10px;
}

ion-item {
  --padding-start: 10px;
  --inner-padding-end: 11px;
  &.customer-address {
    position: relative;
    ion-icon {
      position: absolute;
      right: 20px;
      margin: 0;
      bottom: 7px;
      z-index: 9999;
    }
  }
}

ion-button {
  text-transform: initial;
  margin-top: 20px;
  &:first-child {
    padding-left: 10px;
  }
  &:last-child {
    padding-right: 10px;
  }
  // margin-top: 20px;
  font-size: 16px;
  --box-shadow: none;
  // font-weight: bolder;
}

.row-adjust {
  padding-left: 6px;
}
