<ion-header>
  <ion-toolbar>
    <ion-title mode="md">{{data.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed" class="wrap customer-checkin">
  <div *ngIf="!data.isCustomer">
    <ion-row class="time-row">
      <ion-col size="12" class="time-col">
        <p class="first">{{data.typeLabel}} Time</p>
        <p class="second">{{data.time}}</p>
        <p class="first">Location</p>
        <p class="second">North Carolina, New York</p>
      </ion-col>
    </ion-row>
    <ion-row class="btn-row">
      <ion-col size="12" class="ion-no-padding btn-col">
        <ion-button mode="ios" expand="block" (click)="handlePunch()">
          Confirm & {{data.typeLabel}}
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <ion-row *ngIf="data.isCustomer">
    <ion-col size="12" *ngIf='data.typeLabel==="Check Out"'>
      <ion-item lines="none">
        <ion-label class="lbl-customer" position="stacked"
          >Customer Name</ion-label
        >
        <ion-text color="dark">
          {{activeCustomer.CustomerName}}
        </ion-text>
      </ion-item>
      <ion-item class="customer-address" lines="none">
        <ion-label class="lbl-customer" position="stacked"
          >Customer Address</ion-label
        >
        <ion-text color="dark">
          {{activeCustomer.CustomerAddress}}
        </ion-text>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-button
            expand="full"
            fill="solid"
            color="dark"
            strong="true"
            (click)="handelCancel()"
          >
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" (click)="handelCheckOut()" strong="true">
            {{data.typeLabel}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12" *ngIf='data.typeLabel==="Check In"'>
      <form
        [formGroup]="CustomerVisitForm"
        (ngSubmit)="handelCustomerFromSubmit()"
      >
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label class="lbl-customer" position="stacked"
                >Customer Name</ion-label
              >
              <ion-input
                class="custom-input"
                formControlName="CustomerName"
                type="text"
                placeholder="Enter customer name"
              >
              </ion-input>
              <!-- <ion-icon slot="start" name="person"></ion-icon> -->
            </ion-item>
            <ion-item lines="none" class="validation-msg">
              <div
                *ngIf="CustomerFormCntrl.CustomerName.invalid && (CustomerFormCntrl.CustomerName.touched || CustomerFormCntrl.CustomerName.dirty)"
              >
                <span
                  class="error-msg"
                  *ngIf="CustomerFormCntrl.CustomerName.errors.required || CustomerFormCntrl.CustomerName.errors.onlySpaces"
                  >Customer Name is required</span
                >
                <span
                  class="error-msg"
                  *ngIf="CustomerFormCntrl.CustomerName.errors.minlength"
                >
                  Customer Name must be greater then 3 characters
                </span>
              </div>
            </ion-item>
            <ion-item class="customer-address" lines="none">
              <ion-label class="lbl-customer" position="stacked"
                >Customer Address</ion-label
              >
              <ion-input
                class="custom-input"
                formControlName="CustomerAddress"
                type="text"
                placeholder="Enter customer address"
              ></ion-input>
            </ion-item>
            <ion-item lines="none" class="validation-msg">
              <div
                *ngIf="CustomerFormCntrl.CustomerAddress.invalid && (CustomerFormCntrl.CustomerAddress.touched || CustomerFormCntrl.CustomerAddress.dirty)"
              >
                <span
                  class="error-msg"
                  *ngIf="CustomerFormCntrl.CustomerAddress.errors.required || CustomerFormCntrl.CustomerAddress.errors.onlySpaces"
                  >Customer Address is required</span
                >
                <span
                  class="error-msg"
                  *ngIf="CustomerFormCntrl.CustomerAddress.errors.minlength"
                >
                  Customer Address must be greater then 6 characters
                </span>
              </div>
            </ion-item>

            <ion-row>
              <ion-col size="6">
                <ion-button
                  expand="full"
                  fill="solid"
                  color="dark"
                  strong="true"
                  (click)="handelCancel()"
                >
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button
                  type="submit"
                  [disabled]="!CustomerVisitForm.valid"
                  expand="full"
                  strong="true"
                >
                  {{data.typeLabel}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
