.filter-info {
  margin: 0;
  display: flex;
  align-items: center;

  span {
    color: rgba(0, 0, 0, 0.5);

    &.value {
      ion-col {
        padding: 0px;
      }

      ul {
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        overflow-x: auto;

        li {
          display: inline;
          text-transform: capitalize;
          min-width: 100px;
        }
      }
    }
  }

  .filterer {
    text-align: end;
    font-size: 27px;
  }
}

ion-fab-list {
  .filter-btn {
    position: absolute;
    top: -60px;
    left: 30px;
  }

  ion-fab-button {
    --background: var(--ion-color-dark);
    width: 52px;
    height: 52px;
  }

  ion-icon {
    color: var(--ion-color-primary-contrast);
    font-size: 24px;
  }
}

ion-fab-button.fab-button-close-active {
  --ion-color-base: var(--ion-color-primary) !important;
}