<ion-content>
  <ion-grid class="overview-parent">
    <ion-row>
      <ion-col>
        <app-calendar [leaveStatusData]="leaveStatusData" [componentType]="calendarComponentTypeMy"
          [getMyCountActionCallback]="handleMyCountActionCallback">
        </app-calendar>
      </ion-col>
    </ion-row>
    <ion-row class="filter-info overview-row">
      <ion-col size="12" class="overview-col">
        <p>Leave Balance</p>
        <h4 class="value" *ngIf="leaveBalance">
          <ion-row class="status-list">
            <ion-col size-xs="12" size-sm="4" size-md="4" *ngFor="let item of leaveBalance">
              <strong> {{item?.Balance}} </strong>
              {{item?.LeaveName}}
            </ion-col>
          </ion-row>
        </h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col size="12" class="from-date-col">
      <strong> {{body.FromDate | date : dateFormat}} </strong>
    </ion-col>
  </ion-row>
  <ion-row>
    <ng-container *ngIf="isLeavesListReadyToRender && leaves && leaves.length">
      <ion-col size="12" sizeMd="12" sizeLg="6" *ngFor="let leave of leaves">
        <app-leave-list-item-block [data]="leave" [componentType]="leaveComponentTypeMy"
          [myLeaveActionCallback]="handleMyLeaveActionCallback" [cancelLeaveActionCallBack]="handleCancelLeaveCallback">
        </app-leave-list-item-block>
      </ion-col>
    </ng-container>
    <ng-container *ngIf="isLeavesListReadyToRender && (!leaves || !leaves.length)">
      <ion-col size="12" sizeMd="12">
        <ion-card class="no-record">
          <ion-card-content> No Record found </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="handleAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>