<ion-content>
  <ion-row class="dates-row" *ngIf="request">
    <ion-col class="padding-non" size="6">
      <ion-item lines="none" (click)="fromDate.open()">
        <ion-label>From: <span>{{changeDateRender(request.FromDate)}}</span></ion-label>
        <ion-datetime [(ngModel)]="request.FromDate" [min]="fromMin" [max]="fromMax" display-format="DD.MM.YYYY"
          #fromDate (ngModelChange)="setDates(true,'from')"></ion-datetime>
        <span><i><img src="assets/images/calender-ic.svg" alt="" /></i></span>
      </ion-item>
    </ion-col>
    <ion-col class="padding-non" size="6">
      <ion-item lines="none" (click)="toDate.open()">
        <ion-label>To: <span>{{changeDateRender(request.ToDate)}}</span></ion-label>
        <ion-datetime [(ngModel)]="request.ToDate" [min]="toMin" [max]="toMax" display-format="DD.MM.YYYY" #toDate
          (ngModelChange)="setDates(true,'to')"></ion-datetime>
        <span><i><img src="assets/images/calender-ic.svg" alt="" /></i></span>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="cmn-graph-sec">
    <div class="cmn-dashbrd-hdr">
      <h3>Attendance</h3>
      <a routerLink="/attendance-history/my-attendance">View attendance history</a>
    </div>
    <div class="graph-img-sec">
      <canvas width="auto" height="250px" #lineCanvas></canvas>
    </div>
  </div>
  <div class="leaves-row" *ngIf="customerVisit">
    <div class="cmn-dashbrd-hdr" *ngIf="request">
      <h3>Customer Visits ({{changeDateRender(request.FromDate) | date: 'MMM d'}} -
        {{changeDateRender(request.ToDate) | date: 'MMM d'}})</h3>
      <a routerLink="/customer-visit-history/my-visit">View all</a>
    </div>
    <div class="leaves-flex">
      <div class="item pending">
        <span class="count">{{ customerVisit.Total }}</span>
        <span class="label">Total</span>
      </div>
      <div class="item pending">
        <span class="count">{{ customerVisit.ApprovedCount }}</span>
        <span class="label">Approved</span>
      </div>
      <div class="item pending">
        <span class="count">{{ customerVisit.RejectedCount }}</span>
        <span class="label">Rejected</span>
      </div>
    </div>
  </div>
  <div class="leaves-row">
    <div class="cmn-dashbrd-hdr" *ngIf="request">
      <h3>Leaves ({{changeDateRender(request.FromDate) | date: 'MMM d'}} -
        {{changeDateRender(request.ToDate) | date: 'MMM d'}})</h3>
      <a routerLink="/leaves/my-leaves">View all</a>
    </div>
    <div class="leaves-flex">
      <div class="item pending">
        <span class="count">{{leavesCount.PendingCount}}</span>
        <span class="label">Pending</span>
      </div>
      <div class="item pending">
        <span class="count">{{leavesCount.ApprovedCount}}</span>
        <span class="label">Approved</span>
      </div>
      <div class="item pending">
        <span class="count">{{leavesCount.RejectedCount}}</span>
        <span class="label">Rejected</span>
      </div>
    </div>
  </div>
  <div class="leave-sec">
    <div class="cmn-dashbrd-hdr">
      <h3 *ngIf="holidayDateRange">Upcoming Leaves ({{ holidayDateRange.fromDate | date: 'MMM d' }} -
        {{ holidayDateRange.toDate | date: 'MMM d' }})
      </h3>
      <a routerLink="/leaves/my-leaves">View all</a>
    </div>
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col class="border-col" size="3">
          <ion-label>From</ion-label>
        </ion-col>
        <ion-col class="border-col" size="3">
          <ion-label>To</ion-label>
        </ion-col>
        <ion-col class="border-col" size="3">
          <ion-label>Applied</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>Type</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="upComingLeaves && upComingLeaves.length ">
        <ion-row class="body-row upcoming-leaves" *ngFor="let leave of upComingLeaves">
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="leave.FromDate">{{ leave.FromDate | dateTimeFormat: 'date' }}</ion-text>
            <ion-text *ngIf="!leave.FromDate">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="leave.ToDate">{{ leave.ToDate | dateTimeFormat: 'date' }}</ion-text>
            <ion-text *ngIf="!leave.ToDate">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="leave.CreatedDate">{{ leave.CreatedDate | dateTimeFormat: 'date' }}</ion-text>
            <ion-text *ngIf="!leave.CreatedDate">-</ion-text>
          </ion-col>
          <ion-col size="3">
            <ion-text>{{ leave.LeaveCode }}</ion-text>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="upComingLeaves && !upComingLeaves.length">
        <ion-row class="body-row">
          <ion-col size="12" class="nodata-label">
            <ion-label>No upcoming leaves</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </div>
  </div>
  <div class="leave-sec">
    <div class="cmn-dashbrd-hdr">
      <h3>Upcoming 3 Holidays</h3>
      <a routerLink="/home/holidays">View all</a>
    </div>
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col class="border-col">
          <ion-label>Date</ion-label>
        </ion-col>
        <ion-col class="border-col">
          <ion-label>Occassion</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Applicable To</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="holidaysList&&holidaysList.length ">
        <ion-row class="body-row upcoming-leaves" *ngFor="let holiday of holidaysList ">
          <ion-col class="border-col">
            <ion-text>{{ holiday.genericHolidaydate| dateTimeFormat:'date'}}</ion-text>
          </ion-col>
          <ion-col class="border-col">
            <ion-text>{{ holiday.HolidayDesc}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ holiday.LocationName }}</ion-text>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="holidaysList&&!holidaysList.length">
        <ion-row>
          <ion-col size="12" class="nodata-label">
            <ion-label>No upcoming holidays</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>