.list-item {
    min-height: 500px;
}

.notification-list {
    padding: 0;

    ion-item {
        --padding-start: 0;
        --padding-end: 0;
        border-bottom: 1px solid #e6e6e6;
        align-items: flex-start;
        padding: 16px 16px;
        --background: rgba(0, 0, 0, 0);

        ion-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        ion-label {
            margin: 0;

        }

        p {
            font-family: var(--ion-font-family-medium);
            font-size: 12px;
            color: var(--ion-color-step-400);
            float: right;
        }

        &.unreaded {
            background: #f6f6f6;
        }
    }
}

.push-notification-list {
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        padding: 5px 20px;
        border-bottom: 1px solid #e7e7e7;
    }

}

.setting-btn {
    width: 50px;
    padding: 0;
    margin: 0;
    --color: var(--ion-color-white);
}

.done-btn {
    color: #007AFF;
}