<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Notifications</ion-title>
    <ion-buttons slot="end" fill="clear">
      <a routerLink="/dashboard" class="home-icon">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      <ion-buttons class="settings-icon" (click)="showSettings()" *ngIf="isSupervisor">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-list class="push-notification-list">
    <ion-item lines="none">
      <ion-label>Push Notification</ion-label>
      <ion-toggle [ngModel]="isToggled" color="primary" (ngModelChange)="enableDisableNotifications($event)">
      </ion-toggle>
    </ion-item>
    <ion-item lines="none" *ngIf="notificationsList && notificationsList.length">
      <ion-buttons slot="start">
        <ion-icon name="checkmark-done-circle-outline" class="done-btn"></ion-icon>
        <ion-button role="close" class="done-btn" (click)="markReadAll()">Mark all notification as read</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-list class="list-ite notification-list"
    *ngIf="isNotificationListReadyToRender && notificationsList && notificationsList.length">
    <ion-item lines="none" *ngFor="let item of notificationsList" class="unreaded" (click)="hangleNavigation(item)">
      <ion-label>
        <h2 [innerHTML]="item.Message"></h2>
        <p>{{ item.Time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="isNotificationListReadyToRender && (!notificationsList || !notificationsList.length)">
    <ion-col size="12" sizeMd="12">
      <ion-card class="no-record">
        <ion-card-content> There are no pending notifications </ion-card-content>
      </ion-card>
    </ion-col>
  </ng-container>
  <ion-infinite-scroll *ngIf="isNotificationListReadyToRender && notificationsList && notificationsList.length"
    threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>