<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios" class="heading-title">{{pageTitle}}</ion-title>
    <ion-buttons slot="end" fill="clear">
      <a routerLink="/dashboard" class="home-icon">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      <ion-buttons class="settings-icon" (click)="showSettings()" *ngIf="isSupervisor">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
      <ion-button class="noti-btn" (click)="showNotifications()">
        <ion-badge *ngIf="notificationCount>0" color="primary" class="noti-badge">{{notificationCount}}</ion-badge>
        <ion-icon name="notifications-outline" class="noti-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-wrap">
  <ion-tabs *ngIf="isTermPage">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="eula">
        <ion-label>EULA</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="privacy">
        <ion-label>Privacy</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-row *ngIf="!isTermPage">
    <ion-col size="12">
      <h3 [innerHTML]="title"></h3>
      <p class="desc-content" [innerHTML]="desc"></p>
      <p>
        <a [href]="url" target="_blank">
          {{url}}
        </a>
      </p>
      <p>
        <a [href]="'tel:' + phonenum" target="_blank">
          {{phone}}
        </a>
      </p>
      <p [innerHTML]="email"></p>
      <p [innerHTML]="date"></p>
    </ion-col>
  </ion-row>
</ion-content>