<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">Holiday List</ion-title>
    <ion-buttons slot="end" fill="clear">
      <a routerLink="/dashboard" class="home-icon">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      <ion-buttons class="settings-icon" (click)="showSettings()" *ngIf="isSupervisor">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="leave-sec">
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col>
          <ion-label>Date</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Occasion</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Applicable To</ion-label>
        </ion-col>
      </ion-row>
      <div *ngIf="holidayList && holidayList.length">
        <ion-row class="body-row upcoming-leaves" *ngFor="let item of holidayList">
          <ion-col>
            <ion-text>{{item.genericHolidaydate |dateTimeFormat: 'date'}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{item.HolidayDesc}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{item.LocationName}}</ion-text>
          </ion-col>
        </ion-row>
      </div>
      <ng-container *ngIf="holidayList &&!holidayList.length">
        <ion-col size="12" sizeMd="12">
          <ion-card class="no-record">
            <ion-card-content> No Upcoming Holiday </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </div>
</ion-content>