.header-row,
.body-row {
  border: 1px solid #a4a3a3;

  .border-col {
    border-right: 1px solid #a4a3a3;
  }
}

.body-row {
  border-top: none;
  border-left: none;
  border-right: none;
}

.upcoming-leaves {
  ion-col {
    font-size: 10.7px;
    padding: 0 15px;
    min-height: 40px;
    display: flex;
    align-items: center;
  }
}

.leaves-row {
  width: 100%;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 20px;
}

.header-row {
  font-weight: bolder;
  background: var(--ion-color-step-950);
  border-left: none;
  border-right: none;

  ion-col {
    margin: auto;
    justify-content: flex-start;
    display: flex;
    font-size: 11.9px;
    font-family: var(--ion-font-family-bold);
    min-height: 36px;
    align-items: center;
    padding: 0 15px;
  }
}

.leave-sec {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;

  .cmn-dashbrd-hdr {
    padding: 0 15px;
  }
}

.setting-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}