<ion-content>
  <ion-row class="wrapper">
    <ion-col size="12" class="section" (click)="handleClick()">
      <ion-label class="employee-name">{{employeeName}}</ion-label>
      <ion-label class="employee-number">{{employeePin}}</ion-label>
      <div class="qr-code-container">
        <ng-container *ngIf="qrPayload">
          <ngx-qrcode
            [elementType]="elementType"
            [value]="qrPayload"
            cssClass="aclass"
            errorCorrectionLevel="L"
            width="1000"
          >
          </ngx-qrcode>
        </ng-container>
      </div>
      <!-- <ion-label class="attendance-lbl">{{attendanceTypeLabel}}</ion-label> -->
      <ion-label class="attendance-time" *ngIf="attendanceTime"
        >{{attendanceTime | dateTimeFormat: 'dateTime'}}</ion-label
      >
    </ion-col>
  </ion-row>
</ion-content>
