.wrapper {
  height: 100%;
  background: var(--ion-grey-bg);
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .employee-name {
      font-size: 16px;
      line-height: 22px;
      font-family: var(--ion-font-family-medium);
      color: var(--ion-border-color);
      margin-bottom: 8px;
    }
    .employee-number {
      font-size: 14px;
      line-height: 17px;
      font-family: var(--ion-font-family-book);
      margin-bottom: 15px;
      color: var(--ion-border-color);
    }
    .attendance-lbl {
      font-size: 17px;
      line-height: 22px;
      font-family: var(--ion-font-family-medium);
      color: var(--ion-border-color);
      margin: 8px 0;
    }
    .attendance-time {
      font-size: 14px;
      line-height: 17px;
      font-family: var(--ion-font-family-book);
      margin: 15px 0;
      color: var(--ion-border-color);
    }
  }

  .qr-code-container {
    padding: 0 50px;
  }
}
