<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">
      Map
    </ion-title>
    <ion-buttons slot="end" fill="clear">
      <a routerLink="/dashboard" class="home-icon">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      <ion-buttons class="settings-icon" (click)="showSettings()" *ngIf="isSupervisor">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
      <ion-button class="noti-btn" (click)="showNotifications()">
        <ion-badge *ngIf="notificationCount>0" color="primary" class="noti-badge">{{notificationCount}}</ion-badge>
        <ion-icon name="notifications-outline" class="noti-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='map' class='map'></div>
  <!-- <img src="assets/images/map.png" alt="" height="100%" /> -->
</ion-content>