.month-changer {
  text-align: center;
  padding-top: 15px;
  background: var(--ion-color-primary-contrast);

  ion-col {
    font-size: 20px;
    font-family: var(--ion-font-family-bold);
  }
}

.done-btn {
  color: #007AFF;
  background-color: transparent;
}

.chevron-forward-outline {
  font-size: 16px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.td-date {
  height: 75px;
  position: relative;
  padding-top: 13px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.selected {
  background-color: #fafafa;
}

.current-date {
  background-color: #007AFF;
}

.td-date p {
  color: var(--visits-label-color);
  margin: 2px 3px 3px;
  padding: 0;
  height: 15px;
  line-height: 15px;
  width: 100%;
}

.td-date p.label {
  color: var(--visits-label-color);
  margin: 0 0 7px;
  padding: 18%;
  width: 100%;
  font-size: 13px
}

.td-date.text-muted {
  background-color: #eaeaea;
}

.td-date.reject {
  background-color: var(--rejected-color);
}

.td-date p.reject {
  background-color: var(--rejected-color);
  color: var(--ion-color-light);

}

.td-date.pending {
  background-color: var(--total-color);
}

.td-date p.pending {
  color: var(--ion-color-light);
  background-color: var(--total-color);

}

.td-date.approved {
  background-color: var(--approved-color);
}

.td-date p.approved {
  background-color: var(--approved-color);
  color: var(--ion-color-light);
}

.td-date p.in-meeting {
  background-color: var(--in-color);
  color: var(--ion-color-dark);
}

.td-date p.done-meeting {
  background-color: var(--done-color);
  color: var(--ion-color-dark);
}

span.date.left {
  position: absolute;
  left: 2px;
  top: 2px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

.date {
  font-size: x-small;
  font-weight: bolder;
  margin-top: -4px;
  margin-bottom: -9px;
}

.pending-circle {
  color: var(--total-color);
  padding-top: 3px;
  padding-left: 5px;
}

.approved-circle {
  color: var(--approved-color);
  padding-top: 3px;
  padding-left: 5px;
}

.rejected-circle {
  color: var(--rejected-color);
  padding-top: 3px;
  padding-left: 5px;
}

.in-circle {
  color: var(--in-color);
  padding-top: 3px;
  padding-left: 5px;
}

.done-circle {
  color: var(--done-color);
  padding-top: 3px;
  padding-left: 5px;
}

.legend-text {
  font-weight: normal;
  font-size: 11px;
  margin: auto;
}

.today-class {
  border: 2px black solid;
}

.selected {
  border: 2px var(--ion-color-primary) solid;
}