ion-title {
  padding: 0;
  text-align: center;
}

ion-title {
  padding: 0;
  text-align: center;
}

form {
  margin: 0 14px;

  ion-item {
    margin-bottom: 10px;
  }
}

ion-button {
  letter-spacing: 0.05em;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}