<ion-header translucent>
  <ion-toolbar>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button role="close" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="leaveFilterForm" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="floating">From</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="dd/mm/yyyy" (ionChange)="dateAdjust('from')"
            [max]="fromMaxDate" [min]="fromMinDate" formControlName="FromDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="floating">To</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="dd/mm/yyyy" (ionChange)="dateAdjust('to')"
            [max]="toMaxDate" [min]="toMinDate" formControlName="ToDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="isTeamLeaves && userList.length">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Team Members</ion-label>
            <ion-select placeholder="Select user" formControlName="User" multiple>
              <ion-select-option *ngFor="let user of userList" [value]="user.EmployeeId">
                {{ user.FirstName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="stacked">Status</ion-label>
          <ion-select placeholder="Select status" value="all" formControlName="Status">
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option [value]="isVisitsPage ? 'pending' : 'applied'">{{
              isVisitsPage ? "Pending" : "Pending Approval"
            }}</ion-select-option>
            <ion-select-option value="approved">Approved</ion-select-option>
            <ion-select-option value="rejected">Rejected</ion-select-option>
            <ion-select-option *ngIf="!isVisitsPage" value="cancelled">Cancelled</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="filter-btn-row">
        <ion-button (click)="resetValue()" color="dark" expand="block">Clear</ion-button>
        <ion-button type="submit" color="primary" expand="block">Apply</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>