<ion-header translucent>
  <ion-toolbar>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button role="close" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="attendanceFilterForm" (ngSubmit)="onSubmit()">
    <ng-container>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Team Members</ion-label>
            <ion-select placeholder="Select user" formControlName="User" multiple>
              <ion-select-option *ngFor="let user of userList" [value]="user.EmployeeId">
                {{ user.FirstName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col size="12" class="filter-btn-row">
        <ion-button (click)="resetValue()" color="dark" expand="block">Clear</ion-button>
        <ion-button type="submit" color="primary" expand="block">Apply</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>