.main-row {
  padding: 0;

  ion-col.main-col {
    &.sticky-content {
      padding: 0;
      position: sticky;
      top: 0px;
      z-index: 99;
      margin-bottom: 15px;
    }
  }

  ion-col {
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-book);
    border: none !important;
    padding: 0;

    &.from-date-change {
      font-family: var(--ion-font-family-bold);
    }

    &:last-child {
      padding: 0px;
    }
  }
}

.header-row {
  font-weight: bolder;
  background: var(--ion-color-step-950);
  min-height: 36px;

  ion-col {
    margin: auto;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-family: var(--ion-font-family-bold);
    border: none !important;
  }
}

.main-row .main-col {
  padding: 0;
}

.label-text {
  font-size: 20px;
  color: var(--ion-border-color);
  font-family: var(--ion-font-family-bold);
}

.user-details {
  text-transform: capitalize;
  font-size: 18px;
  padding: 20px 0;
  padding-left: 10px;
  background: #eaeaea52;
  font-weight: bolder;

  span {
    font-size: 14px;
    opacity: 0.5;
  }

  ion-img {
    margin: auto;
    width: 70%;
  }
}

.attend-header-col {
  padding: 15px 10px !important;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: var(--ion-color-step-950);
  }

  ion-icon {
    color: var(--ion-color-light-gr);
  }

  span {
    svg {
      width: 13px;
      height: 13px;

      path {
        fill: var(--ion-color-light-gr);
      }
    }
  }

  ion-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    .attend-date-txt {
      font-size: 16px;
      font-family: var(--ion-font-family-medium);
      color: var(--ion-border-color);
      margin-bottom: 0;
      position: relative;

      &~span {
        position: absolute;
        right: 0;
      }

      &:before {
        content: "";
        width: 50px;
        height: 1px;
        display: inline-block;
        background: var(--ion-color-border);
        position: absolute;
        right: -70px;
        top: 10px;
      }

      &:after {
        content: "";
        width: 50px;
        height: 1px;
        display: inline-block;
        background: var(--ion-color-border);
        position: absolute;
        left: -70px;
        top: 10px;
      }
    }
  }
}

.header-row {
  font-weight: bolder;
  background: var(--ion-color-step-950);
  min-height: 40px;

  ion-col {
    margin: auto;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-family: var(--ion-font-family-bold);
  }
}

.table-content {
  border-bottom: 1px solid var(--ion-table-border-color);
  background: var(--ion-color-light-tint-ex);
  min-height: 46px;

  & ion-col {
    padding: 0 10px;
    text-align: center;
    margin: auto;
  }

  & ion-col:first-child {
    display: flex;
    text-align: left;
  }

  ion-col:last-child {
    display: flex;
  }

  ion-icon {
    margin: auto;
  }
}

.table-content {
  font-size: 12px;

  ion-col.Pending {
    background-color: var(--ion-color-secondary);
  }

  ion-col.Approved {
    background-color: var(--ion-color-success);
  }

  ion-col.Rejected {
    background-color: var(--ion-color-danger-shaded);
  }
}

ion-text.Pending {
  color: var(--ion-color-warning-shade) !important;
}

ion-text.Approved {
  color: var(--ion-color-success) !important;
}

ion-text.Rejected {
  color: var(--ion-color-danger) !important;
}

.user-details {
  text-transform: capitalize;
  font-size: 18px;
  padding: 20px;
  background: var(--ion-grey-bg);
  font-weight: bolder;
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
    font-family: var(--ion-font-family-book);
    color: var(--ion-color-step-600);
    display: block;
    margin: 8px 0 0;
  }

  ion-img {
    margin: auto;
    width: 70%;
  }

  ion-col {
    padding: 0;
  }

  ion-text {
    font-size: 18px;
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-bold);
    font-weight: 400;
  }

  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
}

.time-sec {
  padding: 15px;
  text-align: center;
  background: var(--ion-color-primary-contrast);

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-medium);
    color: var(--ion-border-color);
    margin-bottom: 0;

    em {
      font-style: normal;
      color: var(--ion-color-step-600);
    }
  }
}

ion-col {
  &.Pending {
    background-color: rgb(243, 199, 104);
  }

  &.Approved {
    background-color: rgb(178, 243, 104);
  }

  &.Rejected {
    background-color: rgb(227, 175, 252);
  }

  &.Auto-out {
    background-color: rgb(245, 69, 57);
  }
}

.table-content {
  font-size: 12px;

  &.add-error {
    background-color: var(--ion-color-danger-shade-rgb);

    ion-icon {
      color: var(--ion-color-danger);
    }
  }
}

.status-list {
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
  background: var(--ion-color-primary-contrast);

  ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    li {
      display: inline;
      text-transform: capitalize;
      font-size: 12px;
      color: var(--ion-border-color);
      font-family: var(--ion-font-family-book);

      &::before {
        content: "";
        top: 2px;
        display: inline-block;
        width: 8px;
        height: 8px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
      }

      &.pending {
        &::before {
          background-color: var(--ion-color-warning-shade);
        }
      }

      &.approved {
        &::before {
          background-color: var(--ion-color-success);
        }
      }

      &.rejected {
        &::before {
          background-color: var(--ion-color-danger);
        }
      }

      &.auto-out {
        &::before {
          background-color: var(--ion-color-tertiary-shade-correc);
        }
      }
    }
  }
}

ion-col.attend-collapsed {
  height: 50px;
  overflow: hidden;
}

ion-col.attend-expanded {
  height: 100% !important;
}

ion-icon.attend-collapsed {
  transition: all 0.5s;
}

ion-icon.attend-expanded {
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.month-changer {
  text-align: center;
  padding-bottom: 15px;
  background: var(--ion-color-primary-contrast);

  ion-col {
    font-size: 20px;
    font-family: var(--ion-font-family-bold);
  }
}

ion-icon.ion-color-light {
  --ion-color-base: #d1d1d1 !important;
}

ion-fab-list {
  .filter-btn {
    position: absolute;
    top: -60px;
    left: 30px;
    width: 52px;
    height: 52px;
  }

  ion-fab-button {
    --background: var(--ion-color-dark);
    width: 52px;
    height: 52px;
  }

  ion-icon {
    color: var(--ion-color-primary-contrast);
    font-size: 24px;
  }
}

ion-fab-button.fab-button-close-active {
  --ion-color-base: var(--ion-color-primary) !important;
}

.attendance-list {
  font-size: 12px;
  position: sticky;
  text-align: center;
  padding: 0 10px;
  background: var(--ion-color-step-950);

  ul {
    list-style: none;
    padding: 0px;
    display: flex;
    margin: 6px 20px;

    li {
      display: inline;
      text-transform: capitalize;
      font-size: 12px;
      color: var(--ion-border-color);
      font-family: var(--ion-font-family-book);
      margin-right: 30px;

      b {
        font-family: var(--ion-font-family-bold);
        margin-right: 5px;
      }
    }
  }
}