<ion-content>
  <ion-row>
    <ion-col>
      <app-calendar [attendanceStatusTeamData]="attendanceStatusTeamData" [componentType]="calendarComponentTypeTeam"
        [getTeamCountActionCallback]="handleTeamCountActionCallback">
      </app-calendar>
    </ion-col>
  </ion-row>
  <ion-row class="main-row">
    <ion-col size="12" class="main-col" [ngClass]='screenType!=="landscape"?"sticky-content":""'>
      <ion-row class="time-sec">
        <ion-col class="team-filter-info" size="12">
          <strong *ngIf="body.FromDate">
            {{ body.FromDate |date: dateFormat }}
          </strong>
        </ion-col>
      </ion-row>
    </ion-col>
    <ng-container *ngIf="isLeavesListReadyToRender && (attendanceList && attendanceList.length)">
      <ion-col class="attend-hist-info" size="12">
        <ion-row class="header-row">
          <ion-col size="3"> Names </ion-col>
          <ion-col size="2"> In </ion-col>
          <ion-col size="2"> Out </ion-col>
          <ion-col size="2"> Spent </ion-col>
          <ion-col size="2"> Status </ion-col>
          <ion-col size="1"> </ion-col>
        </ion-row>
        <ng-container>
          <ion-row class="table-content" *ngFor="let item of attendanceList[0].data"
            (click)="item.CorrectionRequest && item.CorrectionRequest.length ? navigate(item, 'team-correction') : null">
            <ion-col size="3"> {{item.EmployeeName}} </ion-col>
            <ion-col size="2" [className]='item.in_status ? item.in_status: ""'>
              <ion-text [className]="item.InTimeStatus">
                {{item.InTime | timeFormat:'time12'}}
              </ion-text>
            </ion-col>
            <ion-col size="2" [className]='item.out_status ? item.out_status: ""'>
              <ion-text [className]="item.OutTimeStatus">
                {{item.OutTime | timeFormat:'time12'}}
              </ion-text>
            </ion-col>
            <ion-col size="2">
              <ion-text *ngIf="item.SpentHours && item.SpentHours.label">
                {{item.SpentHours.label}}
              </ion-text>
              <ion-text *ngIf="!item.SpentHours"> - </ion-text>
            </ion-col>
            <ion-col size="2"> {{item.Status}} </ion-col>
            <ion-col size="1">
              <ion-icon *ngIf="item.CorrectionRequest && item.CorrectionRequest.length" name="chevron-forward-outline"
                class="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-col>
    </ng-container>
    <ng-container *ngIf="isLeavesListReadyToRender && (!attendanceList || !attendanceList.length)">
      <ion-col size="12" sizeMd="12">
        <ion-card class="no-record">
          <ion-card-content> No Attendance Recorded </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
  <ion-row class="attendance-list">
    <ion-col size="12">
      <ul>
        <li><b>P </b> Present</li>
        <li><b>A </b> Absent</li>
        <li><b>L </b> Leave</li>
        <li><b>H</b> Holiday</li>
      </ul>
    </ion-col>
  </ion-row>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="filter-btn" (click)="handleFilter()">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>