<ion-content>
  <ion-row>
    <ion-col>
      <app-calendar [salesVisitData]="salesVisitData" [componentType]="calendarComponentTypeTeam"
        [getTeamCountActionCallback]="handleTeamCountActionCallback">
      </app-calendar>
    </ion-col>
  </ion-row>
  <div class="leave-sec">
    <div class="cmn-dashbrd-hdr">
      <h3>Sales Visits</h3>
    </div>
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col class="border-col" size="3">
          <ion-label>Team member</ion-label>
        </ion-col>
        <ion-col class="border-col" size="3">
          <ion-label>Dealer</ion-label>
        </ion-col>
        <ion-col class="border-col" size="6">
          <ion-label>CheckIn - CheckOut Time</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="visits && visits.length ">
        <ion-row class="body-row upcoming-leaves" *ngFor="let visit of visits">
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="visit.EmployeeName">{{ visit.EmployeeName }}</ion-text>
            <ion-text *ngIf="!visit.EmployeeName">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="visit.NameofSIorDealer">{{ visit.NameofSIorDealer }}</ion-text>
            <ion-text *ngIf="!visit.NameofSIorDealer">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="6">
            <ion-text *ngIf="visit.CheckIn && visit.CheckOut">{{ visit.CheckIn | date: 'HH:mm' }} -
              {{ visit.CheckOut | date: 'HH:mm' }}</ion-text>
            <ion-text *ngIf="!visit.CheckIn && !visit.CheckOut">-</ion-text>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="visits && !visits.length">
        <ion-row class="body-row">
          <ion-col size="12" class="nodata-label">
            <ion-label>No sales visits</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="filter-btn" (click)="handleFilter()">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>