.main-row {
  padding: 0;

  ion-col.main-col {
    padding: 0;
  }

  ion-col {
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-book);

    &:last-child {
      padding: 10px;
    }
  }
}

.user-details {
  text-transform: capitalize;
  font-size: 18px;
  padding: 20px;
  background: var(--ion-grey-bg);
  font-weight: bolder;
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
    font-family: var(--ion-font-family-book);
    color: var(--ion-color-step-600);
    display: block;
    margin: 8px 0 0;
  }

  ion-img {
    margin: auto;
    width: 70%;
  }

  ion-col {
    padding: 0;
  }

  ion-text {
    font-size: 18px;
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-bold);
    font-weight: 400;
  }

  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
}



.chevron-forward-outline {
  font-size: 16px;
  font-weight: bold;
}

.team-filter-info-row {
  background: var(--ion-color-primary-contrast);
}

.team-filter-info {
  // padding: 15px;
  text-align: center;

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-medium);
    color: var(--ion-border-color);
    margin: 0;

    em {
      font-style: normal;
      color: var(--ion-color-step-600);
    }
  }
}


ion-icon.attend-collapsed {
  transition: all 0.5s;
}

.time-sec {
  padding: 15px 0px;
  text-align: center;

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-medium);
    color: var(--ion-border-color);
    margin-bottom: 0;

    em {
      font-style: normal;
      color: var(--ion-color-step-600);
    }
  }
}

.team-top-date-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  position: relative;

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-medium);
    color: var(--ion-border-color);
    margin-bottom: 0;
    position: relative;

    &::after {
      content: "";
      width: 50px;
      height: 1px;
      display: inline-block;
      background: var(--ion-color-border);
      position: absolute;
      left: -70px;
      top: 10px;
    }

    &::before {
      content: "";
      width: 50px;
      height: 1px;
      display: inline-block;
      background: var(--ion-color-border);
      position: absolute;
      right: -70px;
      top: 10px;
    }
  }

  .rgt-dwn-arrow {
    position: absolute;
    right: 10px;
  }
}

ion-icon.ion-color-light {
  --ion-color-base: #d1d1d1 !important;
}

.month-changer {
  text-align: center;

  ion-col {
    font-size: 20px;
    font-family: var(--ion-font-family-bold);
  }
}

ion-icon.attend-expanded {
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.sticky-content {
  position: sticky;
  top: 0px;
  z-index: 99;
  background: var(--ion-color-primary-contrast);
}

ion-fab-list {
  .filter-btn {
    position: absolute;
    top: -60px;
    left: 30px;
    width: 52px;
    height: 52px;
  }

  ion-fab-button {
    --background: var(--ion-color-dark);
    width: 52px;
    height: 52px;
  }

  ion-icon {
    color: var(--ion-color-primary-contrast);
    font-size: 24px;
  }
}

ion-fab-button.fab-button-close-active {
  --ion-color-base: var(--ion-color-primary) !important;
}

.leaves-row {
  width: 100%;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 22px;
}

.header-row {
  font-weight: bolder;
  background: var(--ion-color-step-950);
  border-left: none;
  border-right: none;

  ion-col {
    margin: auto;
    justify-content: flex-start;
    display: flex;
    font-size: 11.9px;
    font-family: var(--ion-font-family-bold);
    min-height: 36px;
    align-items: center;
    padding: 0 15px;
  }
}

.leave-sec {
  width: 100%;
  display: inline-block;
  margin-bottom: 22px;

  .cmn-dashbrd-hdr {
    padding: 0 15px;
  }
}

.nodata-label {
  margin-top: 10px;
  text-align: center;
  padding-top: 10px;
}

.upcoming-leaves {
  padding-left: 15px;
  ion-col {
    font-size: 14px;
    min-height: 40px;
    display: flex;
    align-items: center;
  }
}