<div class="leave-list-item">
  <ion-card *ngIf="data" class="cust-visit-card" [ngClass]="
  (data.checkInStatus === 2 || data.checkOutStatus === 2) && componentType === componentTypeTeam
    ? 'btn-section-enable'
    : ''">
    <ion-card-content class="leaves-card-content">
      <ion-row class="wrapper-row custom-wrapper">
        <ion-col class="wrapper-col left-col" size="12">
          <span class="label">Customer: </span>
          <span class="value">{{ data.customerName }}</span>
        </ion-col>
        <ion-col class="wrapper-col left-col" size="12">
          <span class="label">Address: </span>
          <span class="value">{{ data.customerAddress }}</span>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <ion-row>
        <ion-col size="12" class="status-col">
          <div>
            <span class="label">
              In Time
            </span>
            <span class="value">
              {{ data.checkInTime | dateTimeFormat: "time12" }}
            </span>
          </div>
          <div>
            <ion-item lines="none" *ngIf="data.checkInStatus === 2 && componentType === componentTypeTeam">
              <ion-checkbox mode="md" [(ngModel)]="InTime" (click)="selectCheckIn(data.checkInId)"></ion-checkbox>
            </ion-item>
            <ion-item class="status" lines="none">
              <ion-label [ngClass]="data.inStatus">{{
                data.inStatus
              }}</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="status-col">
          <div>
            <span class="label">
              Out Time
            </span>
            <span class="value">
              {{ data.checkOutTime | dateTimeFormat: "time12" }}
            </span>
          </div>
          <div>
            <ion-item lines="none" *ngIf="data.checkOutStatus === 2 && componentType === componentTypeTeam">
              <ion-checkbox mode="md" [(ngModel)]="OutTime"></ion-checkbox>
            </ion-item>
            <ion-item class="status" lines="none">
              <ion-label [ngClass]="data.outStatus">{{
                data.outStatus
              }}</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="action-buttons" [ngClass]="true ? 'center-btn' : true ? 'hide-sector' : ''"
        *ngIf="isSupervisor && (data.checkInStatus === 2 || data.checkOutStatus === 2) && componentType === componentTypeTeam">
        <ion-col size="auto">
          <ion-button [color]="InTime || OutTime ? 'dark' : 'light'" expand="full" [disabled]="!InTime && !OutTime"
            (click)="handleAction()">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>