ion-card {
  z-index: 1;
}

.leave-list-item {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  background: #eee;
  border-radius: 12px;
  margin-bottom: 0;
  margin-top: 5px;

  .leaves-card-content {
    padding: 15px;

    .wrapper-col {
      padding: 0 0 7px;

      &.left-col {
        text-align: left;
      }

      &.right-col {
        text-align: right;

        &.border-seperator {
          border-left: 2px solid #ccc;
        }
      }

      .label {
        font-weight: bold;
      }

      &.reason-col {
        padding: 10px 0 0;

        span.label {
          display: block;
        }
      }
    }

    ion-row ion-col {
      @media screen and (max-width: 320px) {
        font-size: 12px;
      }

      span.label {
        font-size: 14px;
        font-family: var(--ion-font-family-book);
        color: var(--ion-color-step-600);
        margin-right: 5px;
        min-width: 78px;
        font-weight: normal;
        display: inline-block;

        @media screen and (max-width: 360px) {
          min-width: 66px;
        }

        @media screen and (max-width: 375px) {
          min-width: 68px;
        }
      }

      span.value {
        font-family: var(--ion-font-family-bold);
        font-size: 14px;
        color: var(--ion-border-color);
        margin-right: 5px;
      }
    }

    .custom-wrapper {
      @media screen and (max-width: 320px) {
        font-size: 12px;
      }

      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      ion-col {
        display: flex;
        align-items: center;

        span.value {
          margin-left: 6px;
        }
      }
    }
  }

  div.divider {
    height: 1px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;

    &.divider-none {
      border-bottom: none;
    }
  }

  ion-card {
    .card-content-md {
      font-size: 16px;
    }

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    margin-bottom: 0;
    border-radius: 12px;
    margin: 0;

    &.btn-section-enable {
      margin: 0 0 80px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: auto;
        bottom: -80px;
        background: #f2f2f2;
        width: 100%;
        border-radius: 0 0 15px 15px;
        height: 50%;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        z-index: -1;
      }
    }
  }

  ion-row.actions {
    ion-col {
      align-self: flex-end;
    }

    ion-button {
      letter-spacing: 0.05em;
      margin: 0 8px;
      --box-shadow: none;

      button.button-native {
        padding: 10px;
        min-width: 68px;
        line-height: 45px;
      }
    }

    margin: 0 16px 0 16px;
    background: #eee;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 7px;

    &.center-btn {
      justify-content: center;
    }

    &.hide-sector {
      display: none;
    }
  }
}

.action-buttons {
  justify-content: center;
  border-radius: 0 0 15px 15px;
  padding: 24px 0;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background: transparent;
  overflow: hidden;

  ion-button {
    text-transform: capitalize;
  }
}

.in-time-data-row {
  margin-top: 10px;
}

ion-item {
  align-items: center;
  --min-height: 28px;
  float: right;

  ion-checkbox {
    margin: 0;
  }
}

.Pending {
  color: var(--ion-color-warning-light-tint);
  background: rgba(246, 122, 28, 0.17);
  width: 88px;
  text-align: center;
  font-size: 13px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin: 0;
  padding: 0;
}

.Approved {
  color: var(--ion-color-success-light-tint);
  background: rgba(28, 246, 152, 0.17);
  width: 88px;
  text-align: center;
  font-size: 13px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin: 0;
  padding: 0;
}

.Rejected,
.Cancelled {
  color: var(--ion-color-warning-light-tint);
  background: rgba(246, 122, 28, 0.17);
  width: 88px;
  text-align: center;
  font-size: 13px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin: 0;
  padding: 0;
}

.checkin-lft-lbl {
  font-size: 14px;
  font-family: var(--ion-font-family-book);
  color: var(--ion-color-step-600);
}

.check-in-time {
  font-size: 14px;
  font-family: var(--ion-font-family-bold);
  color: var(--ion-border-color);
}

.status-btn {
  width: 85px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
}

.rgt-align {
  text-align: right;
}

.status-col {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin-top: 10px;
}



ion-item {
  &.status {
    --inner-padding-end: 0px;
  }
}


.cust-visit-card {
  overflow: visible;
}