.forgot-password-url {
  text-align: right;
  padding-right: 11px;

  a {
    text-decoration: none;
    color: var(--ion-color-primary);
    font-size: 16px;
  }
}

.error-msg {
  color: var(--ion-color-danger);
}

.pwd-togg {
  align-self: flex-end;
}

.lbl-login {
  font-size: 18px;
  margin-bottom: 10px;
}

.brand-logo-wrap {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 42px;
    margin-bottom: 30px;
    opacity: 0.6;
  }
}

.login-title {
  display: flex;
  justify-content: center;

  h2 {
    margin: 0;
  }
}

ion-item {
  --padding-start: 10px;
  --inner-padding-end: 11px;

  &.login-password {
    position: relative;

    ion-icon {
      position: absolute;
      right: 20px;
      margin: 0;
      bottom: 7px;
      z-index: 9999;
    }
  }
}

.login-div {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.form-div {
  position: absolute;
  top: 1%;

  @media screen and (min-height: 700px) {
    top: 3%;
  }

  @media screen and (min-height: 1000px) {
    top: 8%;
  }

  height: 100%;
  width: 100%;
}

ion-button {
  text-transform: initial;
  margin-top: 20px;
  font-size: 16px;
  --box-shadow: none;
  // font-weight: bolder;
}

.remember-me {
  padding-left: 10px;

  ion-text {
    position: absolute;
    top: 6px;
    padding-left: 5px;
  }
}

.login-form-col {
  padding-left: 0;
  padding-right: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */

  .login-form-field {
    background: transparent;

    ion-item {
      --background: rgba(255, 255, 255, 0);
    }
  }
}

.item-avatar {
  max-width: 300px !important;
  margin-top: 50px;
  margin-bottom: 50px;
}