<ion-content scroll-y="false">
  <div class="login-div">
    <img src="/assets/images/loginbg.png" alt="" />
  </div>
  <div class="form-div">
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
      <ion-row>
        <ion-col class="brand-logo-wrap" size="12">
          <img src="assets/images/splash-icon.png" class="item-avatar" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="login-title" size="12">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="login-form-col">
          <ion-list class="login-form-field">
            <ion-item lines="none">
              <ion-input class="custom-input" formControlName="username" type="text" placeholder="User Name">
              </ion-input>
            </ion-item>
            <ion-item lines="none" class="validation-msg">
              <div *ngIf="usernameCtrl.invalid && (usernameCtrl.touched || usernameCtrl.dirty)">
                <span class="error-msg" *ngIf="usernameCtrl.errors.required || usernameCtrl.errors.onlySpaces">User Name
                  is required</span>
              </div>
            </ion-item>
            <ion-item class="login-password" lines="none">
              <ion-input class="custom-input" formControlName="password" [type]="showPassword ? 'text' : 'password'"
                placeholder="Password"></ion-input>
              <ion-icon (click)="togglePassword()" class="pwd-togg"
                [name]="showPassword ? 'eye-outline': 'eye-off-outline'" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none" class="validation-msg">
              <div *ngIf="passwordCtrl.invalid && (passwordCtrl.touched || passwordCtrl.dirty)">
                <span class="error-msg" *ngIf="passwordCtrl.errors.required|| passwordCtrl.errors.onlySpaces">Password
                  is required</span>
              </div>
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col size="6" class="remember-me" (click)="handelIsRemember()">
              <ion-checkbox mode="md" [checked]="isRemember"></ion-checkbox>
              <ion-text> Remember me </ion-text>
            </ion-col>
            <ion-col class="forgot-password-url" size="6">
              <a (click)="handleForgotPassword()">Forgot Password?</a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" offset="3">
              <ion-button type="submit" [disabled]="!loginForm.valid" expand="full" strong="true">
                Log In
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>