.wrapper {
  --padding-start: 10px;
  --padding-end: 10px;
}

.info-col {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #9799a1;
}

.header-text {
  display: flex;
  align-items: center;
}

.error-msg {
  color: var(--ion-color-danger);
}

ion-button {
  text-transform: capitalize;
}

.title-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;

  h3 {
    font-size: 18px;
    color: var(--ion-color-medium);
    padding: 0 0 0 10px;
    text-align: left;
    font-weight: initial;
    margin: 0;
  }
}

.light-color {
  color: var(--ion-color-medium);
}

.control-item {
  ion-label {
    margin-bottom: 0px;
  }

  --padding-start: 5px;
  --padding-end: 5px;
  --inner-padding-end: 0;
  position: relative;

  ion-icon.pwd-togg {
    position: absolute;
    right: 20px;
    margin: 0;
    bottom: 10px;
    z-index: 9999;
  }

  ion-input {
    input {
      margin-top: 2px !important;
    }
  }
}

.ios {
  .control-item {
    ion-label {
      font-size: 16px;
    }
  }
}

.btn-row {
  padding: 0 15px;
}

ion-title {
  @media screen and (max-width: 320px) {
    padding: 0px;
  }
}

.noti-badge {
  position: absolute;
  top: 0px;
  left: 16px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: normal;
  z-index: 1;
  width: 19px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 18px;
}

.noti-icon {
  font-size: 26px;
}

.noti-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}

.setting-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}