<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Change Password</ion-title>
    <ion-buttons slot="end" fill="clear">
      <a routerLink="/dashboard" class="home-icon">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      <ion-buttons class="settings-icon" (click)="showSettings()" *ngIf="isSupervisor">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
      <ion-button class="noti-btn" (click)="showNotifications()">
        <ion-badge *ngIf="notificationCount>0" color="primary" class="noti-badge">{{notificationCount}}</ion-badge>
        <ion-icon name="notifications-outline" class="noti-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="wrapper">
  <ion-row class="title-wrapper">
    <ion-col size="auto">
      <h3 class="header-text">Password tips</h3>
    </ion-col>
    <ion-col size="auto" class="info-col">
      <ion-icon class="info-icon" (click)="presentPopover($event)" src="assets/images/info.svg"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <form [formGroup]="changePasswordForm" (ngSubmit)="handleSubmit()">
        <ion-item lines="none" class="control-item">
          <ion-label position="stacked" class="light-color">
            Old Password<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-icon (click)="showPassword.oldP = !showPassword.oldP"
            [name]="showPassword.oldP ? 'eye-outline' : 'eye-off-outline'" class="pwd-togg" slot="end"></ion-icon>
          <ion-input class="custom-input" formControlName="oldPassword" [type]="showPassword.oldP?'text':'password'"
            placeholder="Enter old password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <div *ngIf="oldPasswordCtrl.invalid && (oldPasswordCtrl.touched || oldPasswordCtrl.dirty)">
              <span class="error-msg" *ngIf="oldPasswordCtrl.errors.required">
                Old password is required
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-item lines="none" class="control-item">
          <ion-label position="stacked" class="light-color">
            New Password<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-icon (click)="showPassword.newP = !showPassword.newP"
            [name]="showPassword.newP ? 'eye-outline' : 'eye-off-outline'" class="pwd-togg" slot="end"></ion-icon>
          <ion-input class="custom-input" formControlName="newPassword" [type]="showPassword.newP?'text':'password'"
            placeholder="Enter new password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <div *ngIf="newPasswordCtrl.invalid && (newPasswordCtrl.touched || newPasswordCtrl.dirty)">
              <span class="error-msg" *ngIf="newPasswordCtrl.errors.required">
                New password is required
              </span>
              <span class="error-msg" *ngIf="newPasswordCtrl.errors.minlength || newPasswordCtrl.errors.maxlength">
                New Password must be 6-15 characters
              </span>
            </div>
            <div *ngIf="newPasswordCtrl.valid && changePasswordForm.errors && changePasswordForm.errors.oldNewSame">
              <span class="error-msg">
                Old password and new password are same
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-item lines="none" class="control-item">
          <ion-label position="stacked" class="light-color">
            Confirm New Password<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-icon (click)="showPassword.confP = !showPassword.confP"
            [name]="showPassword.confP ? 'eye-outline' : 'eye-off-outline'" class="pwd-togg" slot="end"></ion-icon>
          <ion-input class="custom-input" formControlName="confirmPassword"
            [type]="showPassword.confP?'text':'password'" placeholder="Confirm new password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <div *ngIf="confirmPasswordCtrl.invalid && (confirmPasswordCtrl.touched || confirmPasswordCtrl.dirty)">
              <span class="error-msg" *ngIf="confirmPasswordCtrl.errors.required">
                Confirm new password is required
              </span>
              <span class="error-msg"
                *ngIf="confirmPasswordCtrl.errors.minlength || confirmPasswordCtrl.errors.maxlength">
                Confirm Password must be 6-15 characters
              </span>
            </div>
            <div
              *ngIf="confirmPasswordCtrl.valid && changePasswordForm.errors && changePasswordForm.errors.passwordMismatch">
              <span class="error-msg">
                New Password and Confirm Password do not match
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="btn-row">
          <ion-col size="6">
            <ion-button color="btn-cancel" type="button" (click)="navigate()" expand="full" mode="ios" strong="true">
              Cancel
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button type="submit" expand="full" color="primary" [disabled]="!changePasswordForm.valid" mode="ios"
              strong="true">
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>