<ion-header>
  <ion-toolbar>
    <ion-title class="ion-title">
      {{leaveInfo ? 'Edit' : 'Apply'}} Leave {{leaveInfo ? 'Application' :
      ''}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="leaveApplication" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Start Date</ion-label>
          <ion-datetime formControlName="FromDate" [max]="fromMaxDate" [min]="fromMinDate"
            (ionChange)="dateAdjust('from')" display-format="DD-MM-YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Day</ion-label>
          <ion-select (ionChange)="setTotalLeaves()" value="full-day" formControlName="FromDayType">
            <ion-select-option *ngFor="let type of leaveDayTypes" [value]="type.DayId">
              {{type.DayValue}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">End Date</ion-label>
          <ion-datetime formControlName="ToDate" [max]="toMaxDate" [min]="toMinDate" (ionChange)="dateAdjust('to')"
            display-format="DD-MM-YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Day</ion-label>
          <ion-select (ionChange)="setTotalLeaves()" value="full-day" formControlName="ToDayType">
            <ion-select-option *ngFor="let type of leaveDayTypes" [value]="type.DayId">
              {{type.DayValue}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="total-leave-days" *ngIf="NoofDays > 0">
      <span class="label">Total Leave</span>
      <span class="value">
        {{NoofDays}} {{NoofDays > 1 ? 'Days' : 'Day'}}
      </span>
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="stacked">Leave Type</ion-label>
          <ion-select placeholder="--Leave Type--" formControlName="LeaveType">
            <ion-select-option *ngFor="let type of leaveTypes" [value]="type.LeaveId">
              {{type.LeaveName}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div *ngIf="isSubmitted && fControls.LeaveType.invalid">
          <span class="error-msg" *ngIf="fControls.LeaveType.errors && fControls.LeaveType.errors.required">Leave type
            is required.</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-item lines="none" class="mb0">
      <ion-label position="stacked">Reason <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-textarea placeholder="Enter Reason" formControlName="Reason"></ion-textarea>
    </ion-item>
    <ion-row *ngIf="fControls.Reason.invalid && (fControls.Reason.touched || fControls.Reason.dirty)">
      <ion-item lines="none" class="validation-msg">
        <ion-col size="12">
          <div>
            <span class="error-msg"
              *ngIf="fControls.Reason.errors && (fControls.Reason.errors.required || fControls.Reason.errors.onlySpaces)">Reason
              is required.</span>
            <span class="error-msg" *ngIf="fControls.Reason.errors && fControls.Reason.errors.minlength">
              Please enter minimum 500 characters.
            </span>
            <span class="error-msg" *ngIf="fControls.Reason.errors && fControls.Reason.errors.maxlength">
              Please enter maximum 500 characters only.
            </span>
          </div>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="filter-btn-row">
        <ion-button (click)="dismiss()" color="dark" expand="block">
          Cancel
        </ion-button>
        <ion-button type="submit" color="primary" expand="block" padding="27">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>