.error-msg {
  color: var(--ion-color-danger);
}

ion-title {
  padding: 0;
  text-align: center;
}

.total-leave-days {
  display: flex;
  margin: 12px 30px;
  justify-content: space-between;

  .label {
    font-size: 14px;
    color: var(--ion-color-step-600);
  }

  .value {
    font-family: var(--ion-font-family-bold);
    font-size: 18px;
    color: var(--ion-color-danger);
  }
}