<ion-row [ngClass]="(componentType === componentTypeTeam)?'ion-justify-content-between':'ion-justify-content-end'">
  <ion-col size="2" *ngIf="componentType === componentTypeTeam">
    <button role="close" class="export-btn" (click)="handleExport()">Export</button>
  </ion-col>
  <ion-col size="2">
    <button role="close" class="done-btn" [disabled]="isToday" (click)="selectToday()">Today</button>
  </ion-col>
</ion-row>
<ion-row class="month-changer">
  <ion-col class="padding-non" size="2">
    <ion-icon name="chevron-back-outline" (click)="prevMonth()">
    </ion-icon>
  </ion-col>
  <ion-col class="padding-non" size="8">
    {{ viewTitle }}
  </ion-col>
  <ion-col class="padding-non" size="2">
    <ion-icon name="chevron-forward-outline" (click)="nextMonth()">
    </ion-icon>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <calendar [monthviewDisplayEventTemplate]="template" queryMode="remote" [showEventDetail]="false"
      [dateFormatter]="calendar.dateFormatter" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)" (onTitleChanged)="onViewTitleChanged($event)" step="30">
    </calendar>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="1">
    <ion-icon name="ellipse" class="approved-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Approved
  </ion-col>
  <ion-col size="1">
    <ion-icon name="ellipse" class="rejected-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Rejected
  </ion-col>
  <ion-col size="1">
    <ion-icon name="ellipse" class="pending-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Total
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="1">
    <ion-icon name="ellipse" class="in-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Ongoing
  </ion-col>
  <ion-col size="1">
    <ion-icon name="ellipse" class="done-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Done
  </ion-col>
</ion-row>
<ng-template #template let-view="view" let-row="row" let-col="col" class="test">
  <div class="td-date"
    [ngClass]="(view.dates[row*7+col].date | date:'yyyy-MM-dd') === selectedDay ? 'selected' : (view.dates[row*7+col].date | date:'yyyy-MM-dd') === today ? 'today-class' : ''">
    <span class="date left">{{view.dates[row*7+col].date | date:'dd'}}</span>
    <p class="date center approved"
      *ngIf="customerVisitData && customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] && today !== (view.dates[row*7+col].date | date:'yyyy-MM-dd') && isVisible(view.dates[row*7+col].date)">
      {{customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')].ApprovedVisits}}</p>
    <p class="date center reject"
      *ngIf="customerVisitData && customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] && today !== (view.dates[row*7+col].date | date:'yyyy-MM-dd') && isVisible(view.dates[row*7+col].date)">
      {{customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')].RejectedVisits}}</p>
    <p class="date center pending"
      *ngIf="customerVisitData && customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] && today !== (view.dates[row*7+col].date | date:'yyyy-MM-dd') && isVisible(view.dates[row*7+col].date)">
      {{customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')].TotalVisits}}</p>
    <p class="date center in-meeting"
      *ngIf="customerVisitData && customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] && today === (view.dates[row*7+col].date | date:'yyyy-MM-dd')">
      {{customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')].InMeeting}}</p>
    <p class="date center done-meeting"
      *ngIf="customerVisitData && customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] && today === (view.dates[row*7+col].date | date:'yyyy-MM-dd')">
      {{customerVisitData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')].DoneMeeting}}</p>
  </div>
</ng-template>