.error-msg {
  color: var(--ion-color-danger);
}

ion-text {
  &.end {
    left: 70%;
    opacity: 1;
  }

  &.status {
    left: 60%;
    opacity: 1;
    padding: 5px 15px;
    border-radius: 20px;
    color: var(--ion-color-primary-contrast);

    &.Pending {
      background: var(--ion-color-warning-tint);
    }

    &.Approved {
      background: var(--ion-color-success-tint);
    }

    &.Rejected {
      background: var(--ion-color-tertiary-shade-correc);
    }

    &.Auto-out {
      background: var(--ion-color-danger);
    }
  }
}

ion-datetime {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--ion-color-step-950);
  margin: 0 !important;
  height: initial !important;
}

form {
  font-size: 17px;
}

ion-datetime {
  font-size: 16px;
  font-family: var(--ion-font-family-bold);
  position: relative;
}

.flex-layout {
  display: flex;
  align-items: center;
  padding: 0;
}

.floating-label {
  opacity: 0.5;
}

form {
  .request-id-sec {
    padding: 12px 11px;

    ion-col {
      font-size: 14px;
      color: var(--ion-border-color);
      font-family: var(--ion-font-family-book);
      padding-bottom: 0;

      strong {
        font-family: var(--ion-font-family-bold);
      }
    }
  }

  .form-head {
    background: var(--ion-color-step-1000);
    padding: 12px 0;

    ion-col {
      font-size: 16px;
      color: var(--ion-color-step-600);
      font-family: var(--ion-font-family-book);
    }
  }

  .checkin-data {
    background: var(--ion-color-step-1000);

    ion-label,
    ion-text {
      font-size: 16px;
      color: var(--ion-color-step-600);
      font-family: var(--ion-font-family-book);
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      i {
        width: 22px;
        height: 20px;
        display: inline-flex;
        position: absolute;
        right: -28px;

        &.camera-icn {
          right: -38px;
        }
      }
    }
  }
}

.margin-content {
  margin: 0 5px;
}

.cmn-cmnt-sec {
  h5 {
    font-family: var(--ion-font-family-bold);
    margin: 0;
  }

  label {
    font-size: 14px;
    color: var(--ion-color-lbl-color);
    font-family: var(--ion-font-family-book);
  }

  p {
    font-size: 18px;
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-medium);
    margin: 5px 0 7px;
    line-height: 26px;
  }
}

ion-title {
  font-size: 20px;
  text-align: left;
  font-family: var(--ion-font-family-bold);
  padding: 0 15px;

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-book);
    margin-left: 5px;
  }
}

ion-text.strong-text {
  opacity: 1;
  font-size: 18px;
  margin: 10px 0;
  color: var(--ion-color-dark);
}

.corr-page {
  .modal-wrapper {
    position: absolute;
    bottom: 0px;
    --height: 70%;
    --border-top-right-radius: 20px;
    --border-top-left-radius: 20px;
  }
}

.correc-responce-sec {
  ion-textarea {
    textarea {
      opacity: 1 !important;
    }
  }
}

ion-button {
  text-transform: capitalize;
}

.correction-form {
  ion-col {
    font-size: 18px;
  }
}

ion-button {
  --padding-start: 50px;
  --padding-end: 50px;
  width: calc(50% - 20px);
  height: 56px;
  font-size: 20px;
  font-family: var(--ion-font-family-bold);
  --border-radius: 0;
  --background: var(--ion-color-primary);
  margin: 0;
}

.datetime-wrapper {
  --background: var(--ion-color-step-1000);
}

.attend-type-icon {
  display: flex;
  align-items: center;
}

.reject-icon {
  font-size: 18px !important;
}

.correction-req-card {
  margin-bottom: 10px;
  margin-top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;

  h3 {
    font-family: var(--ion-font-family-medium);
    font-size: 16px;
    color: var(--ion-border-color);
    min-height: 23px;
    margin: 0;

    @media screen and (max-width: 360px) {
      font-size: 14px;
    }
  }

  .label {
    font-family: var(--ion-font-family-medium);
    font-size: 14px;
    color: var(--ion-border-color);
    margin-bottom: 23px;
  }

  .value,
  ion-text {
    font-family: var(--ion-font-family-book);
    font-size: 16px;
    color: var(--ion-color-step-600);
    min-height: 25px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 360px) {
      font-size: 14px;
    }

    ion-icon {
      font-size: 20px;
      margin-right: 5px;
    }
  }

  .divider {
    height: 1px;
    border-bottom: 1px solid #eee;
    margin: 12px 0;
  }

  ion-row {
    ion-col {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;

      &:first-child {
        align-items: flex-start;
      }
    }
  }

  ion-item {
    --min-height: inherit;
    max-width: 100%;
    --padding-end: 0;
    --padding-start: 0;
    --inner-padding-end: 0px;

    ion-select {
      padding: 0 !important;
      height: inherit !important;
      min-height: 25px;
      margin-top: 0 !important;
      border: none;
      font-family: var(--ion-font-family-book);
      font-size: 16px;
      color: var(--ion-border-color);

      @media screen and (max-width: 360px) {
        font-size: 14px;
      }
    }

    ion-label {
      margin: 0;
      font-family: var(--ion-font-family-book);
      font-size: 16px;
      color: var(--ion-color-step-600);
      min-height: 25px;
      display: flex;
      align-items: flex-start;
      display: block;
      // padding-right: 10px;

      @media screen and (max-width: 360px) {
        font-size: 14px;
      }
    }

    ion-icon {
      font-size: 14px;
      // margin-top: -4px;
      margin-left: 5px;
    }
  }

  ion-datetime {
    padding: 0 !important;
  }

  .comments-in-card {
    h3 {
      margin-bottom: 10px;
    }

    .comments-in-block {
      margin-bottom: 5px;

      .label {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.text-item {
  --padding-end: 0;
  --padding-start: 10px;
}

.btn-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-bottom: 20px;

  ion-button {
    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

.detail-content {
  margin-top: 26px;

  ion-textarea {
    margin-top: 0 !important;

    textarea {
      margin-top: 0 !important;
    }
  }
}

.card-cnt-main {
  padding: 20px 0 0;
}

.comment-section {
  align-items: flex-start !important;
}

ion-img {
  width: 20px;
  margin-right: 5px;
  opacity: 0.4;
  margin-top: 2px;
}