<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Correction Request
      <span> ({{correctItem.AttendanceDate|date: 'd MMM yyyy'}}) </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="type === 'my-correction' && correctItem" [formGroup]="correctionReqForm" (ngSubmit)="sendReq()">
    <div class="card-cnt-main">
      <ion-card class="correction-req-card">
        <ion-card-content>
          <ion-row>
            <ion-col size="4">
              <h3>Log In</h3>
            </ion-col>
            <ion-col size="4">
              <div class="label">Actual Time</div>
              <div class="value">
                <span>
                  <ion-icon *ngIf="correctItem.InTimeType && correctItem.InTimeType === 'Mobile'" name="camera-outline">
                  </ion-icon>
                  <ion-img *ngIf="correctItem.InTimeType && correctItem.InTimeType !== 'Mobile'"
                    src="assets/images/qr-code.png"></ion-img>
                  <ion-img *ngIf="!correctItem.InTimeType && correctItem.InTime!=='-'" src="assets/images/question.png">
                  </ion-img>
                </span>
                <ion-text>
                  {{correctItem.InTime | timeFormat: 'time12'}}
                </ion-text>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="label">Requested</div>
              <div class="value">
                <ion-item lines="none" *ngIf="!blockInTime">
                  <ion-datetime formControlName="in_time" display-format="HH:mm" picker-format="HH:mm"
                    (ionChange)='timeAdjust($event,"in")' placeholder="HH:MM"></ion-datetime>
                </ion-item>
                <ion-text *ngIf="blockInTime">
                  {{inTimeCorrected | timeFormat: 'time12'}}
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
          <div class="divider"></div>
          <ion-row>
            <ion-col size="6">
              <h3>Regularization Type</h3>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none" *ngIf="AttnRegularizeTypeId">
                <ion-label *ngIf="!blockInTime">Select Regularization Type</ion-label>
                <ion-select [disabled]='correctItem.InTime==="-"' appNoArrow placeholder="Select Regularization Type"
                  *ngIf="!blockInTime" [(ngModel)]="AttnRegularizeTypeId.in" [ngModelOptions]="{standalone: true}">
                  <ion-select-option *ngFor="let regType of AttnRegularizeTypes" [value]="regType.AttnRegularizeTypeId">
                    {{regType.AttnRegularizeDesc}}
                  </ion-select-option>
                </ion-select>
                <ion-text *ngIf="blockInTime && correctItem.InAttnRegularizeCode">
                  {{correctItem.InAttnRegularizeCode}}
                </ion-text>
                <ion-icon src="assets/images/correction-tick.svg"
                  *ngIf="blockInTime && inTimeStatus === APPROVED_STATUS_ID"></ion-icon>
                <ion-icon name="close-circle-outline" color="danger" class="reject-icon"
                  *ngIf="blockInTime && inTimeStatus === REJECTED_STATUS_ID"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>

          <ng-container *ngIf="inTimeComment && inTimeComment.commentFor === 1">
            <div class="divider"></div>
            <ion-row>
              <ion-col class="comments-in-card" *ngIf="inTimeComment.comment || inTimeComment.supervisorComment"
                size="12">
                <div class="comments-in-block" *ngIf="inTimeComment.comment">
                  <div class="label">Your Comment</div>
                  <div class="value">{{inTimeComment.comment}}</div>
                </div>
                <div class="comments-in-block" *ngIf="outTimeComment?.supervisorComment">
                  <div class="label">Superviser Comment</div>
                  <div class="value">{{inTimeComment.supervisorComment}}</div>
                </div>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-card-content>
      </ion-card>

      <ion-card class="correction-req-card">
        <ion-card-content>
          <ion-row>
            <ion-col size="4">
              <h3>Log Out</h3>
            </ion-col>
            <ion-col size="4">
              <div class="label">Actual Time</div>
              <div class="value">
                <span>
                  <ion-icon *ngIf="correctItem.OutTimeType && correctItem.OutTimeType === 'Mobile'"
                    name="camera-outline"></ion-icon>
                  <ion-img *ngIf="correctItem.OutTimeType && correctItem.OutTimeType !== 'Mobile'"
                    src="assets/images/qr-code.png"></ion-img>
                  <ion-img *ngIf="!correctItem.OutTimeType && correctItem.OutTime!=='-'"
                    src="assets/images/question.png"></ion-img>
                </span>
                <ion-text>
                  {{correctItem.OutTime | timeFormat: 'time12'}}
                </ion-text>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="label">Requested</div>
              <div class="value">
                <ion-item lines="none" *ngIf="!blockOutTime">
                  <ion-datetime formControlName="out_time" display-format="HH:mm" picker-format="HH:mm"
                    (ionChange)='timeAdjust($event,"out")' placeholder="HH:MM"></ion-datetime>
                </ion-item>
                <ion-text *ngIf="blockOutTime">
                  {{outTimeCorrected | timeFormat: 'time12'}}
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
          <div class="divider"></div>
          <ion-row>
            <ion-col size="6">
              <h3>Regularization Type</h3>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none" *ngIf="AttnRegularizeTypeId">
                <ion-label *ngIf="!blockOutTime">Select Regularization Type</ion-label>
                <ion-select [disabled]='correctItem.OutTime==="-"' appNoArrow placeholder="Select Regularization Type"
                  *ngIf="!blockOutTime" [(ngModel)]="AttnRegularizeTypeId.out" [ngModelOptions]="{standalone: true}">
                  <ion-select-option *ngFor="let regType of AttnRegularizeTypes" [value]="regType.AttnRegularizeTypeId">
                    {{regType.AttnRegularizeDesc}}
                  </ion-select-option>
                </ion-select>
                <ion-text *ngIf="blockOutTime && correctItem.OutAttnRegularizeCode">
                  {{correctItem.OutAttnRegularizeCode}}
                </ion-text>
                <ion-icon *ngIf="blockOutTime && outTimeStatus === APPROVED_STATUS_ID"
                  src="assets/images/correction-tick.svg" color="danger"></ion-icon>
                <ion-icon name="close-circle-outline" color="danger" class="reject-icon"
                  *ngIf="blockOutTime && outTimeStatus === REJECTED_STATUS_ID"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ng-container *ngIf="outTimeComment && outTimeComment.commentFor === 2">
            <div class="divider"></div>
            <ion-row>
              <ion-col class="comments-in-card" *ngIf="outTimeComment.comment || outTimeComment.supervisorComment"
                size="12">
                <div class="comments-in-block" *ngIf="outTimeComment.comment">
                  <div class="label">Your Comment</div>
                  <div class="value">{{outTimeComment.comment}}</div>
                </div>
                <div *ngIf="outTimeComment.supervisorComment" class="comments-in-block">
                  <div class="label">Superviser Comment</div>
                  <div class="value">{{outTimeComment.supervisorComment}}</div>
                </div>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-row class="detail-content">
      <ng-container *ngIf="showCorrectionRequestForm">
        <ion-col size="12">
          <ion-item lines="none" class="text-item">
            <ion-label position="stacked">Comments <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea formControlName="comment" placeholder="Enter comment"></ion-textarea>
          </ion-item>
          <ion-row class="margin-content">
            <ion-col size="12">
              <div
                *ngIf="correctionCntrl.comment.invalid && (correctionCntrl.comment.touched || correctionCntrl.comment.dirty)">
                <span class="error-msg"
                  *ngIf="correctionCntrl.comment.errors.required||correctionCntrl.comment.errors.onlySpaces">
                  Comment is required
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <div class="margin-content btn-cnt">
            <ion-button color="dark" expand="block" type="button" (click)="navigate()">
              Cancel
            </ion-button>
            <ion-button expand="block" type="submit" [disabled]="!correctionReqForm.valid">
              Submit
            </ion-button>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </form>
</ion-content>