@font-face {
  font-family: 'Honeywell Sans Web_Bold';
  src: url('/assets/fonts/HoneywellSansWeb-Bold.eot');
  src: url('/assets/fonts/HoneywellSansWeb-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HoneywellSansWeb-Bold.woff') format('woff'),
    url('/assets/fonts/HoneywellSansWeb-Bold.woff2') format('woff2'),
    url('/assets/fonts/HoneywellSansWeb-Bold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Honeywell Sans Web_Book';
  src: url('/assets/fonts/HoneywellSansWeb-Book.eot');
  src: url('/assets/fonts/HoneywellSansWeb-Book.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HoneywellSansWeb-Book.woff') format('woff'),
    url('/assets/fonts/HoneywellSansWeb-Book.woff2') format('woff2'),
    url('/assets/fonts/HoneywellSansWeb-Book.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Honeywell Sans Web_Extrabold';
  src: url('/assets/fonts/HoneywellSansWeb-Extrabold.eot');
  src: url('/assets/fonts/HoneywellSansWeb-Extrabold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HoneywellSansWeb-Extrabold.woff') format('woff'),
    url('/assets/fonts/HoneywellSansWeb-Extrabold.woff2') format('woff2'),
    url('/assets/fonts/HoneywellSansWeb-Extrabold.svg#svgFontName')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Honeywell Sans Web_Light';
  src: url('/assets/fonts/HoneywellSansWeb-Light.eot');
  src: url('/assets/fonts/HoneywellSansWeb-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HoneywellSansWeb-Light.woff') format('woff'),
    url('/assets/fonts/HoneywellSansWeb-Light.woff2') format('woff2'),
    url('/assets/fonts/HoneywellSansWeb-Light.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Honeywell Sans Web_Medium';
  src: url('/assets/fonts/HoneywellSansWeb-Medium.eot');
  src: url('/assets/fonts/HoneywellSansWeb-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HoneywellSansWeb-Medium.woff') format('woff'),
    url('/assets/fonts/HoneywellSansWeb-Medium.woff2') format('woff2'),
    url('/assets/fonts/HoneywellSansWeb-Medium.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
