// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Honeywell Sans Web_Medium";
  --ion-font-family-book: "Honeywell Sans Web_Book";
  --ion-font-family-bold: "Honeywell Sans Web_Bold";
  --ion-font-family-medium: "Honeywell Sans Web_medium";

  /** primary **/
  --ion-color-primary: #ee2e28;
  --ion-color-primary-rgb: 238, 46, 40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #f14d48;
  --ion-color-primary-tint: #f36d69;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  --ion-color-secondary-dark: #0793fe;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-tertiary-shade-correc: #2877ee;

  /** success **/
  --ion-color-success: #28ee49;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-success-light-tint: #38c156;

  /** warning **/
  --ion-color-warning: #ffc200;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #ee8428;
  --ion-color-warning-tint: #ffca22;
  --ion-color-warning-light-tint: #df5900;

  /** danger **/
  --ion-color-danger: #ee2e28;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d3b0b5;
  --ion-color-danger-tint: #ed576b;
  --ion-color-danger-shade-rgb: #fff3f3;
  --ion-color-danger-shade2: #fde4e3;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  --ion-color-timeline-circle: #c9c9c9;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-border: #e2e2e2;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-tint-ex: #fcfcfc;
  --ion-color-light-gr: #bfbfbf;

  /** InTym Colors **/
  --ion-color-white: #ffffff;
  --ion-color-menu-black: #202020;
  --ion-color-menu-light-black: #404040;

  /* start Intym cancel btn color */
  --ion-color-btn-cancel: #6d6f71;
  --ion-color-btn-cancel-rgb: 146, 148, 156;
  --ion-color-btn-cancel-contrast: #ffffff;
  --ion-color-btn-cancel-contrast-rgb: 255, 255, 255;
  --ion-color-btn-cancel-shade: #808289;
  --ion-color-btn-cancel-tint: #9d9fa6;
  --ion-color-btn-cancel-shade2: #f5f5f5;

  --ion-color-step-600: #999999;
  --ion-border-color: #222222;
  --ion-color-step-1000: #f8f8f8;
  --ion-color-lbl-color: #6d6f71;
  --ion-color-step-400: #666666;
  --ion-color-step-950: #f2f2f2;
  --ion-table-border-color: #e9e9e9;
  --ion-grey-bg: #f6f6f6;

  --ion-color-dashbord-rejected: #fce7e6;
  --ion-color-dashbord-approved: #dbfce3fa;

  --border-radius: 0;

  --ion-color-danger-shaded: #fddbdb;

  .ion-color-btn-cancel {
    --ion-color-base: var(--ion-color-btn-cancel) !important;
    --ion-color-base-rgb: var(--ion-color-btn-cancel-rgb) !important;
    --ion-color-contrast: var(--ion-color-btn-cancel-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-btn-cancel-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-btn-cancel-shade) !important;
    --ion-color-tint: var(--ion-color-btn-cancel-tint) !important;
  }

  //Attendance calendar
  --present-color: rgb(142, 194, 77);
  --absent-color: rgb(254, 25, 0);
  --leaves-color: rgb(252, 187, 0);
  --nopunch-color: #F05E23;
  --hda-color:#007AFF;
  --attendace-label-color: #fff;

  //Customer visits calendar
  --approved-color: rgb(142, 194, 77);
  --rejected-color: rgb(254, 25, 0);
  --total-color: rgb(252, 187, 0);
  --in-color: #FFF9C4;
  --done-color: #d8f8e2;
  --visits-label-color: #fff;

  //Leaves calendar
  --applied-color: rgb(142, 194, 77);
  --rejected-leaves-color: rgb(254, 25, 0);
  --pending-color: rgb(252, 187, 0);
  --leaves-label-color: #fff;
  /* end Intym cancel btn color */
}

/* Dark mode is commented for app */

// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: #428cff;
//     --ion-color-primary-rgb: 66, 140, 255;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255, 255, 255;
//     --ion-color-primary-shade: #3a7be0;
//     --ion-color-primary-tint: #5598ff;

//     --ion-color-secondary: #50c8ff;
//     --ion-color-secondary-rgb: 80, 200, 255;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255, 255, 255;
//     --ion-color-secondary-shade: #46b0e0;
//     --ion-color-secondary-tint: #62ceff;

//     --ion-color-tertiary: #6a64ff;
//     --ion-color-tertiary-rgb: 106, 100, 255;
//     --ion-color-tertiary-contrast: #ffffff;
//     --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//     --ion-color-tertiary-shade: #5d58e0;
//     --ion-color-tertiary-tint: #7974ff;
//     --ion-color-tertiary-shade-correc: #e3affc;

//     --ion-color-success: #2fdf75;
//     --ion-color-success-rgb: 47, 223, 117;
//     --ion-color-success-contrast: #000000;
//     --ion-color-success-contrast-rgb: 0, 0, 0;
//     --ion-color-success-shade: #29c467;
//     --ion-color-success-tint: #44e283;

//     --ion-color-warning: #ffd534;
//     --ion-color-warning-rgb: 255, 213, 52;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0, 0, 0;
//     --ion-color-warning-shade: #e0bb2e;
//     --ion-color-warning-tint: #ffd948;

//     --ion-color-danger: #ff4961;
//     --ion-color-danger-rgb: 255, 73, 97;
//     --ion-color-danger-contrast: #ffffff;
//     --ion-color-danger-contrast-rgb: 255, 255, 255;
//     --ion-color-danger-shade: #e04055;
//     --ion-color-danger-tint: #ff5b71;

//     --ion-color-dark: #f4f5f8;
//     --ion-color-dark-rgb: 244, 245, 248;
//     --ion-color-dark-contrast: #000000;
//     --ion-color-dark-contrast-rgb: 0, 0, 0;
//     --ion-color-dark-shade: #d7d8da;
//     --ion-color-dark-tint: #f5f6f9;

//     --ion-color-medium: #989aa2;
//     --ion-color-medium-rgb: 152, 154, 162;
//     --ion-color-medium-contrast: #000000;
//     --ion-color-medium-contrast-rgb: 0, 0, 0;
//     --ion-color-medium-shade: #86888f;
//     --ion-color-medium-tint: #a2a4ab;

//     --ion-color-light: #222428;
//     --ion-color-light-rgb: 34, 36, 40;
//     --ion-color-light-contrast: #ffffff;
//     --ion-color-light-contrast-rgb: 255, 255, 255;
//     --ion-color-light-shade: #1e2023;
//     --ion-color-light-tint: #383a3e;
//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0, 0, 0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255, 255, 255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-toolbar-background: #0d0d0d;

//     --ion-item-background: #000000;
//   }

//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18, 18, 18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255, 255, 255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;
//   }
// }