.forgot-password-url {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: var(--ion-color-primary);
  }
}

div.leaves-flex {
  display: flex;
  justify-content: space-between;

  div.item {
    height: 92px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    span {
      &.count {
        font-size: 30px;
        font-family: var(--ion-font-family-medium);
      }

      &.label {
        font-size: 14px;
        font-family: var(--ion-font-family-book);
      }
    }
  }

  div.pending {
    background-color: #f8f8f8;
  }

  div.approved {
    background-color: #d8f8e2;
  }

  div.rejected {
    background-color: #fbe4e3;
  }
}

.header-row {
  background-color: #dbdbdb;
}

.header-row,
.body-row {
  border: 1px solid #a4a3a3;

  .border-col {
    border-right: 1px solid #a4a3a3;
  }
}

.body-row {
  border-top: none;
  border-left: none;
  border-right: none;
}

.dates-row {
  ion-datetime {
    display: none;
  }

  ion-item {
    --padding-start: 0px;
    font-size: 12px;
    --inner-padding-end: 15px;

    ion-label,
    ion-icon {
      margin: 0px;
      text-align: left;
      padding-right: 10px;
      padding-left: 15px;
      font-size: 12px;
      color: var(--ion-color-step-600);
      font-family: var(--ion-font-family-book);
    }
  }
}

.upcoming-leaves {
  ion-col {
    font-size: 10.7px;
    padding: 0 15px;
    min-height: 40px;
    display: flex;
    align-items: center;
  }
}

.nodata-label {
  margin-top: 10px;
  text-align: center;
  padding-top: 10px;
}

.cmn-graph-sec {
  width: 100%;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 22px;

  .graph-img-sec {
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.cmn-dashbrd-hdr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  h3 {
    font-size: 16px;
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-medium);
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    font-size: 12px;
    color: var(--ion-color-secondary-dark);
    font-family: var(--ion-font-family-book);
    text-decoration: none;
  }
}

.leaves-row {
  width: 100%;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 22px;
}

.header-row {
  font-weight: bolder;
  background: var(--ion-color-step-950);
  border-left: none;
  border-right: none;

  ion-col {
    margin: auto;
    justify-content: flex-start;
    display: flex;
    font-size: 11.9px;
    font-family: var(--ion-font-family-bold);
    min-height: 36px;
    align-items: center;
    padding: 0 15px;
  }
}

.leave-sec {
  width: 100%;
  display: inline-block;
  margin-bottom: 22px;

  .cmn-dashbrd-hdr {
    padding: 0 15px;
  }
}