<ion-content>
  <ion-row class="dates-row">
    <ion-col class="padding-non" size="6" *ngIf="body && body.FromDate">
      <ion-item lines="none" (click)="fromDate.open()">
        <ion-label *ngIf="body && body.FromDate">From: {{changeDateRender(body.FromDate)}}</ion-label>
        <ion-datetime [(ngModel)]="body.FromDate" [min]="fromMinDate" [max]="fromMaxDate" display-format="DD.MM.YYYY"
          #fromDate (ngModelChange)="dateAdjust('from')"></ion-datetime>
        <span><i><img src="assets/images/calender-ic.svg" alt="" /></i></span>
      </ion-item>
    </ion-col>
    <ion-col class="padding-non" size="6" *ngIf="body && body.ToDate">
      <ion-item lines="none" (click)="toDate.open()">
        <ion-label *ngIf="body && body.ToDate">To: {{changeDateRender(body.ToDate)}}</ion-label>
        <ion-datetime [(ngModel)]="body.ToDate" [min]="toMinDate" [max]="toMaxDate" display-format="DD.MM.YYYY" #toDate
          (ngModelChange)="dateAdjust('to')"></ion-datetime>
        <span><i><img src="assets/images/calender-ic.svg" alt="" /></i></span>
      </ion-item>
    </ion-col>
  </ion-row>

  <div class="leaves-row" *ngIf="customerVisit">
    <div class="cmn-dashbrd-hdr" *ngIf="body && body.FromDate">
      <h3>Customer Visits ({{changeDateRender(body.FromDate) | date: 'MMM d'}} - {{changeDateRender(body.ToDate) | date: 'MMM d'}})</h3>
      <a routerLink="/customer-visit-history/team-visit">View all</a>
    </div>
    <div class="leaves-flex">
      <div class="item pending">
        <span class="count">{{customerVisit.Total}}</span>
        <span class="label">Total</span>
      </div>
      <div class="item pending">
        <span class="count">{{customerVisit.ApprovedCount}}</span>
        <span class="label">Approved</span>
      </div>
      <div class="item pending">
        <span class="count">{{customerVisit.RejectedCount}}</span>
        <span class="label">Rejected</span>
      </div>
    </div>
  </div>

  <div class="leaves-row">
    <div class="cmn-dashbrd-hdr" *ngIf="body && body.FromDate">
      <h3>Leaves ({{changeDateRender(body.FromDate) | date: 'MMM d'}} - {{changeDateRender(body.ToDate) | date: 'MMM d'}})</h3>
      <a routerLink="/leaves/team-leaves">View all</a>
    </div>

    <div class="leaves-flex">
      <div class="item pending">
        <span class="count">{{leavesCount.PendingCount}}</span>
        <span class="label">Pending</span>
      </div>
      <div class="item pending">
        <span class="count">{{leavesCount.ApprovedCount}}</span>
        <span class="label">Approved</span>
      </div>
      <div class="item pending">
        <span class="count">{{leavesCount.RejectedCount}}</span>
        <span class="label">Rejected</span>
      </div>
    </div>
  </div>
  <div class="leave-sec">
    <div class="cmn-dashbrd-hdr">
      <h3 *ngIf="holidayDateRange">Upcoming Leaves ({{ holidayDateRange.fromDate | date: 'MMM d' }} -
        {{ holidayDateRange.toDate | date: 'MMM d' }})
      </h3>
      <a routerLink="/leaves/team-leaves">View all</a>
    </div>
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col class="border-col" size="4">
          <ion-label>Name</ion-label>
        </ion-col>
        <ion-col class="border-col" size="3">
          <ion-label>From</ion-label>
        </ion-col>
        <ion-col class="border-col" size="3">
          <ion-label>To</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-label>Type</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="TeamLeaves && TeamLeaves.length">
        <ion-row class="body-row upcoming-leaves" *ngFor="let leave of TeamLeaves">
          <ion-col class="border-col" size="4">
            <ion-text>{{leave.UserName}}</ion-text>
          </ion-col>
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="leave.FromDate">{{ leave.FromDate | dateTimeFormat: 'date' }}</ion-text>
            <ion-text *ngIf="!leave.FromDate">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="leave.ToDate">{{ leave.ToDate | dateTimeFormat: 'date' }}</ion-text>
            <ion-text *ngIf="!leave.ToDate">-</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text>{{leave.LeaveCode}}</ion-text>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="!TeamLeaves|| !TeamLeaves.length">
        <ion-row class="body-row">
          <ion-col size="12" class="nodata-label">
            <ion-label> No Cancelled, Rejected, Approved or Pending for Approval Leaves</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </div>
  </div>
  <div class="leaves-row">
    <div class="cmn-dashbrd-hdr">
      <h3>Attendance Corrections</h3>
      <a routerLink="/attendance-history/team-attendance">View all</a>
    </div>
    <div class="leaves-flex">
      <div class="item pending">
        <span class="count">{{attendanceCorrectionCount.PendingCount}}</span>
        <span class="label">Pending</span>
      </div>
      <div class="item pending">
        <span class="count">{{attendanceCorrectionCount.ApprovedCount}}</span>
        <span class="label">Approved</span>
      </div>
      <div class="item pending">
        <span class="count">{{attendanceCorrectionCount.RejectedCount}}</span>
        <span class="label">Rejected</span>
      </div>
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>