<ion-app ngClass="primaryFontFamily">
  <ion-split-pane when="md" contentId="mainMenu">
    <ion-menu menuId="mainMenu" side="start" type="overlay" contentId="mainMenu"
      [disabled]="!authGuardService.getIsLoggedIn" class="in-tym-menu">
      <ion-header class="ion-no-border">
        <ion-row class="hidden-md-up">
          <ion-col size="12" class="close-col">
            <ion-button (click)="closeMenu()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="profile-col">
            <button class="profile-btn" (click)="handleNavigation('profile')">
              <div class="avatar-wrap">
                <ion-avatar>
                  <img [src]="profilePic" (load)="handleLoad()" [hidden]="showProfilePicPlaceHolder"
                    (error)="showProfilePicPlaceHolder = true" />
                  <img [src]="defaultProfileImg" [hidden]="!showProfilePicPlaceHolder" />
                </ion-avatar>
              </div>
              <div class="details-wrap">
                <h3>{{ menuTitle }}</h3>
                <p>{{ menuInfo }}</p>
              </div>
            </button>
          </ion-col>
        </ion-row>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-item lines="none" class="item-borderless" detail="false" button (click)="handleNavigation('dashboard')">
            <ion-icon src="assets/images/menuhome.svg" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" button (click)="handleNavigation('home')">
            <ion-icon src="assets/images/marketing.svg" slot="start"></ion-icon>
            <ion-label>Statistics</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" button
            (click)="handleNavigation('attendance-screen')">
            <ion-icon src="assets/images/menufacedetection.svg" slot="start"></ion-icon>
            <ion-label>Punch</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" button
            (click)="handleNavigation('attendance-history')">
            <ion-icon src="assets/images/menuattendancehistory.svg" slot="start"></ion-icon>
            <ion-label>Attendances</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" button (click)="handleNavigation('leaves')">
            <ion-icon src="assets/images/menuleaveapplication.svg" slot="start"></ion-icon>
            <ion-label>Leaves</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" *ngIf="allowRemoteLogin" button
            (click)="handleNavigation('customer-visit-history')">
            <ion-icon src="assets/images/userhistory.svg" slot="start"></ion-icon>
            <ion-label>Visits</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" *ngIf="allowRemoteLogin && IsSalesVisitVisible"
            button (click)="handleNavigation('sales-visit')">
            <ion-icon src="assets/images/bag.svg" slot="start"></ion-icon>
            <ion-label>Sales Visits</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderlss" detail="false" button
            (click)="handleNavigation('home/holidays')">
            <ion-icon src="assets/images/holiday.svg" slot="start"></ion-icon>
            <ion-label>Holiday List</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderlss" detail="false" button
            (click)="handleNavigation('notification-list')">
            <ion-badge *ngIf="notificationCount > 0" color="primary" class="noti-badge">{{ notificationCount }}
            </ion-badge>
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" button
            (click)="handleStaticPage('static-content', 'contact-us')">
            <ion-icon src="assets/images/menucontactus.svg" slot="start"></ion-icon>
            <ion-label>Contact Us</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" button
            (click)="handleStaticPage('static-content', 'about-us')">
            <ion-icon src="assets/images/menuaboutus.svg" slot="start"></ion-icon>
            <ion-label>About Us</ion-label>
          </ion-item>
          <ion-item lines="none" class="item-borderless" detail="false" button
            (click)="handleStaticPage('static-content', 'eula')">
            <ion-icon src="assets/images/menuterms.svg" slot="start"></ion-icon>
            <ion-label>Legal & EULA</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-title *ngIf="appCurrentVersion">
            {{ appCurrentVersion }}
          </ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="mainMenu"></ion-router-outlet>
  </ion-split-pane>
</ion-app>