ion-menu {
  --width: 75%;
  --side-width: 75%;
}
.in-tym-menu {
  ion-toolbar,
  ion-content,
  ion-list,
  ion-item {
    color: var(--ion-color-medium);
  }
  ion-list {
    padding: 10px 0 0 0;
  }

  ion-item {
    --padding-start: 15px;
  }

  ion-icon {
    color: var(--ion-color-medium);
    margin-right: 15px;
    margin: 15px 15px 15px 0;
    font-size: 22px;

    @media screen and (max-width: 375px) {
      font-size: 22px;
    }

    @media screen and (max-width: 320px) {
      font-size: 20px;
    }

    .icon-inner {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  ion-label {
    font-family: var(--ion-font-family-medium);
    color: var(--ion-color-btn-cancel);
    font-size: 15px;
    line-height: 20px;
    white-space: normal;

    @media screen and (max-width: 320px) {
      font-size: 14px;
    }
  }

  ion-item {
    &:hover,
    &:active,
    &:visited {
      ion-label,
      ion-icon {
        color: var(--ion-color-dark);
      }
    }
  }
  ion-header {
    ion-toolbar {
      --background: var(--ion-color-white) !important;
    }
  }

  .close-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    ion-button {
      --background: transparent;
      --background-activated: transparent;
      --background-focused: transparent;
      --background-hover: transparent;
      --border: 0;
      --box-shadow: none;
      --padding-start: 5px;
      --padding-end: 5px;
      --color: var(--ion-color-medium);
      --color-activated: var(--ion-color-medium);
      --color-focused: var(--ion-color-medium);
      --color-hover: var(--ion-color-medium);
      ion-icon {
        margin: 0;
      }
    }
  }

  .profile-col {
    padding: 0;
    @media (min-width: 768px) {
      padding-top: 50px;
    }
    .profile-btn {
      outline: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      margin-bottom: 10px;
      width: 100%;
      background: transparent;
      margin-top: 0;
      padding: 0 15px;
      .avatar-wrap {
        margin: 0 15px 0 0;
        ion-avatar {
          width: 60px;
          height: 60px;
        }
      }
      .details-wrap {
        h3 {
          margin: 0 0 8px 0;
          font-family: var(--ion-font-family-bold);
          font-size: 16px;
          font-weight: normal;
          color: var(--ion-border-color);
          text-align: left;

          @media screen and (max-width: 375px) {
            font-size: 16px;
          }
          @media screen and (max-width: 320px) {
            font-size: 14px;
          }
        }
        p {
          margin: 0;
          font-family: var(--ion-font-family-book);
          font-size: 14px;
          color: var(--ion-color-step-600);
          text-align: left;

          @media screen and (max-width: 375px) {
            font-size: 12px;
          }
          @media screen and (max-width: 320px) {
            font-size: 11px;
          }
        }
      }
    }
  }

  ion-footer {
    text-align: left;
    ion-title {
      font-family: var(--ion-font-family-book);
      font-size: 14px;
    }
  }
}

.noti-badge {
  position: absolute;
  top: 7px;
  left: 9px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: normal;
  z-index: 1;
  width: 19px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 18px;
}

.noti-icon {
  font-size: 26px;
}

.noti-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}
