<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ heading }}</ion-title>
    <ion-buttons slot="end">
      <ion-button role="close" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="wrapper">
  <ion-row class="profile-form">
    <ion-col size="12">
      <form [formGroup]="salesVisitForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-col size="5">
            <div class="value">
              <ion-item lines="none">
                <ion-label class="input-label" position="stacked">Check In</ion-label>
                <ion-datetime [readonly]="isView" formControlName="InTime" readonly display-format="HH:mm"
                  picker-format="HH:mm" (ionChange)='timeAdjust($event,"in")' placeholder="HH:MM"></ion-datetime>
              </ion-item>
              <ion-text>
                {{inTimeCorrected | timeFormat: 'time12'}}
              </ion-text>
            </div>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="5">
            <div class="value">
              <ion-item lines="none">
                <ion-label class="input-label" position="stacked">Check Out</ion-label>
                <ion-datetime [readonly]="isView" formControlName="OutTime" display-format="HH:mm" picker-format="HH:mm"
                  placeholder="HH:MM" (ionChange)='timeAdjust($event,"out")'></ion-datetime>
              </ion-item>
              <ion-text>
                {{inTimeCorrected | timeFormat: 'time12'}}
              </ion-text>
            </div>
          </ion-col>
        </ion-row>

        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            Contact Number<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [readonly]="isView" class="custom-input" type="tel" size="10" max="10" min="10" inputmode="numric"
            maxlength="10" (ionChange)="numberOnlyValidation($event)" (ionBlur)="onContactNumberBlur($event)"
            formControlName="ContactNumber">
          </ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.ContactNumber.invalid && (salesDetailCntrls.ContactNumber.touched || salesDetailCntrls.ContactNumber.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.ContactNumber.errors.required || salesDetailCntrls.ContactNumber.errors.onlySpaces">
            Contact number is required
          </span>
        </ion-item>

        <ion-item lines="none">
          <ion-list>
            <ion-radio-group formControlName="MeetingType" value="no">
              <ion-row>
                <ion-list-header>
                  <ion-label class="input-label" position="stacked">Meeting Type</ion-label>
                </ion-list-header>
              </ion-row>
              <ion-row class="sales-radio-btn">
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>System Integrator</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="System Integrator"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>Distributor</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="Distributor"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>End Customer</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="End Customer"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-list>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            Name of SI/Dealer<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [readonly]="isView" class="custom-input" type="text" formControlName="DealerName"></ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.DealerName.invalid && (salesDetailCntrls.DealerName.touched || salesDetailCntrls.DealerName.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.DealerName.errors.required || salesDetailCntrls.DealerName.errors.onlySpaces">
            Dealer name is required
          </span>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            Owner Name<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [readonly]="isView" class="custom-input" type="text" formControlName="OwnerName"></ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.OwnerName.invalid && (salesDetailCntrls.OwnerName.touched || salesDetailCntrls.OwnerName.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.OwnerName.errors.required || salesDetailCntrls.OwnerName.errors.onlySpaces">
            Owner name is required
          </span>
        </ion-item>

        <ion-item lines="none">
          <ion-list>
            <ion-radio-group formControlName="Categories" value="no">
              <ion-list-header>
                <ion-label class="input-label" position="stacked">25K + SI Category</ion-label>
              </ion-list-header>
              <ion-row class="sales-radio-btn">
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="no"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-list>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            Location<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input class="custom-input" disabled type="text" formControlName="Location"></ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.Location.invalid && (salesDetailCntrls.Location.touched || salesDetailCntrls.Location.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.Location.errors.required || salesDetailCntrls.Location.errors.onlySpaces">
            Location is required
          </span>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            City<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input class="custom-input" [readonly]="isView" type="text" formControlName="City"></ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.City.invalid && (salesDetailCntrls.City.touched || salesDetailCntrls.City.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.City.errors.required || salesDetailCntrls.City.errors.onlySpaces">
            City is required
          </span>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            Complete Address<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-textarea [readonly]="isView" class="custom-input" formControlName="Address">
          </ion-textarea>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.Address.invalid && (salesDetailCntrls.Address.touched || salesDetailCntrls.Address.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.Address.errors.required || salesDetailCntrls.Address.errors.onlySpaces">
            Complete address is required
          </span>
          <span class="error-msg" *ngIf="salesDetailCntrls.Address.errors.addressPattern">
            Please remove special characters from the address field
          </span>
        </ion-item>

        <ion-item lines="none">
          <ion-list>
            <ion-radio-group formControlName="TSM_ASM" value="no">
              <ion-list-header>
                <ion-label class="input-label" position="stacked">TSM/NSM Accompanied</ion-label>
              </ion-list-header>
              <ion-row class="sales-radio-btn">
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="no"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-list>
        </ion-item>

        <ion-item lines="none">
          <ion-list>
            <ion-radio-group formControlName="OrderClosure" value="yes" (ionChange)="handleOrderClosure($event)">
              <ion-list-header>
                <ion-label class="input-label" position="stacked">Order Closure</ion-label>
              </ion-list-header>
              <ion-row class="sales-radio-btn">
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="no"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-list>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">{{ isOrderCloser ? 'Product Closed' : 'Product Explained' }}<ion-text
              color="danger">*</ion-text>
          </ion-label>
          <ion-select [disabled]="isView" [placeholder]="selectedProduct" formControlName="Product">
            <ion-select-option *ngFor="let product of productList" [value]="product.Id">
              {{ product.Name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" *ngIf="isOrderCloser">
          <ion-label class="input-label" position="stacked">
            Closed Order Value<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [readonly]="isView" class="custom-input" type="number" formControlName="ClosedOrderValue">
          </ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.ClosedOrderValue.invalid && (salesDetailCntrls.ClosedOrderValue.touched || salesDetailCntrls.ClosedOrderValue.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.ClosedOrderValue.errors.required || salesDetailCntrls.ClosedOrderValue.errors.onlySpaces">
            Closed order value is required
          </span>
        </ion-item>


        <ion-item lines="none" *ngIf="isOrderCloser">
          <ion-label class="input-label" position="stacked">
            RD Name for order delivery <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [readonly]="isView" class="custom-input" type="text" formControlName="RDName"></ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.RDName.invalid && (salesDetailCntrls.RDName.touched || salesDetailCntrls.RDName.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.RDName.errors.required || salesDetailCntrls.RDName.errors.onlySpaces">
            RD name is required
          </span>
        </ion-item>

        <ion-item lines="none" *ngIf="isOrderCloser">
          <ion-label class="input-label" position="stacked">
            Description of project with model nos and quantity<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-textarea [readonly]="isView" placeholder="Enter Product Description"
            formControlName="ProductDescription"></ion-textarea>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.ProductDescription.invalid && (salesDetailCntrls.ProductDescription.touched || salesDetailCntrls.ProductDescription.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.ProductDescription.errors.required || salesDetailCntrls.ProductDescription.errors.onlySpaces">
            Project description is required
          </span>
        </ion-item>

        <ion-item lines="none" *ngIf="!isOrderCloser">
          <ion-list>
            <ion-radio-group formControlName="QueryGenerated" value="no" (ionChange)="handleQuerySelected($event)">
              <ion-row>
                <ion-list-header>
                  <ion-label class="input-label" position="stacked">Query Generated</ion-label>
                </ion-list-header>
              </ion-row>
              <ion-row class="sales-radio-btn">
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio [disabled]="isView" slot="start" value="no"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-list>
        </ion-item>

        <ion-item lines="none" *ngIf="!isOrderCloser  && isQuerySelected">
          <ion-label class="input-label" position="stacked">
            Expected closure value<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [readonly]="isView" class="custom-input" type="number" formControlName="ExpectedClosureValue">
          </ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.ExpectedClosureValue.invalid && (salesDetailCntrls.ExpectedClosureValue.touched || salesDetailCntrls.ExpectedClosureValue.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.ExpectedClosureValue.errors.required || salesDetailCntrls.ExpectedClosureValue.errors.onlySpaces">
            Expected closure value is required
          </span>
        </ion-item>


        <ion-item lines="none" *ngIf="!isOrderCloser  && isQuerySelected">
          <ion-label class="input-label" position="stacked">
            Expected closure date<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-datetime [readonly]="isView" displayFormat="YYYY-MM-DD" placeholder="YYYY-MM-DD" [min]="minDate"
            [max]="2025" formControlName="ExpectedClosureDate">
          </ion-datetime>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.ExpectedClosureDate.invalid && (salesDetailCntrls.ExpectedClosureDate.touched || salesDetailCntrls.ExpectedClosureDate.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.ExpectedClosureDate.errors.required || salesDetailCntrls.ExpectedClosureDate.errors.onlySpaces">
            Expected closure date is required
          </span>
        </ion-item>

        <ion-item lines="none" *ngIf="!isOrderCloser && isQuerySelected">
          <ion-label class="input-label" position="stacked">
            Discussion Points<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-textarea [readonly]="isView" placeholder="Enter Discussion Points" formControlName="DiscussionPoints">
          </ion-textarea>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="salesDetailCntrls.DiscussionPoints.invalid && (salesDetailCntrls.DiscussionPoints.touched || salesDetailCntrls.DiscussionPoints.dirty)">
          <span class="error-msg"
            *ngIf="salesDetailCntrls.DiscussionPoints.errors.required || salesDetailCntrls.DiscussionPoints.errors.onlySpaces">
            Discussion points is required
          </span>
        </ion-item>

        <ion-row>
          <ion-col size="12" class="filter-btn-row" *ngIf="!isView">
            <ion-button color="dark" expand="block" (click)="navigate()">Cancel</ion-button>
            <ion-button type="submit" color="primary" expand="block" [disabled]="!salesVisitForm.valid">
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>