.wrapper {
  --padding-start: 10px;
  --padding-end: 10px;
}

.error-msg {
  color: var(--ion-color-danger);
}

ion-title {
  padding: 0;
  text-align: center;
}

.profile-form {
  padding: 0 15px;

  ion-item {
    --padding-end: 0;
    --padding-start: 0;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
  }

  ion-label {
    margin-bottom: 7px;
    font-size: 16px;
    font-family: var(--ion-font-family-book);
    color: var(--ion-color-step-600);
  }
}

ion-button {
  letter-spacing: 0.05em;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

ion-list-header {
  padding-inline-start: unset;
}

ion-radio-group {
  ion-item {
    margin-bottom: 0px;
  }
}

.sales-radio-btn {
  ion-col {
    margin-right: 20px;
  }
}