<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">{{ title}}</ion-title>
    <ion-buttons slot="end" fill="clear">
      <a routerLink="/dashboard" class="home-icon">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      <ion-buttons class="settings-icon" (click)="showSettings()" *ngIf="isSupervisor">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
      <ion-button class="noti-btn" (click)="showNotifications()">
        <ion-badge *ngIf="notificationCount>0" color="primary" class="noti-badge">{{notificationCount}}</ion-badge>
        <ion-icon name="notifications-outline" class="noti-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs *ngIf="isSupervisor && allowRemoteLogin">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="my-visit">
        <ion-label>Me</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="team-visit">
        <ion-label>Team</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-router-outlet
    *ngIf="(isSupervisor && !allowRemoteLogin) || (!isSupervisor && (allowRemoteLogin || !allowRemoteLogin))">
  </ion-router-outlet>
</ion-content>