.wrapper {
  min-height: 100%;
  background: var(--ion-grey-bg);
  .section {
    display: flex;
    flex-direction: column;
    .inner-section {
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon {
        font-size: 150px;
      }
      ion-button {
        --padding-start: 50px;
        --padding-end: 50px;
        width: 100%;
        margin: 0 15px 22px;
        height: 56px;
        font-size: 20px;
        font-family: var(--ion-font-family-bold);
        --border-radius: 0;
        --background: var(--ion-color-primary);
      }
      .qr-code {
        border-radius: 0;
        text-align: center;
        ion-card-content {
          span {
            color: var(--ion-border-color);
            font-size: 16px;
            line-height: 22px;
            display: block;
            margin: 10px 0 15px;
            font-family: var(--ion-font-family);
          }
          p {
            margin: 0;
            font-size: 12px;
            line-height: 18px;
            color: var(--ion-color-step-600);
            font-family: var(--ion-font-family-book);
          }
          .code-img-sec {
            display: block;
            margin: 15px 0;
            position: relative;
            img {
              max-width: 90%;
            }
            .top-red-shape {
              border-top: 3px solid var(--ion-color-primary);
              border-left: 3px solid var(--ion-color-primary);
              width: 32px;
              height: 32px;
              position: absolute;
              top: 0;
              left: 0;
            }
            .top-right-shape {
              border-top: 3px solid var(--ion-color-primary);
              border-right: 3px solid var(--ion-color-primary);
              width: 32px;
              height: 32px;
              position: absolute;
              top: 0;
              right: 0;
            }
            .bottom-left-shape {
              border-left: 3px solid var(--ion-color-primary);
              border-bottom: 3px solid var(--ion-color-primary);
              width: 32px;
              height: 32px;
              position: absolute;
              bottom: 0;
              left: 0;
            }
            .bottom-right-shape {
              border-right: 3px solid var(--ion-color-primary);
              border-bottom: 3px solid var(--ion-color-primary);
              width: 32px;
              height: 32px;
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }

      &.punch-details {
        margin: 0 15px;
        .punch-in-details {
          margin-bottom: 15px;
          text-align: center;
          ion-text {
            h4 {
              margin-top: 0;
              margin-bottom: 5px;
              font-size: 16px;
              color: var(--ion-border-color);
              font-style: var(--ion-font-family-medium);
            }
          }
          ion-label {
            font-size: 14px;
            color: var(--ion-border-color);
            line-height: 17px;
            font-style: var(--ion-font-family-book);
          }
        }
        &.punch-finish {
          .punch-in-details {
            text-align: left;
            position: relative;
            width: 168px;
            &:first-child {
              padding-right: 45px;

              @media screen and (max-width: 360px) {
                padding-right: 40px;
              }

              @media screen and (max-width: 320px) {
                padding-right: 20px;
              }

              &::after {
                content: "";
                width: 2px;
                height: 68px;
                background: var(--ion-table-border-color);
                position: absolute;
                right: 0;
                top: 0;
              }
            }
            &:last-child {
              padding-left: 45px;

              @media screen and (max-width: 360px) {
                padding-left: 40px;
              }
              @media screen and (max-width: 320px) {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
    .lower-section {
      flex: 1;
    }
  }
  .button-native {
    border-radius: 0;
    font-family: var(--ion-font-family-bold);
  }
}
