<ion-content>
  <ion-row class="wrapper">
    <ion-col class="section" size="12">
      <div class="inner-section upper-section">
        <ion-card class="qr-code">
          <ion-card-content>
            <p>The QR code feature is used for Log in and Log out.</p>
            <i class="code-img-sec">
              <img src="assets/images/qr-code.png" />
              <div class="top-red-shape"></div>
              <div class="top-right-shape"></div>
              <div class="bottom-left-shape"></div>
              <div class="bottom-right-shape"></div>
            </i>
          </ion-card-content>
        </ion-card>
      </div>
      <div
        [ngClass]="{'inner-section punch-details': true, 'punch-finish': punchOutDetails}"
      >
        <div *ngIf="punchInDetails" class="punch-in-details">
          <ion-text>
            <h4>
              {{ attendanceStatusList[0] ? attendanceStatusList[0].Description :
              'Log In' }}
            </h4>
          </ion-text>
          <ion-label *ngIf="punchInDetails && punchInDetails.TimeStampFormated"
            >{{punchInDetails.TimeStampFormated | dateTimeFormat: 'date' }}<br />
            {{punchInDetails.TimeStampFormated | dateTimeFormat: 'time12'}}
          </ion-label>
        </div>
        <div *ngIf="punchOutDetails" class="punch-in-details">
          <ion-text>
            <h4>
              {{ attendanceStatusList[1] ? attendanceStatusList[1].Description :
              'Log Out' }}
            </h4>
          </ion-text>
          <ion-label
            *ngIf="punchOutDetails && punchOutDetails.TimeStampFormated"
            >{{punchOutDetails.TimeStampFormated | dateTimeFormat: 'date' }}<br />
            {{punchOutDetails.TimeStampFormated | dateTimeFormat: 'time12'}}
          </ion-label>
        </div>
      </div>
      <div class="inner-section lower-section">
        <ion-button (click)="generateCode()" expand="block">
          Generate QR Code
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
