<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Correction Request
      <span> ({{ correctionInfo.AttendanceDate | date: "d MMM yyyy" }}) </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="correctionReqForm" *ngIf="correctionInfo" class="correction-form">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="
            correctionInfo && correctionInfo.ProfilePic
              ? correctionInfo.ProfilePic
              : defaultProfileImg
          " />
      </ion-avatar>
      <ion-label>
        <h2>{{ correctionInfo.EmployeeName }}</h2>
        <p>{{ correctionInfo.Pin }}</p>
      </ion-label>
    </ion-item>
    <div class="card-cnt-main">
      <ion-card class="request-card" [ngClass]="{
          'in-action-card':
            InTimeRequest && InTimeRequest.StatusId === APPLIED_STATUS_ID
        }">
        <ion-card-content>
          <ion-row>
            <ion-col size="4">
              <h3>Check In</h3>
            </ion-col>
            <ion-col size="4">
              <div class="label">Actual Time</div>
              <div class="value">
                {{ correctionInfo.InTime | timeFormat: "time12" }}
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="label">Requested</div>
              <div class="value">
                <ion-text *ngIf="InTimeRequest && InTimeRequest.InTimeRequested">
                  {{ InTimeRequest.InTimeRequested | timeFormat: "time12" }}
                </ion-text>
                <ion-text *ngIf="!InTimeRequest"> -- </ion-text>
              </div>
            </ion-col>
          </ion-row>
          <div class="divider"></div>
          <ion-row>
            <ion-col size="6">
              <h3>Regularization</h3>
            </ion-col>
            <ion-col size="6">
              <div class="value">
                <ion-text *ngIf="InTimeRequest && InTimeRequest.RegularizeCode">
                  {{ InTimeRequest.RegularizeCode }}
                </ion-text>
                <span *ngIf="
                    InTimeRequest &&
                    InTimeRequest.StatusId !== APPLIED_STATUS_ID
                  ">
                  <ion-icon *ngIf="
                      InTimeRequest &&
                      InTimeRequest.StatusId === APPROVED_STATUS_ID
                    " name="checkmark-circle-outline" color="success"></ion-icon>
                  <ion-icon *ngIf="
                      InTimeRequest &&
                      [REJECTED_STATUS_ID, CANCELLED_STATUS_ID].includes(
                        InTimeRequest.StatusId
                      )
                    " name="close-circle-outline" color="danger"></ion-icon>
                </span>
              </div>
            </ion-col>
          </ion-row>

          <ng-container *ngIf="
              InTimeRequest &&
              [APPROVED_STATUS_ID, REJECTED_STATUS_ID].includes(
                InTimeRequest.StatusId
              )
            ">
            <div class="divider"></div>
            <ion-row *ngIf="InComments">
              <ion-col class="comments-in-card" *ngIf="InComments.comments || InComments.supervisorComments" size="12">
                <div class="comments-in-block" *ngIf="InComments.comments">
                  <div class="label">Your Comment</div>
                  <div class="value">{{ InComments.comments }}</div>
                </div>

                <div class="comments-in-block" *ngIf="InComments.supervisorComments">
                  <div class="label">Superviser Comment</div>
                  <div class="value">{{ InComments.supervisorComments }}</div>
                </div>
              </ion-col>
            </ion-row>
          </ng-container>

          <ion-row class="action-buttons" *ngIf="
              InTimeRequest && InTimeRequest.StatusId === APPLIED_STATUS_ID
            ">
            <ion-col size="auto">
              <ion-button [color]="
                  fControls.InTimeStatus &&
                  fControls.InTimeStatus.value &&
                  !InAction
                    ? 'danger'
                    : 'light'
                " expand="full" (click)="changeStatus('in', false)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button [color]="
                  fControls.InTimeStatus &&
                  fControls.InTimeStatus.value &&
                  InAction
                    ? 'success'
                    : 'light'
                " expand="full" (click)="changeStatus('in', true)">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card class="request-card" [ngClass]="{
          'out-action-card':
            OutTimeRequest && OutTimeRequest.StatusId === APPLIED_STATUS_ID
        }">
        <ion-card-content>
          <ion-row>
            <ion-col size="4">
              <h3>Check Out</h3>
            </ion-col>
            <ion-col size="4">
              <div class="label">Actual Time</div>
              <div class="value">
                {{ correctionInfo.OutTime | timeFormat: "time12" }}
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="label">Requested</div>
              <div class="value">
                <ion-text *ngIf="OutTimeRequest && OutTimeRequest.OutTimeRequested">
                  {{ OutTimeRequest.OutTimeRequested | timeFormat: "time12" }}
                </ion-text>
                <ion-text *ngIf="!OutTimeRequest"> -- </ion-text>
              </div>
            </ion-col>
          </ion-row>
          <div class="divider"></div>
          <ion-row>
            <ion-col size="6">
              <h3>Regularization</h3>
            </ion-col>
            <ion-col size="6">
              <div class="value">
                <ion-text *ngIf="OutTimeRequest && OutTimeRequest.RegularizeCode">
                  {{ OutTimeRequest.RegularizeCode }}
                </ion-text>
                <span *ngIf="
                    OutTimeRequest &&
                    OutTimeRequest.StatusId !== APPLIED_STATUS_ID
                  ">
                  <ion-icon *ngIf="
                      OutTimeRequest &&
                      OutTimeRequest.StatusId === APPROVED_STATUS_ID
                    " name="checkmark-circle-outline" color="success"></ion-icon>
                  <ion-icon *ngIf="
                      OutTimeRequest &&
                      [REJECTED_STATUS_ID, CANCELLED_STATUS_ID].includes(
                        OutTimeRequest.StatusId
                      )
                    " name="close-circle-outline" color="danger"></ion-icon>
                </span>
              </div>
            </ion-col>
          </ion-row>

          <ng-container *ngIf="
              OutTimeRequest &&
              [APPROVED_STATUS_ID, REJECTED_STATUS_ID].includes(
                OutTimeRequest.StatusId
              )
            ">
            <div class="divider"></div>

            <ion-row *ngIf="OutComments">
              <ion-col class="comments-in-card" *ngIf="OutComments.comments || OutComments.supervisorComments"
                size="12">
                <div class="comments-in-block" *ngIf="OutComments.comments">
                  <div class="label">Your Comment</div>
                  <div class="value">{{ OutComments.comments }}</div>
                </div>

                <div class="comments-in-block" *ngIf="OutComments.supervisorComments">
                  <div class="label">Superviser Comment</div>
                  <div class="value">{{ OutComments.supervisorComments }}</div>
                </div>
              </ion-col>
            </ion-row>
          </ng-container>

          <ion-row class="action-buttons" *ngIf="
              OutTimeRequest && OutTimeRequest.StatusId === APPLIED_STATUS_ID
            ">
            <ion-col size="auto">
              <ion-button [color]="
                  fControls.OutTimeStatus &&
                  fControls.OutTimeStatus.value &&
                  !OutAction
                    ? 'danger'
                    : 'light'
                " (click)="changeStatus('out', false)" expand="full">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button [color]="
                  fControls.OutTimeStatus &&
                  fControls.OutTimeStatus.value &&
                  OutAction
                    ? 'success'
                    : 'light'
                " (click)="changeStatus('out', true)" expand="full">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <ng-container *ngIf="
        (OutTimeRequest && OutTimeRequest.StatusId === APPLIED_STATUS_ID) ||
        (InTimeRequest && InTimeRequest.StatusId === APPLIED_STATUS_ID)
      ">
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Commnets
              <ion-text class="required" color="danger">*</ion-text>
            </ion-label>
            <ion-textarea class="correction-comment" placeholder="Write Comment" formControlName="Comments">
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="margin-content" *ngIf="OutTimeRequest || InTimeRequest">
        <ion-col size="6">
          <ion-button color="dark" expand="full" (click)="modalCtrl.dismiss()">cancel</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" expand="full" (click)="handleSupervisorAction()">submit</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </form>
</ion-content>