ion-icon.ion-color-light {
  --ion-color-base: #d5d5d5 !important;
}

.correction-form {
  ion-col {
    font-size: 18px;
  }
}

.request-card {
  margin-top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  position: relative;
  overflow: visible;
  margin-top: 36px;

  &.out-action-card::before,
  &.in-action-card::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -80px;
    background: #f2f2f2;
    width: 100%;
    border-radius: 0 0 15px 15px;
    height: 70%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
  }

  h3 {
    font-family: var(--ion-font-family-medium);
    font-size: 16px;
    color: var(--ion-border-color);
    min-height: 24px;
    margin: 0;

    @media screen and (max-width: 360px) {
      font-size: 14px;
    }
  }

  .label {
    font-family: var(--ion-font-family-medium);
    font-size: 14px;
    color: var(--ion-border-color);
    margin-bottom: 23px;
    position: absolute;
    top: -48px;
  }

  .value,
  ion-text {
    font-family: var(--ion-font-family-book);
    font-size: 16px;
    color: var(--ion-color-step-600);
    min-height: 25px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 360px) {
      font-size: 14px;
    }

    ion-icon {
      font-size: 23px;
      margin-left: 5px;
    }
  }

  ion-icon {
    font-size: 35px;
  }

  ion-row {
    ion-col {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;

      &:first-child,
      &.comments {
        align-items: flex-start;
      }
    }
  }

  .comments-in-card {
    h3 {
      margin-bottom: 10px;
    }

    .comments-in-block {
      margin-bottom: 5px;

      .label {
        top: inherit;
        position: relative;
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

ion-text.strong-text {
  opacity: 1;
  font-size: 18px;
  margin: 10px 0;
  color: var(--ion-color-dark);
}

ion-text {
  font-size: 16px;
  color: var(--ion-color-step-600);
  font-family: var(--ion-font-family-book);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &.required {
    color: var(--ion-color-primary);
    display: initial;
  }
}

.action-buttons {
  justify-content: center;
  padding: 16px 0;
  position: absolute;
  width: 93%;
}

.in-action-card {
  margin-bottom: 121px;
}

.out-action-card {
  margin-bottom: 80px;
}

div.divider {
  height: 1px;
  border-bottom: 1px solid #eee;
  margin: 12px 0;

  &.divider-none {
    border-bottom: none;
  }
}