.month-changer {
  text-align: center;
  padding-top: 15px;
  background: var(--ion-color-primary-contrast);

  ion-col {
    font-size: 20px;
    font-family: var(--ion-font-family-bold);
  }
}

.done-btn {
  color: #007AFF;
  background-color: transparent;
}

.chevron-forward-outline {
  font-size: 16px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.td-date {
  height: 75px;
  position: relative;
  padding-top: 13px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.selected {
  background-color: #fafafa;
}

.current-date {
  background-color: #007AFF;
}

.td-date p {
  color: var(--attendace-label-color);
  margin: 2px 3px 3px;
  padding: 0;
  height: 15px;
  line-height: 15px;
  width: 100%;
}

.td-date p.my {
  color: var(--attendace-label-color);
  margin: 2px 3px 3px;
  padding: 0;
  height: 90%;
  line-height: 15px;
  width: 100%;
}

.td-date p.label {
  color: var(--attendace-label-color);
  margin: 30% 25%;
  font-size: 13px;
  // padding-top: 40%;
}

.td-date p.my-label {
  color: var(--attendace-label-color);
  // margin: 30% 25%;
  font-size: 13px;
  padding-top: 40%;
}

.td-date.text-muted {
  background-color: #eaeaea;
}

.td-date.reject {
  background-color: var(--absent-color);
}

.td-date p.reject {
  background-color: var(--absent-color);
  color: var(--ion-color-light);

}

.td-date.pending {
  background-color: var(--leaves-color);
}

.td-date p.pending {
  color: var(--ion-color-light);
  background-color: var(--leaves-color);

}

.td-date.hda {
  background-color: var(--hda-color);
}

.td-date p.hda {
  color: var(--ion-color-light);
  background-color: var(--hda-color);

}

.td-date.approved {
  background-color: var(--present-color);
}

.td-date p.approved {
  background-color: var(--present-color);
  color: var(--ion-color-light);
}

.td-date.disabled {
  background-color: #a9a9a9;
}

.td-date p.disabled {
  background-color: #a9a9a9;
  color: var(--ion-color-light);
}

#E64A19 .td-date p.in-meeting {
  background-color: var(--leaves-color);
  color: var(--ion-color-light);
}

.td-date p.done-meeting {
  background-color: var(--present-color);
  color: var(--ion-color-light);
}

.td-date p.nopunch {
  background-color: var(--nopunch-color);
  color: var(--ion-color-light);
}

.td-date p.leave {
  background-color: #E64A19;
  color: var(--ion-color-light);
}

span.date.left {
  position: absolute;
  left: 2px;
  top: 2px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

.date {
  font-size: x-small;
  font-weight: bolder;
  margin-top: -4px;
  margin-bottom: -9px;
}

.pending-circle {
  color: var(--leaves-color);
  padding-top: 3px;
  padding-left: 5px;
}

.approved-circle {
  color: var(--present-color);
  padding-top: 3px;
  padding-left: 5px;
}

.rejected-circle {
  color: var(--absent-color);
  padding-top: 3px;
  padding-left: 5px;
}

.disabled-circle {
  color: #a9a9a9;
  padding-top: 3px;
  padding-left: 5px;
}

.nopunch-circle {
  color: var(--nopunch-color);
  padding-top: 3px;
  padding-left: 5px;
}

.leave-circle {
  color: var(--leaves-color);
  padding-top: 3px;
  padding-left: 5px;
}


.legend-text {
  font-weight: normal;
}

.today-class {
  border: 2px black solid;
}

.selected {
  border: 2px var(--ion-color-primary) solid;
}

.pending-circle {
  color: var(--leaves-color);
  padding-top: 3px;
  padding-left: 5px;
}

.hda-circle {
  color: var(--hda-color);
  padding-top: 3px;
  padding-left: 5px;
}

.approved-circle {
  color: var(--present-color);
  padding-top: 3px;
  padding-left: 5px;
}

.rejected-circle {
  color: var(--absent-color);
  padding-top: 3px;
  padding-left: 5px;
}

.disable-circle {
  color: #e8e8e8;
  padding-top: 3px;
  padding-left: 5px;
}