<ion-row [ngClass]="(componentType === componentTypeTeam)?'ion-justify-content-between':'ion-justify-content-end'">
  <ion-col size="2" *ngIf="componentType === componentTypeTeam">
    <button role="close" class="export-btn" (click)="handleExport()">Export</button>
  </ion-col>
  <ion-col size="2">
    <button role="close" class="done-btn" [disabled]="isToday" (click)="selectToday()">Today</button>
  </ion-col>
</ion-row>
<ion-row class="month-changer">
  <ion-col class="padding-non" size="2">
    <ion-icon name="chevron-back-outline" (click)="prevMonth()">
    </ion-icon>
  </ion-col>
  <ion-col class="padding-non" size="8">
    {{ viewTitle }}
  </ion-col>
  <ion-col class="padding-non" size="2">
    <ion-icon name="chevron-forward-outline" (click)="nextMonth()">
    </ion-icon>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <calendar [monthviewDisplayEventTemplate]="template" queryMode="remote" [showEventDetail]="false"
      [dateFormatter]="calendar.dateFormatter" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)" (onTitleChanged)="onViewTitleChanged($event)" step="30">
    </calendar>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="1">
    <ion-icon name="ellipse" class="approved-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Present
  </ion-col>
  <ion-col size="1">
    <ion-icon name="ellipse" class="rejected-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Absent
  </ion-col>
  <ion-col size="1">
    <ion-icon name="ellipse" class="leave-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Leave
  </ion-col>
</ion-row>
<ion-row *ngIf="componentType === componentTypeMy">
  <ion-col size="1">
    <ion-icon name="ellipse" class="hda-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Half Day
  </ion-col>
  <ion-col size="1">
    <ion-icon name="ellipse" class="disabled-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    Holiday
  </ion-col>
  <ion-col size="1">
    <ion-icon name="ellipse" class="nopunch-circle"></ion-icon>
  </ion-col>
  <ion-col size="3" class="legend-text">
    No Punch
  </ion-col>
</ion-row>
<ng-template #template let-view="view" let-row="row" let-col="col" class="test">
  <div class="td-date" [ngClass]="getMyClass((view.dates[row*7+col].date | date:'yyyy-MM-dd'))"
    *ngIf="componentType === componentTypeMy">
    <span class="date left">{{view.dates[row*7+col].date | date:'dd'}}</span>
    <p class="my-label my" [ngClass]="getMyPTagClass((view.dates[row*7+col].date | date:'yyyy-MM-dd'))"
      *ngIf="attendanceStatusData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] !== '-' && isVisible(view.dates[row*7+col].date)">
      {{attendanceStatusData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')]}}</p>
  </div>
  <div class="td-date" [ngClass]="getClass((view.dates[row*7+col].date | date:'yyyy-MM-dd'))"
    *ngIf="componentType === componentTypeTeam">
    <span class="date left">{{view.dates[row*7+col].date | date:'dd'}}</span>
    <p class="date center approved"
      *ngIf="attendanceStatusTeamData && attendanceStatusTeamData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] && isVisible(view.dates[row*7+col].date)">
      {{attendanceStatusTeamData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')].PresentCount}}</p>
    <p class="date center reject"
      *ngIf="attendanceStatusTeamData && attendanceStatusTeamData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] && isVisible(view.dates[row*7+col].date)">
      {{attendanceStatusTeamData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')].AbsentCount}}</p>
    <p class="date center pending"
      *ngIf="attendanceStatusTeamData && attendanceStatusTeamData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')] && isVisible(view.dates[row*7+col].date)">
      {{attendanceStatusTeamData[(view.dates[row*7+col].date | date:'yyyy-MM-dd')].LeaveCount}}</p>
  </div>
</ng-template>