.filter-info {
  margin: 10px 16px 0px 13px;
  display: flex;
  align-items: center;
  span {
    color: rgba(0, 0, 0, 0.5);
  }
  .filterer {
    text-align: end;
    font-size: 27px;
  }
}
ion-fab-list {
  .filter-btn {
    position: absolute;
    top: -60px;
    left: 30px;
    width: 52px;
    height: 52px;
  }
  ion-fab-button {
    --background: var(--ion-color-dark);
    width: 52px;
    height: 52px;
  }
  ion-icon {
    color: var(--ion-color-primary-contrast);
    font-size: 24px;
  }
}

ion-fab-button.fab-button-close-active {
  --ion-color-base: var(--ion-color-primary) !important;
}
