<ion-content>
  <ion-row>
    <ion-col size="12" class="from-date-col">
      <span>From: </span>
      <strong> {{body.FromDate | date : dateFormat}} </strong>
      <span>To: </span> <strong> {{body.ToDate| date : dateFormat}} </strong>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isLeavesListReadyToRender && leaves && leaves.length">
    <ion-col size="12" sizeMd="12" sizeLg="6" *ngFor="let leave of leaves">
      <app-leave-list-item-block [data]="leave" [componentType]="leaveComponentTypeTeam"
        [teamLeaveActionCallback]="handleTeamLeaveActionCallback"></app-leave-list-item-block>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isLeavesListReadyToRender && (!leaves || !leaves.length)">
    <ion-col size="12" sizeMd="12">
      <ion-card class="no-record">
        <ion-card-content> No Cancelled, Rejected, Approved or Pending for Approval Leaves </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="filter-btn" (click)="handleFilter()">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>