<ion-content>
  <app-calendar [attendanceStatusData]="attendanceStatusData" [componentType]="calendarComponentTypeMy"
    [getMyCountActionCallback]="handleMyCountActionCallback">
  </app-calendar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>