<ion-content>
  <ion-row>
    <ion-col>
      <app-calendar [customerVisitData]="customerVisitData" [componentType]="calendarComponentTypeMy"
        [getMyCountActionCallback]="handleMyCountActionCallback">
      </app-calendar>
    </ion-col>
  </ion-row>
  <ion-row class="main-row">
    <ion-col size="12" class="main-col" [ngClass]='screenType!=="landscape"?"sticky-content":""'>
      <ion-row class="team-filter-info-row">
        <ion-col class="team-filter-info" size="12">
          <strong *ngIf="body.FromDate">
            {{ body.FromDate | date: dateFormat }}
          </strong>
        </ion-col>
      </ion-row>
    </ion-col>
    <ng-container *ngIf="visits && visits.length">
      <ion-col size="12" sizeMd="12" sizeLg="6" *ngFor="let visit of visits[0].visitDetails">
        <app-visit-list-item-block [data]="visit"></app-visit-list-item-block>
      </ion-col>
    </ng-container>
    <ng-container *ngIf="isLeavesListReadyToRender && (!visits || !visits.length)">
      <ion-col size="12" sizeMd="12">
        <ion-card class="no-record">
          <ion-card-content> No Visits Recorded </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="true || !isSupervisor">
      <ion-fab-button *ngIf="allowRemoteLogin" class="attendance-fab" (click)="navigateToManual()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
    </ng-container>
  </ion-fab>
</ion-content>