.main-row {
  padding: 0;

  ion-col.main-col {
    &.sticky-content {
      padding: 0;
      position: sticky;
      top: 0px;
      z-index: 99;
    }
  }

  ion-col {
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-book);

    &:last-child {
      padding: 0px;
    }
  }
}

.user-details {
  text-transform: capitalize;
  font-size: 18px;
  padding: 20px;
  background: var(--ion-grey-bg);
  font-weight: bolder;
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
    font-family: var(--ion-font-family-book);
    color: var(--ion-color-step-600);
    display: block;
    margin: 8px 0 0;
  }

  ion-avatar {
    position: relative;
    width: 75px;
    height: 75px;
  }

  ion-avathar {
    ion-img {
      margin: auto;
      width: 70%;
    }
  }

  ion-col {
    padding: 0;
  }

  ion-text {
    font-size: 18px;
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-bold);
    font-weight: 400;
  }

  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
}

.time-sec {
  padding: 15px;
  text-align: center;

  span {
    font-size: 16px;
    font-family: var(--ion-font-family-medium);
    color: var(--ion-border-color);
    margin: 5px 0;

    em {
      font-style: normal;
      color: var(--ion-color-step-600);
    }
  }
}

.d-block {
  display: block;
  margin: 11px 0;
}

.header-row {
  font-weight: bolder;
  background: var(--ion-color-step-950);
  min-height: 40px;

  ion-col {
    margin: auto;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-family: var(--ion-font-family-bold);
  }
}

.table-content {
  border-bottom: 1px solid var(--ion-table-border-color);
  background: var(--ion-color-light-tint-ex);
  min-height: 46px;

  & ion-col {
    padding: 0 10px;
    text-align: center;
    margin: auto;
  }

  & ion-col:first-child,
  ion-col:last-child {
    display: flex;
  }

  ion-icon {
    margin: auto;
    color: var(--ion-color-light-gr);
  }
}

.header-info .table-content:last-child {
  border-bottom: 1px solid var(--ion-color-step-400);
}

.chevron-forward-outline {
  font-size: 16px;
  font-weight: bold;
}

.table-content {
  font-size: 12px;

  &.add-error {
    background-color: var(--ion-color-danger-shade-rgb);

    ion-icon {
      color: var(--ion-color-danger);
    }
  }

  &.add-success {
    background-color: var(--ion-color-success-shade-rgb);

    ion-icon {
      color: var(--ion-color-success);
    }
  }
}

ion-fab-button {
  --background: var(--ion-color-menu-black);
  --background-activated: var(--ion-color-menu-black);
  --background-focused: var(--ion-color-menu-black);
  --background-hover: var(--ion-color-menu-black);

  &.attendance-fab {
    margin-bottom: 10px;
  }
}

.team-filter-info-row {
  background: var(--ion-color-primary-contrast);
}

.team-filter-info {
  text-align: center;
  margin: 15px 0;
}

ion-icon.ion-color-light {
  --ion-color-base: #d1d1d1 !important;
}

.attendance-list {
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
  background: var(--ion-color-step-950);

  ul {
    list-style: none;
    padding: 0px;
    display: flex;
    margin: 6px 20px;

    li {
      display: inline;
      text-transform: capitalize;
      font-size: 12px;
      color: var(--ion-border-color);
      font-family: var(--ion-font-family-book);
      margin-right: 30px;

      b {
        font-family: var(--ion-font-family-bold);
        margin-right: 5px;
      }
    }
  }
}

.month-changer {
  text-align: center;
  padding-top: 15px;
  background: var(--ion-color-primary-contrast);

  ion-col {
    font-size: 20px;
    font-family: var(--ion-font-family-bold);
  }
}

ion-fab-list {
  ion-fab-button {
    --background: var(--ion-color-dark);
    width: 52px;
    height: 52px;

    &.filter-btn {
      position: absolute;
      top: -60px;
      left: 30px;
    }
  }

  ion-icon {
    color: var(--ion-color-primary-contrast);
    font-size: 24px;
  }
}

ion-fab-button.fab-button-close-active {
  --ion-color-base: var(--ion-color-primary) !important;
}