.profile-info {
  background-color: #202020;
}

.log-out-btn {
  --background: #202020;
  font-size: 75%;
}

.profile-pic-col {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-label {
  color: var(--ion-color-medium);
}

.input-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 22px;
    margin-right: 10px;
    color: var(--ion-color-medium);
  }
}

.error-msg {
  color: var(--ion-color-danger);
}

.clear-btn {
  color: white;
  --background: #6d6f71;
}

ion-avatar {
  position: relative;
  width: 85px;
  height: 85px;
}

.profile-icon {
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.change-password-url {
  a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--ion-color-primary);
    margin: 10px 0 15px;
    display: block;
  }
}

.item-interactive-disabled {
  ion-label {
    color: var(--ion-color-step-900) !important;
  }
}

ion-button {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.form-title {
  color: var(--ion-color-medium);
}

.profile-form {
  padding: 0 15px;

  ion-item {
    --padding-end: 0;
    --padding-start: 0;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
  }

  ion-label {
    margin-bottom: 7px;
    font-size: 16px;
    font-family: var(--ion-font-family-book);
    color: var(--ion-color-step-600);
  }
}

.input-wrapper {
  ion-label {
    font-size: 12px;
    color: var(--ion-color-lbl-color);
    margin-bottom: 5px;
  }
}

.ph-no-wrap {
  padding-left: 10px;
}

.small-text {
  display: block;
  margin: 15px 0 0;
}

.noti-badge {
  position: absolute;
  top: 0px;
  left: 16px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: normal;
  z-index: 1;
  width: 19px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 18px;
}

.noti-icon {
  font-size: 26px;
}

.noti-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}

.setting-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}