<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-button class="log-out-btn" fill="clear" slot="end" (click)="handleLogout()">
      <ion-icon slot="icon-only" src="assets/images/menusignout.svg"></ion-icon>
    </ion-button>
    <ion-title mode="ios">My Profile</ion-title>
    <ion-buttons slot="end" fill="clear">
      <a routerLink="/dashboard" class="home-icon">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      <ion-buttons class="settings-icon" (click)="showSettings()" *ngIf="isSupervisor">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
      <ion-button class="noti-btn" (click)="showNotifications()">
        <ion-badge *ngIf="notificationCount>0" color="primary" class="noti-badge">{{notificationCount}}</ion-badge>
        <ion-icon name="notifications-outline" class="noti-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="profile-info">
    <ion-col size="12" class="profile-pic-col">
      <ion-avatar>
        <img [src]="ProfilePic" (click)="openImagePage()" (load)="handleLoad()" [hidden]="showProfilePicPlaceHolder"
          (error)="showProfilePicPlaceHolder = true" />
        <img [src]="defaultProfileImg" [hidden]="!showProfilePicPlaceHolder" />
        <ion-icon (click)="handleChangeProfile()" src="assets/images/editwhite.svg" class="profile-icon"></ion-icon>
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row class="profile-form">
    <ion-col size="12">
      <form [formGroup]="userDetailsFrom" (ngSubmit)="update()">
        <ion-item lines="none">
          <ion-label class="input-label active" position="stacked">
            Employee Id
          </ion-label>
          <ion-input class="custom-input" type="text" formControlName="EmployeeId"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            First Name<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input class="custom-input" type="text" formControlName="FirstName"></ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="userDetailCntrls.FirstName.invalid && (userDetailCntrls.FirstName.touched || userDetailCntrls.FirstName.dirty)">
          <span class="error-msg"
            *ngIf="userDetailCntrls.FirstName.errors.required || userDetailCntrls.FirstName.errors.onlySpaces">
            First name is required
          </span>
          <span class="error-msg"
            *ngIf="!userDetailCntrls.FirstName.errors.onlySpaces && (userDetailCntrls.FirstName.errors.minlength || userDetailCntrls.FirstName.errors.maxlength)">
            First name must be 3-20 characters
          </span>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            Last Name<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input class="custom-input" type="text" formControlName="LastName"></ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="userDetailCntrls.LastName.invalid && (userDetailCntrls.LastName.touched || userDetailCntrls.LastName.dirty)">
          <span class="error-msg"
            *ngIf="userDetailCntrls.LastName.errors.required || userDetailCntrls.LastName.errors.onlySpaces">
            Last name is required
          </span>
          <span class="error-msg"
            *ngIf="!userDetailCntrls.LastName.errors.onlySpaces && (userDetailCntrls.LastName.errors.minlength || userDetailCntrls.LastName.errors.maxlength)">
            Last name must be 3-20 characters
          </span>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            Phone Number<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-row class="width-100">
            <ion-col size="2" class="ion-no-padding">
              <ion-input class="custom-input" type="tel" value="+91" disabled="true"></ion-input>
            </ion-col>
            <ion-col size="10" class="ion-no-padding ph-no-wrap">
              <ion-input class="custom-input" type="tel" formControlName="PhoneNo"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="userDetailCntrls.PhoneNo.invalid && (userDetailCntrls.PhoneNo.touched || userDetailCntrls.PhoneNo.dirty)">
          <span class="error-msg"
            *ngIf="userDetailCntrls.PhoneNo.errors.required || userDetailCntrls.PhoneNo.errors.onlySpaces">
            Phone number is required
          </span>
          <span class="error-msg"
            *ngIf="!userDetailCntrls.PhoneNo.errors.onlySpaces && (userDetailCntrls.PhoneNo.errors.minlength || userDetailCntrls.PhoneNo.errors.maxlength)">
            Phone number must be 10 characters
          </span>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="input-label" position="stacked">
            Email Address
          </ion-label>
          <ion-input class="custom-input" type="text" formControlName="MailId"></ion-input>
        </ion-item>
        <ion-item class="validation-msg" lines="none"
          *ngIf="userDetailCntrls.MailId.invalid && (userDetailCntrls.MailId.touched || userDetailCntrls.MailId.dirty)">
          <span class="error-msg"
            *ngIf="userDetailCntrls.MailId.errors.required || userDetailCntrls.MailId.errors.onlySpaces">
            Email is required
          </span>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <span class="small-text">Contact system admin to edit employee code or email address.</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="change-password-url" size="12">
            <a [routerLink]="['/change-password']">Change password</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset="1" size="5">
            <ion-button (click)="cancelFn()" mode="ios" expand="full" color="btn-cancel">
              Cancel
            </ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button type="submit" [disabled]="!isAnyvalueChanged||!userDetailsFrom.valid" expand="full" mode="ios">
              Update
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>