<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">Punch</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="showNotifications()" class="noti-btn"> -->
      <ion-buttons
        class="settings-icon"
        (click)="showSettings()"
        *ngIf="isSupervisor"
      >
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
      <ion-button class="noti-btn" (click)="showNotifications()">
        <ion-badge
          *ngIf="notificationCount>0"
          color="primary"
          class="noti-badge"
          >{{notificationCount}}</ion-badge
        >
        <ion-icon name="notifications-outline" class="noti-icon"></ion-icon>
      </ion-button>
      <ion-buttons slot="end" fill="clear">
        <a routerLink="/dashboard" class="home-icon">
          <ion-icon name="home-outline"></ion-icon>
        </a>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-wrapper">
  <ion-tabs *ngIf="showAttendanceOptions && allowRemoteLogin">
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="cameraClick()">
        <ion-label>FR</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="qr" routerLink="/attendance-screen/qr">
        <ion-label>QR</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-router-outlet
    *ngIf="showAttendanceOptions && !allowRemoteLogin"
  ></ion-router-outlet>
</ion-content>
