.content-wrapper {
  background: transparent;
  --background: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

.camera-preview {
  flex: 2;
}

.action-wrap {
  flex: 1;
  background: var(--ion-color-white);
  align-items: center;
}

.action-wrap-content {
  padding-left: 15px;
  padding-right: 15px;
}

.action-stat-col {
  h5 {
    font-family: var(--ion-font-family-bold);
    font-size: 20px;
    color: --ion-border-color;

    span {
      font-family: var(--ion-font-family-book);
      color: var(--ion-color-step-400);
      font-size: 16px;
    }
  }
}

.action-log-row {
  margin: 20px 0 30px;

  .action-log-col {
    &.first {
      border-right: 2px solid var(--ion-color-light);
      padding: 0 20px 0 5px;
    }

    &.second {
      padding: 0 5px 0 20px;
    }

    p {
      margin: 0;

      &.label {
        font-family: var(--ion-font-family-book);
        margin: 0 0 15px 0;
        color: var(--ion-color-step-600);
      }
    }
  }
}

.action-btn-row {
  .action-btn-col {
    ion-button {
      --border-radius: 0;
      height: 56px;
      font-size: 20px;
    }
  }
}

.action-rbtn-wrap {
  display: flex;
  flex-direction: row;
}

.rbtn-title {
  margin: 0 0 0 15px;
  font-weight: bold;
}

.noti-badge {
  position: absolute;
  top: 0px;
  left: 15px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: normal;
  z-index: 1;
  width: 19px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 18px;
}

.noti-icon {
  font-size: 26px;
}

.camera-icon {
  font-size: 26px;
  margin-right: 10px;
}

.noti-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}

.setting-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}