.quick-links-row {
  background-color: var(--ion-color-menu-black);
  color: var(--ion-color-white);

  .quick-links-col {
    .q-link-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      overflow: auto;
      margin: 0;
      padding: 15px 0px 10px 0px;

      ion-img {
        margin: 7px;
      }
    }

    .lnk-btn-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 68px;
      text-align: center;
      padding: 0 10px;
      margin: 0 5px;

      .lnk-btn {
        width: 46px;
        height: 46px;
        margin: 0;
        --border-radius: 0;
        --background: var(--ion-color-white);
        --color: var(--ion-color-menu-black);
        --padding-start: 0;
        --padding-end: 0;
        --background-activated: var(--ion-color-primary);
        --background-focused: var(--ion-color-primary);
        --background-hover: var(--ion-color-primary);
        --color-activated: var(--ion-color-white);
        --color-focused: var(--ion-color-white);
        --color-hover: var(--ion-color-white);
        --background-activated-opacity: 1;
      }

      p.lnk-btn-title {
        font-size: 12px;
        text-transform: capitalize;
        font-family: var(--ion-font-family-);
      }

      ion-icon {
        font-size: 22px;
      }
    }

    h3 {
      padding: 0 10px 10px;
      font-size: 16px;
      margin-top: 5px;
      font-family: var(--ion-font-family-);
    }
  }
}

// .no-record {
//   ion-button {
//     :host(.button-outline) {
//       border-color: #007AFF !important;
//     }
//   }
// }

ion-datetime {
  display: none;
}

.timeline-row {
  .overview-col {
    font-size: 14px;
    position: relative;
    padding: 12px 10px 10px 80px;

    &::before {
      content: " ";
      width: 0px;
      height: 100%;
      border: 1px solid var(--ion-color-step-600);
      position: absolute;
      left: 82px;
      top: 15px;
      opacity: 0.15;
    }

    li {
      list-style-type: none;

      &:last-child {
        list-style: none;
        margin-left: 20px;
        font-size: 14px;
        color: var(--ion-border-color);
        font-family: var(--ion-font-family-medium);
        max-width: 205px;
        display: inline-block;
      }

      &:first-child {
        position: absolute;
        left: 15px;
        text-align: left;
        list-style-type: none;
        color: #222;
        font-size: 12px;
        opacity: 0.7;
        top: 12px;

        &::after {
          content: " ";
          width: 10px;
          height: 10px;
          background: var(--ion-color-timeline-circle);
          position: absolute;
          right: -18px;
          top: 3px;
          border-radius: 50%;
        }
      }
    }

    &:last-child {
      &::before {
        content: " ";
        height: 0px;
      }
    }

    &.timeline-red-bg {
      li {
        &:last-child {
          background: var(--ion-color-danger-shade2);
          padding: 10px 15px;
        }
      }
    }

    &.timeline-grey-bg {
      li {
        &:last-child {
          background: var(--ion-color-btn-cancel-shade2);
          padding: 10px 15px;
        }
      }
    }
  }
}

.upcoming-leaves {
  ion-col {
    font-size: 10.7px;
    padding: 0 15px;
    min-height: 40px;
    display: flex;
    align-items: center;
  }
}

.top-content {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.timeline-content {
  margin-bottom: 20px;

  .timeline-hdr-row {
    padding: 15px;

    ion-col {
      padding: 0;

      .timeline-top-data {
        span {
          font-size: 16px;
          font-family: var(--ion-font-family-);
          color: var(--ion-border-color);
          display: flex;
          align-items: center;

          i {
            margin-left: 10px;
            width: 24px;
            font-size: 9px;
            opacity: 0.85;
          }
        }
      }

      .timeline-top-rgt-data {
        text-align: right;

        span {
          font-size: 12px;
          font-family: var(--ion-font-family-book);
          color: var(--ion-color-step-600);
        }
      }
    }
  }
}

.overview-row {
  text-align: center;
  margin-left: 10px;

  .shadow {
    border-top: 3px solid #F5F5F5;
    border-left: 3px solid #F5F5F5;
    border-bottom: 3px solid #EEEEEE;
    border-right: 3px solid #EEEEEE;
    z-index: 2;
  }

  .box-gray {
    background-color: #fff;
    margin-right: 15px;
    text-align: center;
  }

  .box-lightyellow {
    background-color: #FFF9C4;
    margin-right: 15px;
    text-align: center;
  }

  .box-lightgreen {
    background-color: #d8f8e2;
    margin-right: 15px;
    text-align: center;
  }

  .overview-col {
    .icon {
      width: 100%;
      height: 100%;
    }

    p {
      color: var(--ion-color-step-600);
      font-family: var(--ion-font-family-book);
      line-height: 20px;
      font-size: 11px;
    }

    h4 {
      color: var(--ion-border-color);
      font-family: var(--ion-font-family-bold);
      text-align: center;

      &.check-in-time {
        text-transform: lowercase;
      }

      &.higlight {
        color: var(--ion-color-primary);

        &.success {
          color: var(--ion-color-success);
        }
      }
    }
  }
}

.noti-badge {
  position: absolute;
  top: 0px;
  left: 16px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: normal;
  z-index: 1;
  width: 19px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 18px;
}

.noti-icon {
  font-size: 26px;
}

.noti-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}

.table-sec {
  width: 100%;
  display: inline-block;
  margin-bottom: 22px;
  margin-top: 15px;

  .cmn-dashbrd-hdr {
    padding: 0 15px;
  }
}

.cmn-dashbrd-hdr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  h3 {
    font-size: 16px;
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-medium);
    margin: auto;
  }

  a {
    font-size: 12px;
    color: var(--ion-color-secondary-dark);
    font-family: var(--ion-font-family-book);
    text-decoration: none;
  }
}

.header-row {
  background-color: #dbdbdb;
}

.header-row,
.body-row {
  border: 1px solid #eaeaea;

  .border-col {
    border-right: 1px solid #eaeaea;
  }
}

.header-row {
  font-weight: bolder;
  background: var(--ion-color-step-950);
  border-left: none;
  border-right: none;

  ion-col {
    margin: auto;
    justify-content: flex-start;
    display: flex;
    font-size: 11.9px;
    font-family: var(--ion-font-family-bold);
    min-height: 36px;
    align-items: center;
    padding: 0 15px;
  }
}

.body-row {
  border-top: none;
  border-left: none;
  border-right: none;
}

.nodata-label {
  margin-top: 10px;
  text-align: center;
  padding-top: 10px;
}

.done-btn {
  color: #007AFF;
}

.overview-status {
  font-size: 12px !important;
}

.margin-left {
  margin-left: 10px;
}

.setting-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}

.login-btn {
  color: var(--ion-color-primary);
}