<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios" slot="start">Quick Actions</ion-title>
    <ion-buttons slot="end" fill="clear">
      <ion-button class="noti-btn" (click)="showNotifications()">
        <ion-badge *ngIf="notificationCount>0" color="primary" class="noti-badge">{{notificationCount}}</ion-badge>
        <ion-icon name="notifications-outline" class="noti-icon"></ion-icon>
      </ion-button>
      <ion-buttons class="settings-icon" (click)="showSettings()" *ngIf="isSupervisor">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngClass]='screenType!=="landscape"?"top-content":""'>
    <ion-row class="quick-links-row">
      <ion-col size="12" class="quick-links-col ion-no-padding">
        <div class="q-link-wrap">
          <div *ngFor="let item of quickActions" class="lnk-btn-wrap">
            <ion-button (click)="navigate(item)" class="lnk-btn">
              <ion-icon *ngIf="item.isSvg" [src]="item.icon"></ion-icon>
              <ion-img *ngIf="item.isPng" [src]="item.icon"></ion-img>
              <ion-icon *ngIf="!item.isSvg" [name]="item.icon"></ion-icon>
            </ion-button>
            <p class="lnk-btn-title">{{item.title}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="overview-row" *ngIf="overView && !isShowTable">
      <ion-col size="1" class="overview-col">
        <ion-icon name="person" class="icon"></ion-icon>
      </ion-col>
      <ion-col size="3" class="overview-col">
        <p>Log In</p>
        <h4 class="check-in-time" *ngIf="overView && overView.checkIntime">
          {{overView.checkIntime | dateTimeFormat: 'time12'}}
        </h4>
      </ion-col>
      <ion-col size="4" class="overview-col">
        <p>Total Work</p>
        <h4>{{overView.avgTime}}</h4>
      </ion-col>
      <ion-col size="3" class="overview-col">
        <p>Status</p>
        <h4 class="higlight overview-status" [ngClass]="overView.class">{{overView.status}}</h4>
      </ion-col>
    </ion-row>
    <ion-row class="overview-row" *ngIf="isSupervisor && !isShowTable && customerVisit">
      <ion-col size="1" class="overview-col">
        <ion-icon name="people" class="icon"></ion-icon>
      </ion-col>
      <ion-col size="3" class="overview-col box-gray shadow" (click)="showTable('present')">
        <p>Present<br />Today</p>
        <h4>{{ customerVisit.PresentCount }}</h4>
      </ion-col>
      <ion-col size="3" class="overview-col box-lightyellow shadow" (click)="showTable('in-meetings')">
        <p>In<br />Meetings</p>
        <h4>{{ customerVisit.InMeetingCount }}</h4>
      </ion-col>
      <ion-col size="3" class="overview-col box-lightgreen shadow" (click)="showTable('done-meetings')">
        <p>Done<br />Meetings</p>
        <h4>{{ customerVisit.DoneMeetingCount }}</h4>
      </ion-col>
    </ion-row>
  </div>
  <div class="timeline-content" *ngIf="!isShowTable">
    <ion-row class="timeline-hdr-row">
      <ion-col size="4">
        <div class="timeline-top-data">
          <span>Timeline <i><img src="assets/images/timeline.png" alt="" /></i></span>
        </div>
      </ion-col>

      <ion-col size="12" sizeMd="12" *ngIf="attendanceLoaded && timeLine &&!timeLine.length">
        <ion-card class="no-record">
          <ion-card-content> You've not punched in
            <ion-button fill="outline" role="button" class="login-btn" (click)="handlePunchIn('/attendance-screen')">
              Punch-in
              now</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" offset="4" *ngIf="attendanceLoaded && timeLine && timeLine.length">
        <div class="timeline-top-rgt-data">
          <span *ngIf="timeLine[0] && timeLine[0].TimeStamp">({{timeLine[0].TimeStamp| dateTimeFormat:'date'}})</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="timeline-row">
      <ion-col size="12" class="overview-col timeline-grey-bg" *ngFor="let time of timeLine">
        <li *ngIf="time && time.TimeStamp">
          {{time.TimeStamp | dateTimeFormat:'time12' }}
        </li>
        <li>{{time.message}}</li>
      </ion-col>
    </ion-row>
  </div>
  <div class="table-sec" *ngIf="isShowTable && tableType==='present'">
    <div class="cmn-dashbrd-hdr">
      <h3>Present Today</h3>
      <ion-buttons slot="end">
        <ion-button role="close" class="done-btn" (click)="hideTable()">Done</ion-button>
      </ion-buttons>
    </div>
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col class="border-col" size="4">
          <ion-label>Name</ion-label>
        </ion-col>
        <ion-col class="border-col" size="4">
          <ion-label>Log In Time</ion-label>
        </ion-col>
        <ion-col class="border-col" size="4">
          <ion-label>Status</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="presentData.length > 0">
        <ion-row class="body-row upcoming-leaves" *ngFor="let presentDetail of presentData">
          <ion-col class="border-col" size="4">
            <ion-text *ngIf="presentDetail.EmployeeName">{{ presentDetail.EmployeeName }}</ion-text>
            <ion-text *ngIf="!presentDetail.EmployeeName">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="4">
            <ion-text *ngIf="presentDetail.LogInTime">{{ presentDetail.LogInTime | dateTimeFormat: 'time12' }}
            </ion-text>
            <ion-text *ngIf="!presentDetail.LogInTime">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="4">
            <ion-text *ngIf="presentDetail.Status">{{ presentDetail.Status }}</ion-text>
            <ion-text *ngIf="!presentDetail.Status">-</ion-text>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="presentData.length === 0">
        <ion-row class="body-row">
          <ion-col size="12" class="nodata-label">
            <ion-label>List empty</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </div>
  </div>
  <div class="table-sec" *ngIf="isShowTable && tableType==='in-meetings'">
    <div class="cmn-dashbrd-hdr">
      <ion-buttons slot="start" *ngIf="IsMapViewEnabled && inMeetingsData.length > 0">
        <ion-button role="close" class="done-btn" (click)="showMap(inMeetingsData)">Map</ion-button>
      </ion-buttons>
      <h3>In-Meetings</h3>
      <ion-buttons slot="end">
        <ion-button role="close" class="done-btn" (click)="hideTable()">Done</ion-button>
      </ion-buttons>
    </div>
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col class="border-col" size="4">
          <ion-label>Name</ion-label>
        </ion-col>
        <ion-col class="border-col" size="4">
          <ion-label>Check In Time</ion-label>
        </ion-col>
        <ion-col class="border-col" size="4">
          <ion-label>Customer Name</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="inMeetingsData.length > 0">
        <ion-row class="body-row upcoming-leaves" *ngFor="let inMeetingsDetail of inMeetingsData">
          <ion-col class="border-col" size="4">
            <ion-text *ngIf="inMeetingsDetail.EmployeeName">{{ inMeetingsDetail.EmployeeName }}
            </ion-text>
            <ion-text *ngIf="!inMeetingsDetail.EmployeeName">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="4">
            <ion-text *ngIf="inMeetingsDetail.CheckInTime">{{ inMeetingsDetail.CheckInTime | dateTimeFormat: 'time12' }}
            </ion-text>
            <ion-text *ngIf="!inMeetingsDetail.CheckInTime">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="4">
            <ion-text *ngIf="inMeetingsDetail.CustomerName">{{ inMeetingsDetail.CustomerName }}
            </ion-text>
            <ion-text *ngIf="!inMeetingsDetail.CustomerName">-</ion-text>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="inMeetingsData.length === 0">
        <ion-row class="body-row">
          <ion-col size="12" class="nodata-label">
            <ion-label>List empty</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </div>
  </div>
  <div class="table-sec" *ngIf="isShowTable && tableType==='done-meetings'">
    <div class="cmn-dashbrd-hdr">
      <ion-buttons slot="start" *ngIf="IsMapViewEnabled && doneMeetingsData.length > 0">
        <ion-button role="close" class="done-btn" (click)="showMap(doneMeetingsData)">Map</ion-button>
      </ion-buttons>
      <h3>Done Meetings</h3>
      <ion-buttons slot="end">
        <ion-button role="close" class="done-btn" (click)="hideTable()">Done</ion-button>
      </ion-buttons>
    </div>
    <div class="attend-hist-info">
      <ion-row class="header-row">
        <ion-col class="border-col" size="3">
          <ion-label>Name</ion-label>
        </ion-col>
        <ion-col class="border-col" size="3">
          <ion-label>Check In Time</ion-label>
        </ion-col>
        <ion-col class="border-col" size="3">
          <ion-label>Check Out Time</ion-label>
        </ion-col>
        <ion-col class="border-col" size="3">
          <ion-label>Customer Name</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="doneMeetingsData.length > 0">
        <ion-row class="body-row upcoming-leaves" *ngFor="let doneMeetingsDetail of doneMeetingsData">
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="doneMeetingsDetail.EmployeeName">{{ doneMeetingsDetail.EmployeeName }}</ion-text>
            <ion-text *ngIf="!doneMeetingsDetail.EmployeeName">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="doneMeetingsDetail.CheckInTime">
              {{ doneMeetingsDetail.CheckInTime | dateTimeFormat: 'time12' }}
            </ion-text>
            <ion-text *ngIf="!doneMeetingsDetail.CheckInTime">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="doneMeetingsDetail.CheckOutTime">
              {{ doneMeetingsDetail.CheckOutTime | dateTimeFormat: 'time12' }}
            </ion-text>
            <ion-text *ngIf="!doneMeetingsDetail.CheckOutTime">-</ion-text>
          </ion-col>
          <ion-col class="border-col" size="3">
            <ion-text *ngIf="doneMeetingsDetail.CustomerName">{{ doneMeetingsDetail.CustomerName }}</ion-text>
            <ion-text *ngIf="!doneMeetingsDetail.CustomerName">-</ion-text>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="doneMeetingsData.length === 0">
        <ion-row class="body-row">
          <ion-col size="12" class="nodata-label">
            <ion-label>List empty</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </div>
  </div>
</ion-content>