<ion-header>
  <ion-toolbar>
    <ion-title mode="ios">{{data.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="success-card-outer">
    <ion-card class="success-card" (click)="navigate()">
      <ion-card-content>
        <ion-icon src="assets/images/ic-success.svg"></ion-icon>
        <ion-row>
          <ion-col size="12">
            <ion-text color="dark">
              <h1>{{data.title}} has been <br />logged Successfully</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="text-left">
            <span class="label">{{data.title}} Time</span>
            <span class="value"
              >{{data.TimeStamp|dateTimeFormat:'dateTime'}}</span
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" *ngIf="data.CustomerName">
            <span class="label"> Customer Name </span>
            <span class="value"> {{data.CustomerName}} </span>
          </ion-col>
          <ion-col size="7" *ngIf="data.CustomerAddress">
            <span class="label">At Location</span>
            <span class="value">{{data.CustomerAddress}}</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
