ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item {
  --padding-start: 0px;

  ion-label {
    color: var(--ion-color-step-600);
    margin: 0px;
  }
}

.success-card-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  ion-card {
    &.success-card {
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: none;
      text-align: center;
      width: 100%;

      ion-icon {
        font-size: 54px;
        margin:0 auto 18px;
      }

      h1 {
        text-align: center;
        font-family: var(--ion-font-family-bold);
        font-size: 20px;
        margin-bottom: 20px;
      }
      .label {
        font-family: var(--ion-font-family-book);
        font-size: 14px;
        color: var(--ion-color-step-600) ;
        display: block;
        margin-bottom: 5px;
        text-align: left;
      }
      .value {
        font-family: var(--ion-font-family-bold);
       color: var(--ion-border-color); 
       font-size: 16px;
       display: block;
       text-align: left;
      }
      .text-left {
        text-align: left;
      }
    }
  }
}


