.error-msg {
  color: var(--ion-color-danger);
}

.title-wrapper {
  padding-top: 20px;
  h3 {
    font-size: 18px;
    color: var(--ion-color-medium);
    padding: 0 10px;
    text-align: left;
    font-weight: initial;
    margin: 0;
  }
}

.control-item {
  --padding-start: 0px;
  --inner-padding-end: 2px;
  ion-label {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.ios {
  .control-item {
    ion-label {
      font-size: 16px;
    }
  }
}

.forgot-text {
  padding-left: 15px;
  font-size: 16px;
  line-height: 22px;
  color: var(--ion-border-color);
  margin: 0;
}
form {
  ion-col {
    padding: 0px;
    padding-left: 14px;
    padding-right: 14px;

    &.validation-col {
      padding: 0;
    }
  }
  ion-button {
    text-transform: initial;
    margin-top: 25px;
  }
  .error-block {
    padding: 5px 0 0 0;
  }
}
