<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="title-wrapper">
    <ion-col size="12">
      <p class="forgot-text">
        Please enter your register user-name,<br />
        will share new password on your email
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <form [formGroup]="forgotForm" (ngSubmit)="handleSubmit()">
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" class="control-item">
              <ion-input
                class="forgot-modal custom-input"
                formControlName="email"
                type="text"
                placeholder="Email Id"
              ></ion-input>
            </ion-item>
            <ion-row>
              <ion-col size="12" class="error-block">
                <div
                  *ngIf="emailCtrl.invalid && (emailCtrl.touched || emailCtrl.dirty)"
                >
                  <span class="error-msg" *ngIf="emailCtrl.errors.required">
                    Email is required
                  </span>
                  <span
                    class="error-msg"
                    *ngIf="!emailCtrl.errors.required&&emailCtrl.errors.invalidEmailAddress"
                  >
                    Invalid Email
                  </span>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offset="3" size="6">
            <ion-button
              type="submit"
              expand="full"
              [disabled]="!forgotForm.valid"
            >
              Send
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
