.heading-title {
  padding: 0 50px;
}

.content-wrap {
  --padding-start: 15px;
  --padding-end: 15px;

  ion-row {
    padding: 15px 0;
  }

  h3 {
    font-weight: 400;
    font-family: var(--ion-font-family-bold);
    font-size: 18px;
    margin: 0 0 15px;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 16px;
    line-height: 22px;
    font-family: var(--ion-font-family-book);

    &.desc-content {
      text-align: justify;
    }
  }
}

.noti-badge {
  position: absolute;
  top: 0px;
  left: 16px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: normal;
  z-index: 1;
  width: 19px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 18px;
}

.noti-icon {
  font-size: 26px;
}

.noti-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}

.setting-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}