<ion-content class="content-wrap">
  <ion-row>
    <ion-col size="12">
      <h3 [innerHTML]="title"></h3>
      <p class="desc-content" [innerHTML]="desc"></p>
      <p [innerHTML]="date"></p>
    </ion-col>
  </ion-row>
</ion-content>