ion-tab-bar {
  --background: var(--ion-color-menu-black);

  ion-tab-button {
    font-size: 19px;
    color: var(--ion-color-white);
    --background: var(--ion-color-menu-black);

    ion-label {
      font-size: 19px;
      font-family: var(--ion-font-family-medium);
    }
  }
}

.noti-badge {
  position: absolute;
  top: 0px;
  left: 16px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: normal;
  z-index: 1;
  width: 19px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 18px;
}

.noti-icon {
  font-size: 26px;
}

.noti-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}

.setting-btn {
  width: 50px;
  padding: 0;
  margin: 0;
  --color: var(--ion-color-white);
}