/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./theme/fonts.scss";

ion-app.primaryFontFamily {
  --ion-font-family: "Honeywell Sans Web_Medium";
}

button.picker-button.ion-activatable.sc-ion-picker-md {
  color: #007AFF;
}

.picker-toolbar-cancel>button.picker-button.ion-activatable.sc-ion-picker-md {
  color: var(--ion-color-primary, #3880ff);
}

.picker-toolbar-cancel.picker-toolbar-button.sc-ion-picker-md {
  width: 80%;
}

.monthview-datetable>tbody>tr>td {
  padding: 0px !important;
}

.monthview-datetable>tbody>tr>td {
  // background-color: #fff;
  // color: #fff;
  // border-color: #fff !important;
  // overflow: hidden;
  height: 60px;
  padding-top: 13px;
  background-color: #fafafa;
  font-size: 13px;
}

.monthview-datetable>tbody>tr>.text-muted {
  .td-date {
    height: 75px;
    position: relative;
    padding-top: 13px;
    background-color: #EEE;
    color: #9E9E9E;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

    span {
      color: currentColor;
    }
  }
}

.table-bordered {
  border: 4px solid #ddd !important;
}

// .map {
//   canvas {
//     height: 600px !important;
//     width: 800px !important;
//   }
// }

.leave-list-item {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  background: #eee;
  border-radius: 12px;
  margin-bottom: 0;
  margin-top: 5px;

  .leaves-card-content {
    padding: 15px;

    .wrapper-col {
      padding: 0 0 7px;

      &.left-col {
        text-align: left;
      }

      &.right-col {
        text-align: right;

        &.border-seperator {
          border-left: 2px solid #ccc;
        }
      }

      .label {
        font-weight: bold;
      }

      &.reason-col {
        padding: 10px 0 0;

        span.label {
          display: block;
        }
      }
    }

    ion-row ion-col {
      @media screen and (max-width: 320px) {
        font-size: 12px;
      }

      span.label {
        font-size: 14px;
        font-family: var(--ion-font-family-book);
        color: var(--ion-color-step-600);
        margin-right: 5px;
        min-width: 78px;
        font-weight: normal;
        display: inline-block;

        @media screen and (max-width: 360px) {
          min-width: 66px;
        }

        @media screen and (max-width: 375px) {
          min-width: 68px;
        }
      }

      span.value {
        font-family: var(--ion-font-family-bold);
        font-size: 14px;
        color: var(--ion-border-color);
        margin-right: 5px;
      }
    }

    .custom-wrapper {
      @media screen and (max-width: 320px) {
        font-size: 12px;
      }

      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      ion-col {
        display: flex;
        align-items: center;

        span.value {
          margin-left: 6px;
        }
      }
    }
  }

  div.divider {
    height: 1px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;

    &.divider-none {
      border-bottom: none;
    }
  }

  ion-card {
    .card-content-md {
      font-size: 16px;
    }

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    margin-bottom: 0;
    border-radius: 12px;
    margin: 0;

    &.btn-section-enable {
      margin: 0 0 80px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: auto;
        bottom: -80px;
        background: #f2f2f2;
        width: 100%;
        border-radius: 0 0 15px 15px;
        height: 50%;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        z-index: -1;
      }
    }
  }

  ion-row.actions {
    ion-col {
      align-self: flex-end;
    }

    ion-button {
      letter-spacing: 0.05em;
      margin: 0 8px;
      --box-shadow: none;

      button.button-native {
        padding: 10px;
        min-width: 68px;
        line-height: 45px;
      }
    }

    margin: 0 16px 0 16px;
    background: #eee;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 7px;

    &.center-btn {
      justify-content: center;
    }

    &.hide-sector {
      display: none;
    }
  }
}

ion-header {
  ion-toolbar {
    color: var(--ion-color-white);
    --background: var(--ion-color-menu-black);
    text-transform: capitalize;

    &:first-of-type {
      padding: 0;
    }

    ion-menu-button {
      color: var(--ion-color-white);
    }

    ion-title {
      text-align: left;
      padding-left: 13%;
      font-size: 20px;
      font-weight: 400;
      font-family: var(--ion-font-family-bold);
    }

    ion-buttons {
      .home-icon {
        color: var(--ion-color-white);
        font-size: 25px;
        margin-right: 15px;
        margin-top: 5px;
      }

      .settings-icon {
        color: var(--ion-color-white);
        font-size: 25px;
      }
    }

  }

  .toolbar-container {
    min-height: inherit;
  }

  .toolbar-title {
    font-size: 20px;
  }
}

ion-button,
.button-native {
  font-size: 18px;
  // color: var(--ion-color-white);
  font-weight: 400;
  font-family: var(--ion-font-family-bold);
  height: 45px;
}

ion-tab-bar {
  --background: var(--ion-color-menu-black);
  --border: 0;

  ion-tab-button {
    --color-selected: var(--ion-color-white);
    margin: 0 10px;
    --padding-end: 0;
    --padding-start: 0;
    font-size: 19px;
    color: var(--ion-color-white);
    --background: var(--ion-color-menu-black);

    &.tab-selected {
      border-bottom: 4px solid #fff;
    }

    ion-label {
      font-size: 19px;
      font-family: var(--ion-font-family-medium);
    }
  }
}

.forgot-modal {
  .modal-wrapper {
    height: 70%;

    @media screen and (min-height: 600px) {
      height: 63%;
    }

    @media screen and (min-height: 700px) {
      height: 54%;
    }

    @media screen and (min-height: 1000px) {
      height: 40%;
    }

    @media screen and (min-height: 1300px) {
      height: 30%;
    }

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.custom-filter-modal {
  .modal-wrapper {
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    bottom: 0;

    ion-header ion-toolbar {
      padding: 0;

      &:first-of-type {
        padding: 5px 25px;
      }

      ion-title {
        text-align: left;
      }

      .sc-ion-buttons-md-h {
        margin: 0;
      }

      ion-button {
        font-size: 14px;
        letter-spacing: inherit;
        font-weight: inherit;
        font-family: var(--ion-font-family-bold);
        margin: 0;
        padding: 0;
      }
    }
  }

  &.leave-filter-modal {
    .modal-wrapper {
      height: 55%;
    }
  }

  &.my-leave-filter {
    .modal-wrapper {
      height: 50%;
    }
  }

  &.modal-bottom-50-per {
    .modal-wrapper {
      height: 55%;
    }
  }

  &.check-out-popup {
    .modal-wrapper {
      height: 35%;
    }
  }

  &.check-in-popup {
    .modal-wrapper {
      height: 55%;
    }
  }
}

.mb0 {
  margin-bottom: 0 !important;
}

.corr-page {
  .modal-wrapper {
    position: absolute;
    bottom: 0px;
    height: 72%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.correc-responce-sec {
  ion-textarea {
    textarea {
      opacity: 1 !important;
    }
  }
}

ion-input.custom-input,
ion-textarea.sc-ion-textarea-md-h,
ion-textarea.sc-ion-textarea-ios-h {
  textarea.native-textarea {
    height: 72px !important;
  }

  input.native-input,
  textarea.native-textarea {
    border: 1px solid var(--ion-color-step-600);
    padding: 10px 0 8px 10px !important;
    height: 44px;
    width: 100%;
    align-items: center;
    margin-top: 18px !important;
    font-size: 14px;
    color: var(--ion-color-btn-cancel);
    // border-radius: 4px;
  }
}

.control-item,
.profile-form {
  ion-input.custom-input {
    input {
      margin-top: 2px !important;
    }
  }
}

ion-select,
ion-datetime {
  border: 1px solid var(--ion-color-step-600);
  padding: 10px 0 8px 10px !important;
  height: 44px !important;
  width: 100%;
  align-items: center;
  margin-top: 7px !important;
  border-radius: 0;
  font-size: 14px;
  color: var(--ion-color-btn-cancel);
  max-width: 100%;
}

/* start hide elements based on device size */
.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

/* end hide elements based on device size */

// .modal-bottom-50-per {
//   height: 50%;
//   position: absolute;
//   top: auto;
//   bottom: 0;
//   min-height: 300px;
//   .modal-wrapper {
//     // height: 50% ;
//     // position: absolute;
//     // top: auto;
//     // bottom: 0;
//     // border-top-left-radius: 15px;
//     // border-top-right-radius: 15px;
//     // background: transparent;
//   }
// }

.control-item {
  ion-input {
    &.custom-input {
      input {
        margin-top: 11px !important;
      }
    }
  }
}

ion-chip.ion-color-secondary,
ion-chip.ion-color-primary,
ion-chip.ion-color-success {
  padding: 0 10px;
  line-height: 24px;
  min-width: 90px;
  text-align: center;
  height: auto;

  ion-label {
    display: block;
    width: 100%;
  }
}

/* custom popup form */
.custom-filter-modal {
  .modal-wrapper {
    ion-col {
      padding: 0;
    }

    form {
      margin: 10px 0 20px;

      ion-item {
        margin-bottom: 10px;

        .item-native {
          padding-left: 20px;
        }
      }
    }

    .label-stacked.sc-ion-label-md-h,
    .label-floating.sc-ion-label-md-h,
    .lbl-customer {
      font-size: 13px;
      color: var(--ion-color-lbl-color);
      font-family: var(--ion-font-family-bold);
    }

    ion-row {
      .filter-btn-row {
        display: flex;
        justify-content: center;
        margin: 20px 0 0;

        ion-button {
          font-family: var(--ion-font-family-bold);
          font-size: 20px;
          text-transform: capitalize;
          border-radius: 0 !important;
          box-shadow: none !important;
          line-height: 45px;
          height: 45px;
          font-weight: 400;
          min-width: 140px;
          --border-radius: 0;
          --box-shadow: none;
          margin: 0 7px;
        }
      }
    }

    ion-textarea.sc-ion-textarea-md-h textarea.native-textarea {
      margin-top: 0 !important;
    }
  }
}

/* custom popup form */

.alert-wrapper.sc-ion-alert-md,
.alert-wrapper.sc-ion-alert-ios {
  border-radius: 13px !important;
  max-width: 90%;
  width: 90%;

  @media screen and (min-width: 614px) and (max-width: 767px) {
    width: auto;
  }

  .alert-head {
    background: var(--ion-color-dark);
    padding: 15px;
  }

  .alert-title {
    margin: 0;
    color: var(--ion-color-dark-contrast);
    font-family: var(--ion-font-family-bold);
    font-weight: 400;
  }

  .alert-input {
    border-radius: 0;
    border: 1px solid var(--ion-color-step-600);
    padding: 10px;
    margin: 0;
  }

  textarea.alert-input.sc-ion-alert-md,
  textarea.alert-input.sc-ion-alert-ios {
    min-height: 110px;
    resize: none;
  }

  .alert-message {
    padding-top: 15px !important;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  .alert-button-group {
    padding: 10px 20px 15px;
    justify-content: center;

    .alert-button {
      border: none;
      font-size: 14px;
      flex: inherit;
      min-width: 120px;
      height: 36px;
      background: var(--ion-color-primary);
      color: var(--ion-color-dark-contrast);
      font-weight: 400;
      border-radius: 0;
      margin: 0 7px;

      span {
        justify-content: center;
      }

      &.alert-button-role-cancel {
        background: var(--ion-color-lbl-color);
      }
    }
  }

  .alert-radio-group {
    border: none;
  }

  .alert-radio-label {
    padding-inline-start: 35px;
  }
}

.overview-parent {
  padding: 0;
}

.overview-row {
  background-color: var(--ion-color-step-1000);
  padding: 10px;

  .overview-col {
    p {
      color: var(--ion-border-color);
      font-size: 14px;
      margin-bottom: 0;
      font-family: var(--ion-font-family-book);
      margin-top: 0;
      font-weight: bolder;
    }

    h4 {
      color: var(--ion-color-step-600);
      margin: 5px 0 0;
      font-size: 15px;
      font-weight: 400;
      font-family: var(--ion-font-family-bold);

      strong {
        color: var(--ion-border-color);
      }

      &.higlight {
        color: var(--ion-color-primary);

        &.success {
          color: var(--ion-color-success);
        }
      }
    }
  }
}

.from-date-col {
  padding: 20px 15px 15px;

  span {
    font-size: 16px;
    color: var(--ion-color-step-600);
    font-family: var(--ion-font-family-book);
  }

  strong {
    padding: 0 7px;
    font-size: 16px;
    color: var(--ion-border-color);
    font-family: var(--ion-font-family-bold);
  }
}

.sc-ion-modal-md-h {
  ion-header {
    ion-toolbar {
      padding: 0;

      &:first-of-type {
        padding: 0;
      }
    }
  }
}

.header-md::after {
  display: none;
}

.app-toast-success {
  --background: var(--ion-color-success-shade);
}

.app-toast-warning {
  --background: var(--ion-color-warning);
}

.app-toast-danger {
  --background: var(--ion-color-danger);
}

.app-toast-dark {
  --background: var(--ion-color-dark);
}

.app-toast-primary {
  --background: var(--ion-color-primary);
}

.app-toast-secondary {
  --background: var(--ion-color-secondary);
}

.app-toast-tertiary {
  --background: var(--ion-color-tertiary);
}

.no-record {
  box-shadow: none;
  text-align: center;
  // color: var(--ion-color-primary);
  font-family: var(--ion-font-family-bold);

  .button-outline {
    --border-color: #747474 !important;
  }

  //   ion-card-content {
  //     font-size: 18px;
  //   }
  // }

  .info-icon {
    font-size: 19px;
  }

  ion-card-content {
    font-size: 18px;
  }
}

.error-msg {
  font-size: 15px;
}

.validation-msg {
  margin: 0;
  --min-height: inherit;
  padding: 5px 0 0;
}

.width-100 {
  width: 100%;
}

ion-textarea.correction-comment textarea.native-textarea {
  margin: 0 !important;
}

ion-fab-button {
  --background: var(--ion-color-menu-black);
  --background-activated: var(--ion-color-menu-black);
  --background-focused: var(--ion-color-menu-black);
  --background-hover: var(--ion-color-menu-black);
}

.padding-non {
  padding: 0;
}

.loading-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}

.spinner-lines.sc-ion-loading-ios,
.spinner-lines-small.sc-ion-loading-ios,
.spinner-bubbles.sc-ion-loading-ios,
.spinner-circles.sc-ion-loading-ios,
.spinner-crescent.sc-ion-loading-ios,
.spinner-dots.sc-ion-loading-ios {
  color: var(--ion-color-primary);
}

.customer-checkin {
  ion-input.custom-input input.native-input {
    margin-top: 8px !important;
  }
}

ion-refresher.refresher-native {
  display: block;
  z-index: 9999;
}

.customer-det-item {
  --min-height: 52px;
  margin-top: 2px;
}

.notification-list {
  ion-item {
    h2 {
      font-family: var(--ion-font-family-medium);
      font-size: 15px;
      color: var(--ion-color-step-600);
      white-space: normal;
      line-height: 22px;

      strong {
        color: #252525;
        font-weight: normal;
      }
    }
  }
}

app-level-configuration {
  width: 100%;
}

.export-btn {
  color: #007AFF;
  background-color: transparent;
}