ion-content {
  --background: var(--ion-color-menu-black);
  .display-img {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 10px 10px 110px 10px;;
  }
}
