<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">
      Customer Visits List
    </ion-title>
    <ion-buttons slot="end" fill="clear">
      <a routerLink="/dashboard" class="home-icon">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      <ion-icon name="settings-outline" class="home-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="visits && visits.length">
    <ion-col size="12" class="from-date-col">
      <span>Date:</span>
      <strong>
        {{visits && visits [0] && visits[0].checkInTimeStamp | dateTimeFormat:'date'}}
      </strong>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="visits && visits.length">
    <ng-container *ngIf="visits && visits.length">
      <ion-col size="12" sizeMd="12" sizeLg="6" *ngFor="let visit of visits">
        <app-visit-list-item-block [data]="visit"></app-visit-list-item-block>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-content>