<ion-header>
  <ion-toolbar>
    <ion-title mode="ios">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wrapper">
  <ion-row>
    <ion-col size="12">
      <form [formGroup]="settingsForm" (ngSubmit)="handleSubmit()">
        <ion-row>
          <ion-col>
            <ion-list lines="none">
              <ion-item lines="none" class="item-borderless" detail="false">
                Select levels for which data should be displayed
              </ion-item>
              <ion-item lines="none" class="item-borderless" detail="false">
                <ion-label>Level 1</ion-label>
                <ion-checkbox formControlName="level1" color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item lines="none" class="item-borderless" detail="false">
                <ion-label>Level 2</ion-label>
                <ion-checkbox formControlName="level2" color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item lines="none" class="item-borderless" detail="false">
                <ion-label>Level 3</ion-label>
                <ion-checkbox formControlName="level3" color="primary" slot="start"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="btn-row">
          <ion-col size="6">
            <ion-button color="btn-cancel" type="button" (click)="dismiss()" expand="full" mode="ios" strong="true">
              Cancel
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button type="submit" expand="full" color="primary" [disabled]="!settingsForm.valid" mode="ios"
              strong="true">
              Save
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>